@use "src/my-theme" as *;

table.match-display {
  tr {
    td {
      &.name-cell {
        font-size: 45px;
        font-weight: bold;
        text-align: left;
        padding: 20px;
        //border: 1px solid green;
      }

      &.game-score-cell {
        font-size: 36px;
        padding: 24px 16px;
        vertical-align: middle;
        //border: 1px solid purple;
      }

      &.current-game-score-small-cell {
        background-color: #d7c8f5;
        //background-color: lighten($primary-color, 60%);
      }

      &.timeout-symbol-cell {
        //border: 3px solid deepskyblue;
        vertical-align: middle;
        min-width: 45px;
      }

      &.games-won-cell {
        font-size: 70px;
        padding: 20px;
        width: 150px;
        //border: 2px solid deeppink;
      }

      &.current-game-score-cell {
        font-size: 130px;
        padding: 40px;
        width: 200px;
        //border: 1px solid blue;
      }

      &.align-bottom {
        vertical-align: bottom;
      }

      &.align-top {
        vertical-align: top;
      }

      &.separator-row {
        height: 30px;
      }
    }
  }
}

div.status-line {
  margin-top: 160px;
}

div.timer-display {
  font-size: 80px;
}

div.timout-taken-symbol {
  margin: 10px 0;
  //border: 2px solid cyan;

  mat-icon {
    font-size: 38px;
    height: 38px;
    width: 38px;
  }
}
