<app-centered-panel>
  <div>Connection to table # {{tableNumber}}, Status: {{isConnected ? 'connected' : 'disconnected'}}</div>
  <table class="match-display" *ngIf="matchData">
    <thead>
    <tr>
      <th [colSpan]="games.length">{{matchData?.playerAName}}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td *ngFor="let game of games; let idx = index;">
        <ng-container [ngSwitch]="idx">
          <ng-container *ngSwitchCase="0">{{ matchData?.match?.game1ScoreSideA }}</ng-container>
          <ng-container *ngSwitchCase="1">{{ matchData?.match?.game2ScoreSideA }}</ng-container>
          <ng-container *ngSwitchCase="2">{{ matchData?.match?.game3ScoreSideA }}</ng-container>
          <ng-container *ngSwitchCase="3">{{ matchData?.match?.game4ScoreSideA }}</ng-container>
          <ng-container *ngSwitchCase="4">{{ matchData?.match?.game5ScoreSideA }}</ng-container>
          <ng-container *ngSwitchCase="5">{{ matchData?.match?.game6ScoreSideA }}</ng-container>
          <ng-container *ngSwitchCase="6">{{ matchData?.match?.game7ScoreSideA }}</ng-container>
        </ng-container>
      </td>
    </tr>
    <tr>
      <td *ngFor="let game of games; let idx = index;">
        <ng-container [ngSwitch]="idx">
          <ng-container *ngSwitchCase="0">{{ matchData?.match?.game1ScoreSideB }}</ng-container>
          <ng-container *ngSwitchCase="1">{{ matchData?.match?.game2ScoreSideB }}</ng-container>
          <ng-container *ngSwitchCase="2">{{ matchData?.match?.game3ScoreSideB }}</ng-container>
          <ng-container *ngSwitchCase="3">{{ matchData?.match?.game4ScoreSideB }}</ng-container>
          <ng-container *ngSwitchCase="4">{{ matchData?.match?.game5ScoreSideB }}</ng-container>
          <ng-container *ngSwitchCase="5">{{ matchData?.match?.game6ScoreSideB }}</ng-container>
          <ng-container *ngSwitchCase="6">{{ matchData?.match?.game7ScoreSideB }}</ng-container>
        </ng-container>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <th [colSpan]="games.length">{{matchData?.playerBName}}</th>
    </tr>
    </tfoot>
  </table>
</app-centered-panel>
