@use "src/my-theme" as *;

table.match-display {
  color: white;

  tr {
    td {
      &.name-cell {
        font-size: 45px;
        font-weight: bold;
        text-align: left;
        padding: 20px;
        //border: 1px solid green;
      }

      &.game-score-cell {
        font-size: 36px;
        padding: 24px 16px;
        vertical-align: middle;
        //border: 1px solid purple;
      }

      &.current-game-score-small-cell {
        background-color: #d7c8f5;
        //background-color: lighten($primary-color, 60%);
      }

      &.timeout-symbol-cell {
        //border: 3px solid deepskyblue;
        vertical-align: middle;
        min-width: 45px;
      }

      &.games-won-cell {
        font-size: 70px;
        padding: 20px;
        width: 150px;
        //border: 2px solid deeppink;
      }

      &.current-game-score-cell {
        font-size: 130px;
        padding: 40px;
        width: 200px;
        //border: 1px solid blue;
      }

      &.align-bottom {
        vertical-align: bottom;
      }

      &.align-top {
        vertical-align: top;
      }

      &.separator-row {
        height: 30px;
      }

      &.cards-display-top {
        padding-bottom: 30px;
      }

      &.cards-display-bottom {
        padding-top: 30px;
      }

    }
  }
}

div.server-receiver-indicator {
  font-size: 45px;
  font-weight: bold;
  width: 1em;
  height: 1em;
  line-height: 1em;
  border-radius: 50%;
  color: black;
  text-align: center;
  background: white;
}

div.status {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0 10px 10px 0;
  color: white;
  font-size: 16px;
}

.connected {
  color: green;
}

.disconnected {
  color: red;
}

$timer-panel-width: 700px;
$timer-panel-height: 230px;

.timer-display {
  position: absolute;
  justify-content: center;
  top: calc((100vh / 2) - ($timer-panel-height / 2) + 72px);
  left: calc((100% - $timer-panel-width) / 2);
  height: $timer-panel-height;
  width: $timer-panel-width;
  z-index: 99;
  background-color: white;
  border-radius: 5px;
}

.timer-display-inner {
  margin-top: 100px;
  font-size: 100px;
}

div.timout-taken-symbol {
  margin: 10px 0;
  //border: 2px solid cyan;

  mat-icon {
    font-size: 38px;
    height: 38px;
    width: 38px;
  }
}

.purple-background {
  //background-image: url("../../../assets/images/gradient-purple-striped-background.jpg");
  background-image: url("../../../assets/images/purple-gradient-with-lines.jpg");
  //background-color: $primary-color;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 70px);
}
