@use "src/my-theme.scss" as *;

div.email-generator-container {
  //border: 1px solid brown;
  //height: 100%;
}

.title {
  padding-left: 10px;
}

.email-generator-container-work {
  //border: 1px solid red;
  height: calc(100vh - 190px);
  //height: 100%;
  overflow: hidden;
  margin: 0 10px;
}

.email-generator-form {
  //border: 2px solid green;
  height: calc(100vh - 125px);
  //height: 100%;
  overflow: auto;
}

textarea {
  width: 99%;
}

$list-height:  calc(100vh - 320px);
$events-list-height:  calc(100vh - 440px);

div.email-template-container {
  //border: 1px solid mediumpurple;
  height: 100%;
  overflow: auto;
}

div.recipients-container {
  height: 100%;
  overflow: hidden;
  //border: 1px solid deepskyblue;

  .event-list {
    height: $events-list-height;
    overflow-y: auto;
  }

  .buttons-panel {
    height: $list-height;
    overflow-y: hidden;
  }

  .recipient-list {
    height: $list-height;
    border: 1px solid gray;
    overflow-y: auto;
  }
}

mat-list-item:hover {
  background-color: lighten($primary-color, 40%);
  cursor: pointer;
}

