<div class="email-generator-container" *ngIf="emailCampaign">
  <div class="title mat-headline-6">
    {{ emailCampaign?.id ? 'Edit Email' : 'Create Email' }}
  </div>
  <form name="form" #f="ngForm" class="email-generator-form">
    <mat-toolbar fxLayoutGap="10px">
      <button mat-raised-button type="button" (click)="onCancel()">Cancel</button>
      <button mat-raised-button type="button" color="primary" (click)="onSave()" [disabled]="f.invalid">Save</button>
      <button mat-raised-button type="button" (click)="onSendEmails()" [disabled]="f.invalid || emailCampaign?.id == null">Send Emails</button>
      <button mat-raised-button type="button" (click)="onSendTestEmail()" [disabled]="f.invalid || emailCampaign?.id == null">Send Test Email</button>
      <button mat-raised-button type="button" (click)="copyRecipients()" [disabled]="!(filteredRecipients?.length > 0) || emailCampaign.allRecipients">Copy Recipients</button>
      <app-upload-file-component
        [disabledBtn]="false"
        [uploadButtonLabel]="'Upload Recipients File'"
        (uploadFinished)="onRecipientsUploadFinished($event)"
        [storagePath]="getRecipientsFileStoragePath()">
      </app-upload-file-component>

    </mat-toolbar>
    <mat-tab-group class="email-generator-container-work">
      <mat-tab label="Email Template">
        <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px" class="email-template-container">
          <mat-form-field>
            <mat-label>Email Name</mat-label>
            <input matInput name="name" type="text" [(ngModel)]="emailCampaign.name" required
                   (focusin)="onUnselect()">
            <mat-error>This field is required</mat-error>
          </mat-form-field>
          <mat-toolbar fxLayoutGap="10px">
            <span>Insert variables: </span>
            <button mat-raised-button type="button" (click)="onInsertVariable('first_name')">First Name</button>
            <button mat-raised-button type="button" (click)="onInsertVariable('last_name')">Last Name</button>
            <button mat-raised-button type="button" (click)="onInsertVariable('tournament_name')">Tournament Name
            </button>
            <mat-checkbox name="htmlEmail" [(ngModel)]="emailCampaign.htmlEmail">HTML Email</mat-checkbox>
          </mat-toolbar>
          <mat-form-field>
            <mat-label>Subject</mat-label>
            <input matInput name="subject" type="text" #subjectCtrl
                   placeholder="Enter email subject here..."
                   [(ngModel)]="emailCampaign.subject" required
                   (focusin)="onSelectedSubject()">
            <mat-error>This field is required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Body</mat-label>
            <textarea matInput name="body" type="text" #bodyCtrl
                      placeholder="Enter email body here..."
                      [(ngModel)]="emailCampaign.body" rows="15" required
                      (focusin)="onSelectedBody()"
            >
          </textarea>
            <mat-error>This field is required</mat-error>
          </mat-form-field>
        </div>
      </mat-tab>
      <mat-tab label="Recipients">
        <div fxLayout="row" fxLayoutAlign="start stretch" class="recipients-container">
          <div fxFlex="20%">
            <mat-checkbox name="allRecipients" [(ngModel)]="emailCampaign.allRecipients" (change)="onAllRecipientsChanged($event)">
              All users
            </mat-checkbox>
            <mat-checkbox name="excludeRegistered" [(ngModel)]="emailCampaign.excludeRegistered" (change)="onExcludeRegisteredChanged($event)"
            [disabled]="!emailCampaign?.allRecipients">
              Exclude Already Registered
            </mat-checkbox>
            <mat-checkbox name="toUploadedRecipients" [(ngModel)]="emailCampaign.includeUploadedRecipients"
                          (change)="onIncludeUploadedRecipients($event)">
              Include Uploaded Recipients
            </mat-checkbox>
            <ng-container *ngIf="emailCampaign?.allRecipients; else elseblock">
              <div class="mat-headline-6">Filter Recipients by States:</div>
              <mat-selection-list matInput name="state_filter" [(ngModel)]="emailCampaign.stateFilters"
                                  class="event-list" [disabled]="!emailCampaign?.allRecipients">
                <mat-list-option [value]="this.ALL_STATES" (click)="onClickState(ALL_STATES)">All States</mat-list-option>
                <mat-list-option *ngFor="let state of statesList" value="{{state.abbreviation}}"
                (click)="onClickState(state.abbbreviation)">{{state.name}}
                </mat-list-option>
              </mat-selection-list>
            </ng-container>
            <ng-template #elseblock>
              <div class="mat-headline-6">Filter Recipients by Events:</div>
              <mat-selection-list matInput name="events_filter" [(ngModel)]="emailCampaign.recipientFilters"
                                  class="event-list" [disabled]="emailCampaign?.allRecipients">
                <mat-list-option [value]="0" (click)="onSelectEvent(0)">All Events</mat-list-option>
                <mat-list-option *ngFor="let event of tournamentEvents" [value]="event.id"
                                 (click)="onSelectEvent(event.id)">
                  {{ event.name }}
                </mat-list-option>
              </mat-selection-list>
            </ng-template>
          </div>
          <div fxFlex="35%">
            <div class="mat-headline-6">Selected Recipients ({{filteredRecipients?.length ?? 0}})</div>
            <mat-list dense class="recipient-list" #selectedRecipientsCtrl>
              <mat-list-item *ngFor="let recipient of filteredRecipients"
                             (click)="onSelectedRecipientClick(recipient)"
                             (dblclick)="onRemoveRecipient(recipient)"
                             [matTooltip]="recipient.emailAddress">
                {{ getFullName(recipient) }}
              </mat-list-item>
            </mat-list>
          </div>
          <div fxFlex="10%">
            <div class="mat-headline-6">&nbsp;</div>
            <div class="buttons-panel" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
              <button mat-raised-button type="button" (click)="onRemoveAllRecipients()">Remove All >></button>
              <button mat-raised-button type="button" (click)="onRemoveRecipient(null)">Remove >></button>
              <button mat-raised-button type="button" (click)="onRestoreRecipient(null)"><< Restore</button>
              <button mat-raised-button type="button" (click)="onRestoreAllRecipients()"><< Restore All</button>
            </div>
          </div>
          <div fxFlex="35%">
            <div class="mat-headline-6">Removed Recipients ({{emailCampaign?.removedRecipients?.length ?? 0}})</div>
            <mat-list dense class="recipient-list" #removedRecipientsCtrl>
              <mat-list-item *ngFor="let recipient of emailCampaign.removedRecipients"
                             (click)="onRemovedRecipientClick(recipient)"
                             (dblclick)="onRestoreRecipient(recipient)"
                             [matTooltip]="recipient.emailAddress">
                {{ getFullName(recipient) }}
              </mat-list-item>
            </mat-list>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </form>
</div>
