div.email-generator-container {
  //border: 1px solid green;
  height: calc(100vh - 75px);
}

h2.title {
  padding-left: 10px;
}

div.email-generator-container-work {
  //border: 1px solid red;
  height: calc(100vh - 185px);
  overflow: auto;
}

