div.email-generator-container {
  //border: 1px solid green;
  height: calc(100vh - 75px);
}

h2.title {
  padding-left: 10px;
}

div.email-generator-container-work {
  //border: 1px solid red;
  height: calc(100vh - 185px);
  overflow: hidden;
  margin: 0 10px;
}

textarea {
  width: 99%;
}


div.recipients-container {
  height: 100%;
  overflow: hidden;

  .event-list {
    height: calc(100vh - 295px);
    overflow-y: auto;
  }

  .buttons-panel {
    height: calc(100vh - 295px);
    overflow-y: auto;
  }

  .recipient-list {
    height: calc(100vh - 295px);
    border: 1px solid gray;
    overflow-y: auto;
  }
}

