<div class="email-generator-container">
  <div class="title mat-headline-6">
    {{ emailCampaign?.id ? 'Edit Email' : 'Create Email' }}
  </div>
  <form name="form" #f="ngForm" class="email-generator-form">
    <mat-toolbar fxLayoutGap="10px">
      <button mat-raised-button type="button" (click)="onCancel()">Cancel</button>
      <button mat-raised-button type="button" color="primary" (click)="onSave()" [disabled]="f.invalid">Save</button>
      <button mat-raised-button type="button" (click)="onSendEmails()" [disabled]="f.invalid">Send Emails</button>
    </mat-toolbar>
    <mat-tab-group class="email-generator-container-work" *ngIf="emailCampaign">
      <mat-tab label="Email Template">
        <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px" class="email-template-container">
          <mat-form-field>
            <mat-label>Email Name</mat-label>
            <input matInput name="name" type="text" [(ngModel)]="emailCampaign.name" required
                   (focusin)="onUnselect()">
            <mat-error>This field is required</mat-error>
          </mat-form-field>
          <mat-toolbar fxLayoutGap="10px">
            <span>Insert variables: </span>
            <button mat-raised-button type="button" (click)="onInsertVariable('first_name')">First Name</button>
            <button mat-raised-button type="button" (click)="onInsertVariable('last_name')">Last Name</button>
            <button mat-raised-button type="button" (click)="onInsertVariable('tournament_name')">Tournament Name
            </button>
          </mat-toolbar>
          <mat-form-field>
            <mat-label>Subject</mat-label>
            <input matInput name="subject" type="text" #subjectCtrl
                   placeholder="Enter email subject here..."
                   [(ngModel)]="emailCampaign.subject" required
                   (focusin)="onSelectedSubject()">
            <mat-error>This field is required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Body</mat-label>
            <textarea matInput name="body" type="text" #bodyCtrl
                      placeholder="Enter email body here..."
                      [(ngModel)]="emailCampaign.body" rows="15" required
                      (focusin)="onSelectedBody()"
            >
          </textarea>
            <mat-error>This field is required</mat-error>
          </mat-form-field>
        </div>
      </mat-tab>
      <mat-tab label="Recipients">
        <div fxLayout="row" fxLayoutAlign="start stretch" class="recipients-container">
          <div fxFlex="20%">
            <div class="mat-headline-6">Filter Recipients by:</div>
            <mat-selection-list matInput name="events_filter" [(ngModel)]="emailCampaign.recipientFilters"
                                class="event-list">
              <mat-list-option [value]="0" (click)="onSelectEvent(0)">All Events</mat-list-option>
              <mat-list-option *ngFor="let event of tournamentEvents" [value]="event.id"
                               (click)="onSelectEvent(event.id)">
                {{ event.name }}
              </mat-list-option>
            </mat-selection-list>
          </div>
          <div fxFlex="35%">
            <div class="mat-headline-6">Selected Recipients ({{filteredRecipients?.length ?? 0}})</div>
            <mat-list dense class="recipient-list" #selectedRecipientsCtrl>
              <mat-list-item *ngFor="let recipient of filteredRecipients"
                             (click)="onSelectedRecipientClick(recipient)"
                             [matTooltip]="recipient.emailAddress">
                {{ recipient.fullName }}
              </mat-list-item>
            </mat-list>
          </div>
          <div fxFlex="10%">
            <div class="mat-headline-6">&nbsp;</div>
            <div class="buttons-panel" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
              <button mat-raised-button type="button" (click)="onRemoveRecipient()">Remove >></button>
              <button mat-raised-button type="button" (click)="onRestoreRecipient()"><< Restore</button>
            </div>
          </div>
          <div fxFlex="35%">
            <div class="mat-headline-6">Removed Recipients ({{emailCampaign?.removedRecipients?.length ?? 0}})</div>
            <mat-list dense class="recipient-list" #removedRecipientsCtrl>
              <mat-list-item *ngFor="let recipient of emailCampaign.removedRecipients"
                             (click)="onRemovedRecipientClick(recipient)"
                             [matTooltip]="recipient.emailAddress">
                {{ recipient.fullName }}
              </mat-list-item>
            </mat-list>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </form>
</div>
