<div class="mat-title" style="padding-left: 8px; width: 100%;">Club Affiliation Applications</div>
<mat-toolbar fxLayout="row" fxLayoutGap="10">
  <form>
    <button type="button" mat-raised-button color="" (click)="newApplication()" [disabled]="!canAddApplication()">
      <mat-icon matListIcon>add</mat-icon>
      New Application
    </button>
    <span class="toolbar-spacer-2"></span>
    <mat-form-field>
      <mat-label>Filter by Name</mat-label>
      <input matInput name="filterClubName" type="text" [ngModel]="filterClubName" #filterClubNameCtrl="ngModel">
    </mat-form-field>
  </form>
</mat-toolbar>
<div class="table-container">
  <mat-table class=".club-affiliation-application-table" matSort aria-label="Club Affiliation Applications">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
    </ng-container>

    <!-- City Column -->
    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef mat-sort-header>City</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.city}}</mat-cell>
    </ng-container>

    <!-- State Column -->
    <ng-container matColumnDef="state">
      <mat-header-cell *matHeaderCellDef mat-sort-header>State</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.state}}</mat-cell>
    </ng-container>

    <!-- Affiliation Expiration Date Column -->
    <ng-container matColumnDef="expirationDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Expiration Date</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.affiliationExpirationDate}}</mat-cell>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.status}}</mat-cell>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Actions</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="onDeleteApplication(row.id)" matTooltip="Delete" style="margin-right: 20px">
          <mat-icon matListIcon>delete</mat-icon>
        </button>
        <button mat-icon-button (click)="onCloneApplication(row.id)" matTooltip="Copy" style="margin-right: 20px">
          <mat-icon matListIcon>flip_to_front</mat-icon>
        </button>
        <button mat-icon-button [routerLink]="['/club/affiliationedit', row.id]" matTooltip="Edit">
          <mat-icon matListIcon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator
                 [length]="dataSource?.totalApplications$ | async"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]"
                 aria-label="Select page">
  </mat-paginator>
</div>
