div.mat-subtitle {
  margin-left: 20px;
  margin-top: 10px;
}

mat-card.detail {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  width: 400px;
}

table {
  tr {
    td {
      padding: 5px 40px 5px 0;
    }
  }
}
