<div class="mat-headline-6" style="padding-left: 8px; width: 100%;">Tournament Publishing: {{ tournamentProcessingRequest?.tournamentName }}</div>
<mat-toolbar fxLayout="row" fxLayoutGap="10">
  <button mat-raised-button type="button" [routerLink]="['/ui/tournamentsconfig']" >Back</button>
  <span class="toolbar-spacer-2"></span>
  <button type="button" mat-raised-button (click)="generateAllReports()" [disabled]="!isGenerateReportsEnabled()">
    <mat-icon matListItemIcon>note_add</mat-icon>
    Generate Reports
  </button>
</mat-toolbar>
<div *ngIf="tournamentProcessingRequest != null">
  <ng-container
    *ngIf="tournamentProcessingRequest.details != null && tournamentProcessingRequest.details.length > 0"></ng-container>
  <mat-card appearance="outlined" class="detail" *ngFor="let detail of tournamentProcessingRequest.details">
    <mat-card-content>
      <mat-card-subtitle>Status: {{detail.status }}</mat-card-subtitle>
      <div fxLayout="row" fxLayoutGap="70px">
        <div>
          <table class="reports-table">
            <tr *ngIf="detail.generateTournamentReport == true">
              <td class="reports-column">Tournament Report</td>
              <td class="links-column">
                <a *ngIf="detail.pathTournamentReport" href="" (click)="onDownloadDFile(detail.pathTournamentReport)">Download</a>
              </td>
            </tr>
            <tr *ngIf="detail.generateApplications">
              <td class="reports-column">USATT Applications</td>
              <td class="links-column">
                <a *ngIf="detail.pathApplications" href="" (click)="onDownloadDFile(detail.pathApplications)">Download</a>
              </td>
            </tr>
            <tr *ngIf="detail.generatePlayerList">
              <td class="reports-column">Player List</td>
              <td class="links-column"><a *ngIf="detail.pathPlayerList" href="" (click)="onDownloadDFile(detail.pathPlayerList)">Download</a></td>
            </tr>
            <tr *ngIf="detail.generateMatchResults">
              <td class="reports-column">Match Results Report</td>
              <td class="links-column"><a *ngIf="detail.pathMatchResults" href="" (click)="onDownloadDFile(detail.pathMatchResults)">Download</a></td>
            </tr>
            <tr *ngIf="detail.generateMembershipList">
              <td class="reports-column">Membership Report</td>
              <td class="links-column"><a *ngIf="detail.pathMembershipList" href="" (click)="onDownloadDFile(detail.pathMembershipList)">Download</a></td>
            </tr>
            <tr *ngIf="detail.generateDeclarationOfCompliance">
              <td class="reports-column">Declaration of Compliance</td>
              <td class="links-column"><a *ngIf="detail.pathDeclarationOfCompliance" href="" (click)="onDownloadDFile(detail.pathDeclarationOfCompliance)">Download</a></td>
            </tr>
          </table>
        </div>
        <div>
          <table class="header-table">
            <tr *ngIf="detail.createdOn != null">
              <td class="label-column">Generated on:</td>
              <td class="value-column">{{detail.createdOn | date: 'MMM-dd-yyyy hh:mm:ss aaa' }}</td>
            </tr>
            <tr *ngIf="detail.createdOn == null">
              <td class="label-column">Generating...</td>
              <td class="value-column"></td>
            </tr>
            <tr *ngIf="detail.paidOn != null">
                <td class="label-column">Paid on:</td>
              <td class="value-column">{{detail.paidOn | date : 'MMM-dd-yyyy hh:mm:ss aaa'}}</td>
            </tr>
            <tr *ngIf="detail.paidOn != null && detail.amountToPay > 0">
              <td class="label-column">Paid Amount:</td>
              <td class="value-column">{{ (detail.amountToPay / 100) | currency: currencyCode}}</td>
            </tr>
          </table>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions style="padding: 10px" fxLayout="row" fxLayoutGap="10px">
      <button mat-raised-button (click)="onSubmitRequest(detail.id)"
              [disabled]="!isSubmitReportsEnabled(detail)">Submit
      </button>
      <button mat-raised-button (click)="onDeleteRequest(detail.id)"
              [disabled]="!isDeleteReportsEnabled(detail)">Delete
      </button>
      <button mat-raised-button (click)="onPay(detail.id)" [disabled]="!isPaymentButtonEnabled(detail)">
        Pay {{ !isPaymentButtonEnabled(detail) ? '' : ((detail.amountToPay / 100) | currency : currencyCode) }}
      </button>
      <button mat-raised-button (click)="onProcess(detail.id)" [disabled]="!isMarkProcessedEnabled(detail)">
        Mark Processed
      </button>
    </mat-card-actions>
  </mat-card>
</div>
