@use "src/my-theme.scss" as *;
@use "sass:color";

table.match-scores-table {
  font-size: 16px;

  thead tr th {
    padding: 4px 4px;
    border: 1px solid gray;
    background-color: #F5F5F5;

    &.current-game-score-column {
      font-weight: bold;
      background-color: color.adjust($primary-color, $lightness: 30%) !important;
    }
  }

  tbody tr {
    td {
      border: 1px solid lightgray;
      padding: 4px 4px;

      &.player-name-column {
        vertical-align: middle;
        min-width: 200px;
      }

      &.player-code-column {
        vertical-align: middle;
        text-align: center;
        min-width: 20px;
      }

      &.game-score-column {
        min-width: 25px;
        width: 25px;
        text-align: right;
        vertical-align: middle;
      }

      &.games-column {
        text-align: center;
        vertical-align: middle;
        font-weight: bold;
      }

      &.current-game-score-column {
        //font-weight: bold;
      }
    }
  }
}
