<div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px" class="instructions-container">
  <div>The password must:</div>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <mat-icon [style.color]="hasUpperCaseCharacters() ? 'green' : 'lightgrey'">check_circle</mat-icon>
    <div>Contain upper case letters</div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <mat-icon [style.color]="hasLowerCaseCharacters() ? 'green' : 'lightgrey'">check_circle</mat-icon>
    <div>Contain lower case letters</div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <mat-icon [style.color]="hasDigits() ? 'green' : 'lightgrey'">check_circle</mat-icon>
    <div>Contain digits</div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <mat-icon [style.color]="hasSymbol() ? 'green' : 'lightgrey'">check_circle</mat-icon>
    <div>Contain one of ~!#$%^&*-+?</div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <mat-icon [style.color]="isLongEnough() ? 'green' : 'lightgrey'">check_circle</mat-icon>
    <div>Be at least 8 characters long</div>
  </div>
</div>
