@use "src/my-theme.scss" as *;

.wizard-button-bar {
  padding-top: 25px;
}

.status-confirmed{
  color: green;
}

.status-pending-confirmation {
  color: $warn-color;
}

.status-waiting-list {
  color: #42f042;
}

.status-not-entered {
  color: blueviolet;
}

.status-disqualified {
  color: hotpink;
}

table.summary-table {
  width: 100%;
  font-size: 16px;

  & tr {
    th {
      padding-top: 4px;
      &:first-child {
        width: 80%;
        text-align: left;
      }
      &:last-child {
        width: 20%;
        text-align: right;
      }
    }

    td {
      &:first-child {
        width: 80%;
        text-align: left;
      }
      &:last-child {
        width: 20%;
        text-align: right;
        vertical-align: text-top;
      }
      div.summary-item-second-line {
        font-size: 14px;
      }
    }
  }
}

.membership-expired {
  color: $warn-color;
}

.membership-not-expired {
  color: black;
}

table.ratings-table {
  tr {
    th {
      text-align: left;
      font-weight: bold;
    }

    td {
      padding: 8px;

      &.ratings-column {
        text-align: right;
      }
    }
  }
}

.event-item-line1 {
  font-size: 18px!important;
}

.event-item-line2 {
  font-size: 16px!important;
}

.doubles-entries {
  padding-bottom: 16px;
  padding-top: 8px;
}

button.event-button {
  background-color: lighten($primary-color, 30%);
}

div.event-button-label {
  font-size: 14px;
  padding-top: 4px;
  //border: 1px solid red;
  text-align: center;
}

.purple-bold-subheader {
  font-weight: bold;
  padding-top: 10px;
  border-bottom: 1px solid $primary-color;
}


