<div fxLayout="row">
  <div fxFlex></div>
  <div fxFlex.lt-md="100%" fxFlex="60%">
    <form name="form" (ngSubmit)="onSave(f.value)" #f="ngForm" novalidate>
      <input type="hidden" [ngModel]="entry?.id" name="id">
      <input type="hidden" [ngModel]="entry?.tournamentFk" name="tournamentFk">
      <mat-vertical-stepper linear>
        <mat-step label="Entry Type" *ngIf="!teamsTournament">
          <mat-radio-group [ngModel]="entry?.entryType" name="entryType" (change)="onChange(f.form)">
            <div fxLayout="column" fxLayoutGap="20px">
              <mat-radio-button *ngIf="!teamsTournament" value="INDIVIDUAL" [checked]="!teamsTournament">Individual</mat-radio-button>
              <mat-radio-button *ngIf="!teamsTournament" value="FAMILY" [checked]="!teamsTournament">Family</mat-radio-button>
              <mat-radio-button *ngIf="teamsTournament" value="GROUP" [checked]="teamsTournament">Team/Group</mat-radio-button>
            </div>
          </mat-radio-group>
          <div class="wizard-button-bar" fxLayout="row">
            <span fxFlex></span>
            <button mat-raised-button color="primary" matStepperNext type="button">Next</button>
          </div>
        </mat-step>
        <mat-step label="Group/Family Members" *ngIf="entry?.entryType == 'FAMILY' || teamsTournament">
          Select member to enter/modify entry for
          <mat-toolbar>
            <mat-toolbar-row>
              <button type="button" mat-button (click)="addMember()">
                <mat-icon matListIcon>add</mat-icon>
                Add Member
              </button>
            </mat-toolbar-row>
          </mat-toolbar>
          <table mat-table [dataSource]="otherPlayersBS$ | async" style="width: 100%">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>First & Last Name</th>
              <td mat-cell *matCellDef="let player">{{player.firstName}} {{player.lastName}}</td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>Action</th>
              <td mat-cell *matCellDef="let player">
                <button type="button" mat-icon-button (click)="editEntry(player.profileId)">
                  <mat-icon matListIcon>edit</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
          </table>
          <div class="wizard-button-bar" fxLayout="row">
            <button mat-raised-button matStepperPrevious type="button">Back</button>
            <span fxFlex></span>
            <button mat-raised-button color="primary" matStepperNext type="button">Next</button>
          </div>
        </mat-step>
        <mat-step label="USATT Membership">
          <h3>Membership expires: {{playerProfile?.membershipExpirationDate | date}}</h3>
          <mat-radio-group [ngModel]="entry?.membershipOption" name="membershipOption" (change)="onChange(f.form)">
            <div fxLayout="column" fxLayoutGap="30px" *ngFor="let option of membershipOptions">
                <mat-radio-button [value]="option.value" style="padding-top: 10px" [disabled]="!option.available">
                  {{option.label}} <span style="font-weight: bold">{{ (option.cost == 0) ? '' : option.cost | currency: 'USD'}}</span>
                </mat-radio-button>
            </div>
          </mat-radio-group>
          <div class="wizard-button-bar" fxLayout="row">
            <button mat-raised-button matStepperPrevious type="button">Back</button>
            <span fxFlex></span>
            <button mat-raised-button color="primary" matStepperNext type="button">Next</button>
          </div>
        </mat-step>
        <mat-step label="Events">
          <mat-list>
            <div class="mat-title">Entered Events</div>
            <mat-divider></mat-divider>
            <mat-list-item *ngFor="let enteredEvent of enteredEvents; last as last">
              <div mat-line>{{enteredEvent.event?.name}} - ${{ enteredEvent.price }}</div>
              <div mat-line>{{ enteredEvent.event?.day | eventDay: tournamentStartDate }} {{ enteredEvent.event?.startTime | startTime }}</div>
              <div mat-line [class]="getStatusClass(enteredEvent.status)">{{enteredEvent.status | eventEntryStatus }}</div>
              <button type="button" mat-button (click)="onEventWithdraw(enteredEvent.eventEntryFk)">Drop</button>
              <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
            </mat-list-item>
            <mat-divider></mat-divider>
            <div class="mat-title" style="padding-top: 10px">Events Available to Enter</div>
            <mat-divider></mat-divider>
            <mat-list-item *ngFor="let availableEvent of availableEvents; last as last2">
              <div mat-line>{{availableEvent.event?.name}} - ${{ availableEvent.price }}</div>
              <div mat-line>{{ availableEvent.event?.day | eventDay: tournamentStartDate }} {{ availableEvent.event?.startTime | startTime }}</div>
              <div mat-line [class]="getStatusClass(availableEvent.status)">{{ availableEvent.status | eventEntryStatus }}</div>
              <button type="button" mat-button (click)="onEventEnter(availableEvent.event?.id, availableEvent.eventEntryCommand)">Enter</button>
              <mat-divider [inset]="true" *ngIf="!last2"></mat-divider>
            </mat-list-item>
            <mat-divider></mat-divider>
            <div class="mat-title" style="padding-top: 10px">Events Not Available to Enter</div>
            <mat-divider></mat-divider>
            <mat-list-item *ngFor="let unavailableEvent of unavailableEvents; last as last3">
              <div mat-line>{{unavailableEvent.event?.name}} - ${{ unavailableEvent.price }}</div>
              <div mat-line>{{ unavailableEvent.event?.day | eventDay: tournamentStartDate }} {{ unavailableEvent.event?.startTime | startTime }}</div>
              <div mat-line>{{unavailableEvent.availabilityStatus | availabilityStatus }}</div>
              <mat-divider [inset]="true" *ngIf="!last3"></mat-divider>
            </mat-list-item>
          </mat-list>
          <div class="wizard-button-bar" fxLayout="row">
            <button mat-raised-button matStepperPrevious type="button">Back</button>
            <span fxFlex></span>
            <button mat-raised-button color="primary" matStepperNext type="button">Next</button>
          </div>
        </mat-step>
        <mat-step label="Summary">
          <table class="summary-table">
            <tbody>
            <tr>
              <th>Membership</th>
              <th>Price</th>
            </tr>
            <tr>
              <td>
                {{ getMembershipLabel(entry?.id) }}
              </td>
              <td>
                {{ getMembershipPrice(entry?.id) | currency: tournamentCurrency}}
              </td>
            </tr>
            <tr>
              <th>Events</th>
              <th></th>
            </tr>
            <tr *ngFor="let enteredEvent of enteredEvents; last as last">
              <td>
                <div>{{ enteredEvent?.event?.name }}</div>
                <div class="summary-item-second-line">{{ enteredEvent?.event?.day | eventDay: tournamentStartDate }} {{ enteredEvent?.event?.startTime | startTime }}</div>
              </td>
              <td>
                {{ enteredEvent?.price | currency: tournamentCurrency }}
              </td>
            </tr>
            <tr>
              <td><h2>Total</h2></td>
              <td><h2>{{ getTotal() | currency: tournamentCurrency }}</h2></td>
            </tr>
            <ng-container *ngIf="paymentsRefunds?.length > 0">
              <tr>
                <th>Payments & Refunds</th>
                <th></th>
              </tr>
              <tr *ngFor="let paymentRefund of paymentsRefunds; last as last">
                <td>
                  <div>Payment on</div>
                  <div class="summary-item-second-line">{{ paymentRefund.transactionDate | date:'medium'}}</div>
                </td>
                <td>
                  {{ (paymentRefund.amount / 100) | currency: tournamentCurrency }}
                </td>
              </tr>
            </ng-container>
            </tbody>
            <tfoot>
            <tr>
              <td><h2>Balance</h2></td>
              <td><h2>{{ getBalance() | currency: tournamentCurrency }}</h2>
              </td>
            </tr>
            </tfoot>
          </table>
          <div class="wizard-button-bar" fxLayout="row">
            <button mat-raised-button matStepperPrevious type="button">Back</button>
            <span fxFlex></span>
            <ng-container [ngSwitch]="balanceAction()">
              <button *ngSwitchCase="BALANCE_ACTION_CONFIRM" mat-raised-button color="primary" type="button" (click)="onConfirmWithoutPayment()">Confirm Changes</button>
              <button *ngSwitchCase="BALANCE_ACTION_PAY"     mat-raised-button color="primary" type="button" (click)="onPayPlayerTotal(getBalance())">Pay {{ getBalance() | currency: tournamentCurrency }}</button>
              <button *ngSwitchCase="BALANCE_ACTION_REFUND"  mat-raised-button color="primary" type="button" (click)="onIssueRefund(getBalance())">Refund {{ (-1 * getBalance()) | currency: tournamentCurrency }}</button>
              <button *ngSwitchCase="BALANCE_ACTION_NOCHANGE" mat-raised-button color="primary" matStepperNext type="submit">Close</button>
            </ng-container>
          </div>
        </mat-step>
<!--        <mat-step label="Completed">-->
<!--          Your changes have been confirmed successfully.  A receipt of your purchase was sent to your email.-->
<!--          <div class="wizard-button-bar" fxLayout="row">-->
<!--&lt;!&ndash;            <button mat-raised-button matStepperPrevious type="button">Back</button>&ndash;&gt;-->
<!--            <span fxFlex></span>-->
<!--            <button mat-raised-button color="primary" type="submit">Finish</button>-->
<!--          </div>-->
<!--        </mat-step>-->
      </mat-vertical-stepper>
    </form>
  </div>
  <div fxFlex></div>
</div>
