<div fxLayout="row" *ngIf="entry != null">
  <div fxFlex></div>
  <div fxFlex.lt-md="100%" fxFlex="60%">
    <form name="form" (ngSubmit)="onSave(f.value)" #f="ngForm" novalidate>
      <input type="hidden" [ngModel]="entry.id" name="id">
      <input type="hidden" [ngModel]="entry.tournamentFk" name="tournamentFk">
      <mat-vertical-stepper linear>
        <mat-step label="USATT Membership">
          <h3 [className]="membershipIsExpired ? 'membership-expired' : 'membership-not-expired'">
            Membership expires: {{playerProfile?.membershipExpirationDate | date}}
          </h3>
          <mat-radio-group [ngModel]="entry.membershipOption" name="membershipOption" (change)="onChange(f.form)">
            <div fxLayout="column" fxLayoutGap="30px" *ngFor="let option of membershipOptions">
                <mat-radio-button [value]="option.value" style="padding-top: 10px" [disabled]="!option.available">
                  {{option.label}} <span style="font-weight: bold">{{ (option.cost == 0) ? '' : option.cost | currency: tournamentCurrency }}</span>
                </mat-radio-button>
            </div>
          </mat-radio-group>
          <div style="width: 350px;">
              <mat-label style="width: 250px; padding-right: 10px;">USATT National Team donation</mat-label>
              <mat-form-field style="width: 70px;">
                <span matPrefix>{{tournamentCurrencySymbol}}&nbsp;</span>
                <input matInput type="number" step="5" min="0" name="usattDonation" [ngModel]="entry.usattDonation" (change)="onChange(f.form)">
              </mat-form-field>
          </div>
          <table class="ratings-table">
            <tr>
              <th>Ratings</th>
              <th></th>
            </tr>
            <tbody>
            <tr>
              <td>Seed</td>
              <td class="ratings-column">{{ entry.seedRating }}</td>
            </tr>
            <tr>
              <td>Eligibility as of ({{ tournament.configuration.eligibilityDate | date }})</td>
              <td class="ratings-column">{{entry.eligibilityRating}}</td>
            </tr>
            </tbody>
          </table>
          <div class="wizard-button-bar" fxLayout="row">
            <span fxFlex></span>
            <button mat-raised-button color="primary" matStepperNext type="button">Next</button>
          </div>
        </mat-step>
        <mat-step label="Events" [completed]="!hasEventsError()">
          <mat-action-list>
            <div matSubheader>Entered Events</div>
            <mat-divider></mat-divider>
            <mat-list-item *ngFor="let enteredEvent of enteredEvents; last as last">
              <div fxLayout="row" fxLayoutAlign="space-between start">
                <div>
                  <div matListItemTitle class="event-item-line1">{{enteredEvent.event?.name}}</div>
                  <div matListItemLine class="event-item-line2">{{ enteredEvent.event?.day | eventDay: tournamentStartDate }} {{ enteredEvent.event?.startTime | startTime }}</div>
                  <div matListItemLine class="event-item-line2" [class]="getStatusClass(enteredEvent.status)">{{enteredEvent.status | eventEntryStatus }} &nbsp; ${{ enteredEvent.price }}</div>
                </div>
                <div style="margin-right: 8px">
                  <button type="button" mat-fab color="" class="event-button" (click)="onEventWithdraw(enteredEvent.eventEntryFk)">
                    <mat-icon>{{getEnterButtonIcon(enteredEvent.eventEntryCommand)}}</mat-icon>
                  </button>
              </div>
              </div>
              <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
            </mat-list-item>
            <mat-divider></mat-divider>
            <div matSubheader style="padding-top: 10px">Events Available to Enter</div>
            <mat-divider></mat-divider>
            <mat-list-item *ngFor="let availableEvent of availableEvents; last as last2">
              <div fxLayout="row" fxLayoutAlign="space-between start">
                <div>
                  <div matListItemTitle class="event-item-line1">{{availableEvent.event?.name}}</div>
                  <div matListItemLine class="event-item-line2">{{ availableEvent.event?.day | eventDay: tournamentStartDate }} {{ availableEvent.event?.startTime | startTime }}</div>
                  <div matListItemLine class="event-item-line2" [class]="getStatusClass(availableEvent.status)">{{ availableEvent.status | eventEntryStatus }} &nbsp; ${{ availableEvent.price }}</div>
                </div>
                <div style="margin-right: 8px">
                  <button type="button" mat-fab color=""  class="event-button" (click)="onEventEnter(availableEvent.event?.id, availableEvent.eventEntryCommand)">
                    <mat-icon>{{getEnterButtonIcon(availableEvent.eventEntryCommand)}}</mat-icon>
                  </button>
                </div>
              </div>
              <mat-divider [inset]="true" *ngIf="!last2"></mat-divider>
            </mat-list-item>
            <mat-divider></mat-divider>
            <div matSubheader style="padding-top: 10px">Events Not Available to Enter</div>
            <mat-divider></mat-divider>
            <mat-list-item *ngFor="let unavailableEvent of unavailableEvents; last as last3">
              <div matListItemTitle class="event-item-line1">{{unavailableEvent.event?.name}} </div>
              <div matListItemLine class="event-item-line2">{{ unavailableEvent.event?.day | eventDay: tournamentStartDate }} {{ unavailableEvent.event?.startTime | startTime }}</div>
              <div matListItemLine class="event-item-line2">{{unavailableEvent.availabilityStatus | availabilityStatus }} &nbsp; ${{ unavailableEvent.price }}</div>
              <mat-divider [inset]="true" *ngIf="!last3"></mat-divider>
            </mat-list-item>
          </mat-action-list>
          <mat-error *ngIf="showNoEventsError()">You didn't select any events</mat-error>
          <div class="wizard-button-bar" fxLayout="row">
            <button mat-raised-button matStepperPrevious type="button">Back</button>
            <span fxFlex></span>
            <button mat-raised-button color="primary" type="button" (click)="onLeavingEvents()">Next</button>
          </div>
        </mat-step>
        <mat-step label="Doubles Partners" *ngIf="doublesEntries.length > 0">
          <div *ngFor="let doublesEnteredEvent of doublesEntries" class="doubles-entries">
            <div fxLayout="column">
              <div>Partner for '{{doublesEnteredEvent.eventName}}'</div>
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <mat-form-field style="width: 250px;">
                  <input matInput type="text" [readonly]="true" [ngModel]="doublesEnteredEvent.partnerName" [name]="doublesEnteredEvent.varName"/>
                </mat-form-field>
                <button mat-raised-button type="button" (click)="onFindDoublesPartnerByName(doublesEnteredEvent.eventFk)">Select</button>
              </div>
            </div>
          </div>
          <div class="wizard-button-bar" fxLayout="row">
            <button mat-raised-button matStepperPrevious type="button">Back</button>
            <span fxFlex></span>
            <button mat-raised-button color="primary" matStepperNext type="button">Next</button>
          </div>
        </mat-step>
        <mat-step label="Summary">
          <app-entry-summary-table [entryTotal]="getTotal()"
                                   [summaryReportItems]="getSummaryReportItems()"
                                   [tournamentCurrency]="tournamentCurrency">
          </app-entry-summary-table>
          <div class="wizard-button-bar" fxLayout="row">
            <button mat-raised-button matStepperPrevious type="button">Back</button>
            <span fxFlex></span>
            <button mat-raised-button color="primary" matStepperNext type="button">Next</button>
          </div>
        </mat-step>
        <mat-step label="Payment or Refund">
          <table class="summary-table">
            <tbody>
            <ng-container *ngIf="paymentsRefunds?.length > 0">
              <tr>
                <th>Payments & Refunds</th>
                <th></th>
              </tr>
              <tr *ngFor="let paymentRefund of paymentsRefunds; last as last">
                <td>
                  <div>{{ isPayment(paymentRefund) ? 'Payment' : 'Refund' }}</div>
                  <div class="summary-item-second-line">on {{ paymentRefund.transactionDate | date:'medium'}}</div>
                </td>
                <td>
                  <ng-container *ngIf="paymentRefund.paidAmount !== paymentRefund.amount">
                    {{ isPayment(paymentRefund) ? '' : '-' }}{{ (paymentRefund.paidAmount / 100) | currency: paymentRefund.paidCurrency }} =
                  </ng-container>
                    {{ isPayment(paymentRefund) ? '' : '-' }}{{ (paymentRefund.amount / 100) | currency: tournamentCurrency }}
                </td>
              </tr>
              <tr>
                <td style="border-top: 1px solid black"><h2>Payments & Refunds Total</h2></td>
                <td style="border-top: 1px solid black"><h2>{{getPaymentsRefundsTotal() | currency: tournamentCurrency}}</h2></td>
              </tr>
              <tr>
                <td><h2>Entry Total</h2></td>
                <td><h2>{{ getTotal() | currency: tournamentCurrency }}</h2></td>
              </tr>
            </ng-container>
            </tbody>
            <tfoot>
            <tr>
              <td><h1>{{ (getBalance() < 0) ? 'REFUND' : 'BALANCE' }}</h1></td>
              <td><h1>{{ getAbsoluteBalance() | currency: tournamentCurrency }}</h1>
              </td>
            </tr>
            <tr *ngIf="tournamentCurrency != playerCurrency">
              <ng-container *ngIf="balanceAction() === BALANCE_ACTION_PAY">
                <td><h2>Pay in {{playerCurrency}}</h2></td>
                <td>
                  <button mat-raised-button color="primary" type="button"
                          (click)="onPayPlayerTotalInPlayerCurrency(getAbsoluteBalanceInPlayerCurrency(), getBalance())">
                    Pay {{ getAbsoluteBalanceInPlayerCurrency() | currency: playerCurrency: 'code' }}
                  </button>
                </td>
              </ng-container>
              <ng-container *ngIf="balanceAction() === BALANCE_ACTION_REFUND">
                <td><h2>Refund in {{playerCurrency}}</h2></td>
                <td>
                  <button mat-raised-button color="primary" type="button"
                          (click)="onIssueRefundInPlayerCurrency(getAbsoluteBalanceInPlayerCurrency(), getAbsoluteBalance())">
                    Refund {{ getAbsoluteBalanceInPlayerCurrency() | currency: playerCurrency: 'code' }}
                  </button>
                </td>
              </ng-container>
            </tr>
            </tfoot>
          </table>
          <div class="wizard-button-bar" fxLayout="row">
            <button mat-raised-button matStepperPrevious type="button">Back</button>
            <span fxFlex></span>
            <ng-container [ngSwitch]="balanceAction()">
              <button *ngSwitchCase="BALANCE_ACTION_CONFIRM" mat-raised-button color="primary" type="button" (click)="onConfirmWithoutPayment()">Confirm Changes</button>
              <button *ngSwitchCase="BALANCE_ACTION_PAY"     mat-raised-button color="primary" type="button" (click)="onPayPlayerTotal(getBalance())">Pay {{ getBalance() | currency: tournamentCurrency }}</button>
              <button *ngSwitchCase="BALANCE_ACTION_REFUND"  mat-raised-button color="primary" type="button" (click)="onIssueRefundInTournamentCurrency(getAbsoluteBalance())">Refund {{ getAbsoluteBalance() | currency: tournamentCurrency }}</button>
              <button *ngSwitchCase="BALANCE_ACTION_NOCHANGE" mat-raised-button color="primary" matStepperNext type="submit">Close</button>
            </ng-container>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </form>
  </div>
  <div fxFlex></div>
</div>
