@use '@angular/material' as mat;

@include mat.all-component-typographies();
@include mat.elevation-classes();
@include mat.app-background();

// Define the theme.
$candy-app-primary: mat.m2-define-palette(mat.$m2-deep-purple-palette);
$candy-app-accent: mat.m2-define-palette(mat.$m2-amber-palette);
$candy-app-warn: mat.m2-define-palette(mat.$m2-red-palette);

$primary-color: mat.m2-get-color-from-palette($candy-app-primary);
$accent-color: mat.m2-get-color-from-palette($candy-app-accent);
$warn-color: mat.m2-get-color-from-palette($candy-app-warn);

$custom-typography: mat.m2-define-typography-config(
  $font-family: 'Roboto, monospace',
    // overrides
  //$caption: mat.define-typography-level(20px, 28px, 400),
  $button: mat.m2-define-typography-level(18px, 18px, 500),
  $body-2: mat.m2-define-typography-level(18px, 20px, 400),
    // standard
  $headline-1: mat.m2-define-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
  $headline-2: mat.m2-define-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
  $headline-3: mat.m2-define-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
  $headline-4: mat.m2-define-typography-level(34px, 40px, 400),
  $headline-5: mat.m2-define-typography-level(24px, 32px, 400),
  $headline-6: mat.m2-define-typography-level(20px, 32px, 500),
  $subtitle-1: mat.m2-define-typography-level(16px, 28px, 400),
  $body-1: mat.m2-define-typography-level(15px, 24px, 400),
  $subtitle-2: mat.m2-define-typography-level(16px, 24px, 500),
  /* TODO(mdc-migration): No longer supported. Use `body-1` instead.
  // Line-height must be unit-less fraction of the font-size.
  $input:         mat.define-typography-level(inherit, 1.125, 400)
 */
);
//@include mat.input-typography ($custom-typography);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat.m2-define-light-theme((
  color: (
    primary: $candy-app-primary,
    accent: $candy-app-accent,
    warn: $candy-app-warn
  ),
  typography: $custom-typography,
));

@include mat.all-component-themes($candy-app-theme);

//$list-hover-color: mat.get-color-from-palette($primary-color, A200);

// tournament tree styles
$ngtt-background-color: white !default;
$ngtt-match-wrapper-width: 239px !default;
$ngtt-match-wrapper-height: 76px !default;
$ngtt-vertical-match-padding: 15px !default;
$ngtt-round-gutters: 15px !default;
$ngtt-bracket-border-radius: 0 !default;
$ngtt-bracket-line-width: 2px !default;

@import 'node_modules/ng-tournament-tree/styles/ngtt-styles';

