@use '~@angular/material' as mat;
@import '~@angular/material/theming';

// Create a config with the default typography levels.
$config: mat.define-typography-config();

// Define a custom typography config that overrides the font-family as well as the
$custom-typography: mat.define-typography-config(
  $font-family: 'Roboto, monospace',
    // overrides
  $caption:       mat.define-typography-level(20px, 28px, 400),
  $button:        mat.define-typography-level(18px, 18px, 500),
  $body-1:        mat.define-typography-level(18px, 20px, 400),

  // standard
  $display-4:     mat.define-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
  $display-3:     mat.define-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
  $display-2:     mat.define-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
  $display-1:     mat.define-typography-level(34px, 40px, 400),
  $headline:      mat.define-typography-level(24px, 32px, 400),
  $title:         mat.define-typography-level(20px, 32px, 500),
  $subheading-2:  mat.define-typography-level(16px, 28px, 400),
  $subheading-1:  mat.define-typography-level(15px, 24px, 400),
  $body-2:        mat.define-typography-level(14px, 24px, 500),
    // Line-height must be unit-less fraction of the font-size.
  $input:         mat.define-typography-level(inherit, 1.125, 400)
);

@include mat.core ($custom-typography);
//@include mat.input-typography ($custom-typography);

// Define the theme.
$candy-app-primary: mat.define-palette(mat.$deep-purple-palette);
$candy-app-accent: mat.define-palette(mat.$amber-palette);
$candy-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat.define-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

@include mat.all-component-themes($candy-app-theme);

$primary-color: mat.get-color-from-palette($candy-app-primary);
$accent-color: mat.get-color-from-palette($candy-app-accent);
$warn-color: mat.get-color-from-palette($candy-app-warn);

//$list-hover-color: mat.get-color-from-palette($primary-color, A200);

$ngtt-background-color: white;
//$ngtt-bracket-separator-color: yellow;
//$ngtt-match-container-background: pink;

$ngtt-match-wrapper-width: 204px !default;
$ngtt-match-wrapper-height: 76px !default;
$ngtt-vertical-match-padding: 15px !default;
$ngtt-round-gutters: 15px !default;
$ngtt-bracket-border-radius: 0 !default;
$ngtt-bracket-line-width: 2px !default;

@import '~ng-tournament-tree/styles/ngtt-styles';
