@use "src/my-theme" as *;

h2 {
  padding-left: 16px;
  padding-top: 16px;
  font-size: 16px;
  font-weight: bold;
}

.toolbar-spacer-2 {
  margin-right: 16px;
}

mat-toolbar {
  min-width: calc(100vw - 440px);
}

.event-list {
  width: 220px;
  height: calc(100vh - 172px);
  overflow-y: auto;
}

.not-selected {
  background-color: white;
}

.selected {
  background-color: $accent-color;
}

mat-list-item:hover {
  background-color: #7A73FF;
}

draws-container {
  height: calc(100vh - 194px);
  overflow: hidden;
}

.all-draws-panel-edit {
  height: calc(100vh - 180px);
}
