# Editor-based HTTP Client requests
http-client.private.env.json
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

kubernetes
/server/src/main/resources/vault.properties
/server/ssl-old/**/*.*
/Umpire Touchpad system/*.*
/client/.angular/cache/**/*.*
/FeaturesToDo.txt
/ProjectOnboardingInstructions.txt
/**/gradle-wrapper.*
/**/gradlew*
/**/*server.crt
/**/*server.key
/**/*keystore.p12
/**/vault*.properties
/.idea/modules
/**/application-dev.yml