<div class="page-container">
  <div class="mat-headline-6" style="padding-left: 8px; width: 100%;">Verify Memberships: {{ tournamentName }}</div>
  <mat-toolbar fxLayout="row" fxLayoutGap="10">
    <button mat-raised-button type="button" [routerLink]="returnUrl">Back</button>
    <button mat-raised-button type="button" (click)="onContactPlayers()">Contact Players by Email</button>
  </mat-toolbar>
  <div class="membership-info-container" *ngIf="membershipInfos != null">
    <table class="membership-info-table">
      <thead>
      <tr>
        <th>#</th>
        <th>Player Name</th>
        <th>Membership Id</th>
        <th>Membership Expires</th>
        <th>Membership Purchased</th>
        <th>Entry</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let membershipInfo of membershipInfos; let idx = index;">
        <td>{{ idx + 1 }}</td>
        <td>
          <a [routerLink]="['/ui/userprofile/edit', membershipInfo.profileId]"
             [state]="{waitingListReturnUrl: thisUrl}">{{ membershipInfo.playerName }}</a>
        </td>
        <td>{{ membershipInfo.membershipId }}</td>
        <td [class]="isUnpaid(membershipInfo.expirationDate, membershipInfo.membershipType) ? 'unpaid-membership' :
         (isPaidUnnecessarily(membershipInfo.expirationDate, membershipInfo.membershipType) ? 'paid-unnecessarily-membership' : '')">{{ membershipInfo.expirationDate | date }}</td>
        <td>{{ getMembershipOptionLabel(membershipInfo.membershipType) }}</td>
        <td>
          <a [routerLink]="['/ui/entries/entryview/', tournamentId, 'edit', membershipInfo.entryId]"
             [state]="{returnUrl: thisUrl}">View</a>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <th colspan="4">&nbsp;</th>
        <th class="important-header">Purchased Membership Totals</th>
        <th>&nbsp;</th>
      </tr>
      <tr>
        <th colspan="4">&nbsp;</th>
        <th>{{getMembershipOptionLabel(MembershipType.TOURNAMENT_PASS_ADULT)}}</th>
        <th>{{ countPassAdult }}</th>
      </tr>
      <tr>
        <th colspan="4">&nbsp;</th>
        <th>{{getMembershipOptionLabel(MembershipType.TOURNAMENT_PASS_JUNIOR)}}</th>
        <th>{{ countPassJunior }}</th>
      </tr>
      <tr>
        <th colspan="4">&nbsp;</th>
        <th>{{getMembershipOptionLabel(MembershipType.BASIC_PLAN)}}</th>
        <th>{{ countBasic }}</th>
      </tr>
      <tr>
        <th colspan="4">&nbsp;</th>
        <th>{{getMembershipOptionLabel(MembershipType.PRO_PLAN)}}</th>
        <th>{{ countPro }}</th>
      </tr>
      <tr>
        <th colspan="4">&nbsp;</th>
        <th>{{getMembershipOptionLabel(MembershipType.LIFETIME)}}</th>
        <th>{{ countLifetime }}</th>
      </tr>
      <tr>
        <th colspan="4">&nbsp;</th>
        <th class="important-header">All Memberships</th>
        <th class="important-header">{{ countPassAdult + countPassJunior + countBasic + countPro + countLifetime }}</th>
      </tr>
      <tr>
        <th colspan="4">&nbsp;</th>
        <th class="unpaid-membership">Total unpaid</th>
        <th>{{ getUnpaidCount() }}</th>
      </tr>
      <tr>
        <th colspan="4">&nbsp;</th>
        <th class="paid-unnecessarily-membership">Total paid unnecessarily</th>
        <th>{{ getUnnecessaryPaidCount() }}</th>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
