@use "src/my-theme.scss" as *;

$field-width: 270px;

.password-instructions {
  text-align: start;
  max-width: $field-width;
  padding-bottom: 15px;
}

.other-field {
  max-width: $field-width;
}

.password-field {
  width: $field-width;
}

.registration-error-message {
  max-width: $field-width;
  color: $warn-color;
}

.registration-ok-message {
  max-width: $field-width;
  font-size: 17px;
  color: black;
}
