@use "src/my-theme.scss" as *;

$field-width: 230px;

mat-form-field {
  max-width: $field-width;
  min-width: $field-width;
}

.password-instructions {
  text-align: start;
  max-width: $field-width;
  padding-bottom: 15px;
}

.registration-error-message {
  max-width: $field-width;
  color: $warn-color;
}

.registration-ok-message {
  max-width: $field-width;
  color: black;
}
