
  <h1 style="text-align: center">Sign Up</h1>
  <form name="form" #f="ngForm" novalidate>
    <div fxLayout="column" fxLayoutAlign="start center" [hidden]="registrationInProgress">
      <mat-form-field>
        <input type="text" matInput placeholder="First Name" name="firstName" [(ngModel)]="firstName" required/>
        <mat-error>First Name is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput placeholder="Last Name" name="lastName" [(ngModel)]="lastName" required/>
        <mat-error>Last Name is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="email" matInput placeholder="Email" name="email" [(ngModel)]="email" required>
        <mat-error>Email is required</mat-error>
      </mat-form-field>
      <p class="password-instructions">Password must contain: upper and lower case letters and digits and be at least 8
        characters long</p>
      <mat-form-field>
        <input type="password" matInput placeholder="Password" name="password" [(ngModel)]="password"
               required pattern="[a-zA-Z0-9]{8,}"/>
        <mat-error *ngIf="f.form.controls['password']?.errors?.required">Password is required</mat-error>
        <mat-error *ngIf="f.form.controls['password']?.errors?.pattern">Invalid password</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="Reenter Password" name="password2" [(ngModel)]="password2"
               required pattern="{{ password }}" [errorStateMatcher]="crossFieldErrorMatcher"/>
        <mat-error *ngIf="f.form.controls['password2']?.errors?.required">Password is required</mat-error>
        <mat-error *ngIf="f.form.controls['password2']?.errors?.pattern">Passwords don't match</mat-error>
      </mat-form-field>
    </div>
  </form>
  <!--  </mat-card-content>-->
  <!--  <mat-card-actions>-->
  <div class="form-group">
    <button mat-raised-button color="primary" [disabled]="!f.form.valid" (click)="register()">REGISTER</button>
  </div>
  <!--  </mat-card-actions>-->
  <!--  <mat-card-footer>-->
  <mat-spinner *ngIf="registrationInProgress" style="margin:0 auto;" diameter="40"></mat-spinner>
  <p [hidden]="registrationInProgress" [innerHtml]="message" class="registration-error-message"></p>
  <!--  </mat-card-footer>-->
