<app-centered-panel>
  <form #f="ngForm" name="form" *ngIf="tournaments" style="min-width: 300px">
    <div fxLayout="column" fxLayoutGap="10px">
      <ng-container *ngIf="tournaments?.length === 1; else selectTournament;">
        <div>
          <h3>Select the table at <span style="font-weight: bold">{{tournaments[0].name}}</span> to connect to</h3>
          <input type="hidden" name="tournamentId" [ngModel]="tournaments[0].id">
        </div>
      </ng-container>
      <ng-template #selectTournament>
        <h3>Select the tournament and table to connect to</h3>
        <mat-form-field>
          <mat-label>Tournament</mat-label>
          <mat-select matInput type="text" name="tournamentId"
                      [(ngModel)]="tournamentId" (valueChange)="onChangeTournament($event)" required>
            <mat-option *ngFor="let tournament of tournaments" value="{{tournament.id}}">
              {{tournament.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-template>
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile *ngFor="let table of tournamentTables">
          <button type="button" mat-raised-button (click)="onConnect(table)">Table {{table}}</button>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </form>
</app-centered-panel>

