<p style="text-align: center; margin-top: 20px;" class="mat-h1">Sign in</p>
<form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
  <div fxLayout="column" fxLayoutAlign="start stretch"  style="border: 0px solid red;">
    <div fxLayout="row" fxLayoutAlign="start center" style="border: 0px solid greenyellow;">
      <mat-form-field class="sign-in-field">
        <input matInput type="email" placeholder="Email" name="email" [(ngModel)]="email" required>
        <mat-error>This field is required</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" style="border: 0px solid green;">
      <mat-form-field class="sign-in-field">
        <input matInput [type]="!showPassword ? 'password' : 'text'"
               placeholder="Password" name="password" [(ngModel)]="password" required>
        <mat-error>This field is required</mat-error>
        <mat-icon matSuffix class="material-icons md-dark md-inactive" (click)="toggleShowPassword()" >{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayoutAlign="start center">
      <button mat-raised-button color="primary" style="margin-top: 20px; margin-bottom: 8px; width: calc(100% - 40px)"
              debounceClicks (debounceClick)="login()">LOGIN</button>
      <app-message-area [message]="status" [isError]="!isSuccess" [minHeight]="'32px'"></app-message-area>
    </div>
  </div>
</form>
<div style="text-align: center">
  <h3>Don't have an account? <a mat-button color="primary" routerLink="../register">SIGN UP</a></h3>
  <h3>Forgot password? <a mat-button color="primary" routerLink="/ui/resetpasswordstart">RESET</a></h3>
</div>
