.my-icon-button {
  padding: 7px !important;
  min-width: 0;
  min-height: 0;
  line-height: normal;
}

.sign-in-field {
  /*max-width: 300px;*/
  //max-width: calc(100% - 70px);
  min-width: calc(100% - 30px);
}
