@use "src/my-theme.scss" as *;
@use "sass:color";

table.team-table {
  //border: 0px solid black;
  width: 100%;
  margin-top: 25px;

  tr {
    th {
      text-align: left;
      font-weight: bold;
      border-bottom: 1px solid $primary-color;

      &.captain-column {
        text-align: center;
      }

      &.delete-column {
        text-align: center;
      }
    }

    td {
      padding: 8px 0;
      font-size: 18px;
      border-bottom: 1px solid $primary-color;
      vertical-align: middle;

      &.name-column {
        text-align: left;
        height: 56px;
      }

      &.captain-column {
        text-align: center;
        //border-right: 1px solid black;
        //border-left: 1px solid black;
      }

      &.delete-column {
        text-align: center;
      }
    }
  }

  tfoot tr th {
    //border-top: 1px solid black;
    padding-top: 16px;
    font-size: 16px;
    font-weight: bold;
    border: 0;
  }

  button.delete-member-button {
    background-color: color.adjust($primary-color, $lightness: 30%);
  }
}

mat-icon.captain-icon {
    font-size: 24px;
    margin-left: 6px;
    margin-top: 10px;
  border: 1px solid red;
}

.status-tag {
  font-size: 16px;
  padding: 2px 8px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 700;

  &.confirmed {
    background-color: #e3f2fd;
    color: #1976d2; // Blue
  }

  &.invited {
    background-color: #fff9c4;
    //color: #fbc02d; // Amber
    color: $warn-color;
    //color: color.adjust($warn-color, $lightness: 30%);
  }
}
