
mat-icon.will-play {
  color: green;
}

mat-icon.will-not-play {
  color: red;
}

mat-icon.will-play-late {
  color: orange;
}

table.schedule-detail {
  margin-top: 8px;
  width: 100%;

  thead tr {
    border-top: 1px solid lightgray;
  }

  tbody {
    font-size: 18px;
  }
}


tr.player-row-separated {
  border-top: 1px solid lightgray
}

tr.player-row-last {
  border-bottom: 1px solid lightgray
}

tr.player-row-not-separated {
  border-top: 0;
}

td.player-status-column {
  padding: 8px;
  vertical-align: middle;
  width: 20px;
  /*border: 1px solid red;*/
}

td.player-name-column {
  vertical-align: middle;
  padding-top: 1px;
  //border: 0px solid blue;
}

td.player-rating-column {
  text-align: right;
  vertical-align: middle;
  /*border: 1px solid green;*/
}
