$match-box-color: #d7c8f5;

.match-box {
  border: 2px solid $match-box-color;
  width: 225px;
  max-width: 225px;
}

.player-line {
  padding-left: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 14px;
  background-color: $match-box-color;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.match-winner {
  font-weight: bold;
}

.group-num-column {
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #a27bee;
  text-align: center;
  font-size: 14px;
  cursor: grab;
}

.time-and-table {
  text-align: center;
  width: 200px;
  font-size: 14px;
}

.additional-info-tooltip {
  font-size: 12px;
  background-color: #FFFFFF;
}
