<mat-toolbar>
  <mat-toolbar-row>
    <mat-label>Tournament Day</mat-label>
    <mat-select class="tournament-day-select" [value]="selectedDay" (selectionChange)="onDayChange($event)">
      <mat-option *ngFor="let day of days" [value]="day.day">
        {{day.dayText}}
      </mat-option>
    </mat-select>
    <button mat-raised-button (click)="onGenerateSchedule()">Generate</button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="scheduling-container">
  <table class="schedule-table">
    <thead>
    <!--    <tr>-->
    <!--      <th>-->
    <!--        Table-->
    <!--      </th>-->
    <!--      <th [colSpan]="startingTimes.length + 1">-->
    <!--        Staring times-->
    <!--      </th>-->
    <!--    </tr>-->
    <tr>
      <th>
        Table<br/>#
      </th>
      <th *ngFor="let startingTime of startingTimes">
        {{ startingTime.startTimeText }}
      </th>

    </tr>

    </thead>
    <tbody>
    <tr *ngFor="let table of tablesArray; let tableNum = index">
      <td>{{tableNum + 1}}</td>
      <ng-container *ngFor="let scheduleTimeBlock of scheduleTimeBlocks[tableNum + 1];">
        <td [rowSpan]="scheduleTimeBlock.rowSpan"
            [colSpan]="scheduleTimeBlock.colSpan"
            [style]="{'background-color': scheduleTimeBlock.color}"
            [class]="(scheduleTimeBlock.round > 16) ? (scheduleTimeBlock.eventName != '' ? 'round-preliminary' : '') : 'round-of-' + scheduleTimeBlock.round"
        >
          <ng-container *ngIf="scheduleTimeBlock.eventName != ''; else elseblock3">
            {{scheduleTimeBlock.eventName}}<br>{{getRoundGroup(scheduleTimeBlock)}}
          </ng-container>
          <ng-template #elseblock3></ng-template>
        </td>
      </ng-container>
    </tr>
    </tbody>
  </table>
</div>
