@import "~src/my-theme.scss";

.tournament-day-select {
  width: 150px;
  margin-right: 10px;
  margin-left: 10px;
}

.scheduling-container {
  overflow: auto;
  //border: 1px solid yellow;
  height: calc(100vh - 140px);
}

table.schedule-table {
  border-collapse: separate;

  thead tr th {
    border: 1px solid black;
  }

  tbody tr {
    td {
      border: 1px solid black;
      text-align: center;
      vertical-align: middle;
      font-size: 12px;

      &.round-preliminary {
        border: 3px solid black;
        border-radius: 8px;
      }

      &.round-of-16 {
       border: 4px solid fuchsia;
        border-radius: 8px;
      }

      &.round-of-8 {
       border: 4px solid cyan;
        border-radius: 8px;
      }

      &.round-of-4 {
       border: 4px solid yellow;
        border-radius: 8px;
      }

      &.round-of-2 {
       border: 4px solid lawngreen;
        border-radius: 8px;
      }
    }
  }
}
