@use "src/my-theme.scss" as *;

.tournament-day-select {
  width: 150px;
  margin-right: 10px;
  margin-left: 10px;
}

.toolbar-spacer-2 {
  margin-right: 16px;
}

.scheduling-container {
  overflow: scroll hidden;
  height: calc(100vh - 155px);
  width: calc((60px * 31) + 18px);
}

gridster {
  height: calc(100vh - 235px);
  width: 100%;
}

gridster gridster-item div {
  height: 93%;
  line-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  padding: 2px 0 0 3px;

  &.header {
    height: 100%;
    font-weight: bold;
    border-left: 1px solid black;
    border-right: 1px solid black;
  }

  &.table-number {
    height: 100%;
    font-weight: bold;
    border-top: 1px solid black;
    border-bottom: 2px solid black;
  }

  &.round-round-robin {
    border: 4px solid black;
    border-radius: 8px;
  }

  &.round-preliminary {
    border: 4px solid black;
    border-radius: 8px;
    height: 85%;
  }

  &.round-of-16 {
    border: 4px solid fuchsia;
    border-radius: 8px;
    height: 85%;
  }

  &.round-of-8 {
    border: 4px solid cyan;
    border-radius: 8px;
    height: 85%;
  }

  &.round-of-4 {
    border: 4px solid yellow;
    border-radius: 8px;
    height: 85%;
  }

  &.round-of-2 {
    border: 4px solid lawngreen;
    border-radius: 8px;
    height: 85%;
  }
}

// sticky header with time line
table thead tr th {
  min-width: 59px;
  width: 59px;
  min-height: 60px;
  height: 60px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  background-color: #d7c8f5;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  font-weight: bold;
}
