<mat-toolbar>
  <mat-toolbar-row>
    <button mat-raised-button type="button" [routerLink]="['/ui/tournamentsconfig']" >Back</button>
    <span class="toolbar-spacer-2"></span>
    <mat-button-toggle-group name="filterByDay" aria-label="Schedule for" [value]="selectedDay">
      <mat-button-toggle *ngFor="let day of days"
                         [value]="day.day"
                         (change)="onDayChange($event)">
        {{ day.dayText }}
      </mat-button-toggle>
    </mat-button-toggle-group>
    <span class="toolbar-spacer-2"></span>
    <button mat-raised-button (click)="onGenerateSchedule()">Generate</button>
    <span class="toolbar-spacer-2"></span>
    <button mat-raised-button (click)="onFixTodaySchedule()" [disabled]="isFixDisabled()">Fix</button>
    <span class="toolbar-spacer-2"></span>
    <button mat-raised-button (click)="onClearSchedule()">Clear</button>
    <span style="padding-left: 20px">{{movementDetail}}</span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="scheduling-container">
  <table>
    <thead>
    <tr>
          <th>
            Table<br/>#
          </th>
          <th *ngFor="let startingTime of startingTimes">
            {{ startingTime.startTimeText }}
          </th>
    </tr>
    </thead>
  </table>
  <gridster [options]="gridsterOptions">
    <gridster-item [item]="item" *ngFor="let item of gridsterItems">
      <div *ngIf="item.isTableNum" class="table-number">
        {{item.label}}
      </div>
      <div *ngIf="!item.isHeader" [class]="getItemClass(item)" [style]="{'background-color': item.backgroundColor}">
        {{item.label}} <br> {{getRoundGroupLabel(item.groupNum, item.round)}}
      </div>
    </gridster-item>
  </gridster>
</div>
