
mat-dialog-content {
  height: 480px;
  //border: 1px solid red;
}

div.clubs-results-list {
  height: 262px;
  overflow: auto;
  //border: 1px solid green;
}

div.no-clubs-found {
  width: 100%;
  text-align: center;
  padding-top: 24px;
}

.linear-progress-indicator-search {
  padding-bottom: 8px;
}
