@import "~src/my-theme";

.se-bracket-panel {
  overflow: auto;
  width: 100%;
  //border: 1px solid limegreen;
}

div.round-header-container {
  width: 100%;
  background-color: $accent-color;
}

div.round-header {

  div {
    min-width: 259px;
    //border-left: 1px solid white;
    border-right: 1px solid white;
    text-align: center;
    background-color: $accent-color;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 4px;
  }
}
