@use "src/my-theme.scss" as *;

.insurancecard {
  width: 80%;
}

div.table-container {
  overflow: auto;
  height: calc(100vh - 220px);
  //border: 1px solid greenyellow;
}

.toolbar-spacer-2 {
  margin-right: 16px;
}

.mat-mdc-row:hover {
  background-color: lighten($primary-color, 40%);
  cursor: pointer;
}

.mat-column-eventName {
  flex: 3;
}

.mat-column-eventStartDate {
  flex: 1;
}

.mat-column-requestDate {
  flex: 1;
}

.mat-column-status {
  flex: 1;
}

.mat-column-actions {
  flex: 1;
}


