@import "~src/my-theme.scss";

.not-selected {
  background-color: white;
}

.selected {
  background-color: $accent-color;
}

.doubles-table-area {
  width: 100%;
  height: calc(100vh - 140px);
  overflow: auto;
}
.doubles-table {
  width: 100%;
}

// column widths
.mat-column-playerAName {
  flex: 3;
}

.mat-column-playerARating {
  flex: 2;
}

.mat-column-playerBName {
  flex: 3;
}

.mat-column-playerBRating {
  flex: 2;
}

.mat-column-combinedRating {
  flex: 2;
}

.mat-column-breakPair {
  flex: 1;
}
