@import "~src/my-theme.scss";

div.prizes-list {
  height: calc(100vh - 250px);
  overflow-y: scroll;
  /*border: 1px solid red;*/
}

div.mat-checkbox-container {
  padding-top: 35px;
}

.mat-row:hover {
  background-color: lighten($primary-color, 40%);
  cursor: pointer;
}
