@use "src/my-theme.scss" as *;

div.prizes-list {
  height: calc(100vh - 250px);
  overflow-y: scroll;
  /*border: 1px solid red;*/
}

/*TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
div.mat-checkbox-container {
  padding-top: 35px;
}

.mat-mdc-row:hover {
  background-color: lighten($primary-color, 40%);
  cursor: pointer;
}
