<form name="form" (ngSubmit)="onSave(f.value)" #f="ngForm" novalidate>
  <mat-card>
    <mat-toolbar>
      <mat-toolbar-row>
        <button mat-raised-button type="submit" [disabled]="!f.form.valid" style="margin-right: 10px">Save</button>
        <button mat-raised-button type="button" (click)="onCancel()">Cancel</button>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-card-content>
      <input type="hidden" [ngModel]="tournamentEvent?.id" name="id">
      <input type="hidden" [ngModel]="tournamentEvent?.tournamentFk" name="tournamentFk">
      <input type="hidden" [ngModel]="tournamentEvent?.ordinalNumber" name="ordinalNumber">
      <div fxLayout.lt-sm="column" fxLayout="row" fxLayoutGap="10px">
        <mat-form-field fxFlex="40%">
          <mat-label>Name</mat-label>
          <input matInput type="text" name="name" [ngModel]="tournamentEvent?.name" required>
        </mat-form-field>
        <mat-form-field fxFlex="30%">
          <mat-label>Event Day</mat-label>
          <mat-select name="day" [ngModel]="tournamentEvent?.day">
            <mat-option *ngFor="let day of days" [value]="day.day">
              {{day.dayText}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="30%">
          <mat-label>Event Time</mat-label>
          <mat-select name="startTime" [ngModel]="tournamentEvent?.startTime">
            <mat-option *ngFor="let st of startTimes" [value]="st.startTime">
              {{st.startTimeText}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout.lt-sm="column" fxLayout="row" fxLayoutGap="10px">
        <mat-checkbox fxFlex="40%" name="doubles" [ngModel]="tournamentEvent?.doubles">Doubles</mat-checkbox>
        <mat-form-field fxFlex="30%">
          <mat-label>Max Entries</mat-label>
          <input matInput type="text" name="maxEntries" [ngModel]="tournamentEvent?.maxEntries" required pattern="\d{1,3}">
        </mat-form-field>
        <mat-form-field fxFlex="30%">
          <mat-label>Current Entries</mat-label>
          <input matInput type="text" disabled name="numEntries" [ngModel]="tournamentEvent?.numEntries">
        </mat-form-field>
      </div>
      <div fxLayout.lt-sm="column" fxLayout="row" fxLayoutGap="10px">
        <mat-checkbox fxFlex="40%" name="singleElimination" [ngModel]="tournamentEvent?.singleElimination">Single Elimination</mat-checkbox>
        <mat-form-field fxFlex="30%">
          <mat-label>Minimum Player Rating</mat-label>
          <input matInput type="text" name="minPlayerRating" [ngModel]="tournamentEvent?.minPlayerRating" required>
        </mat-form-field>
        <mat-form-field fxFlex="30%">
          <mat-label>Maximum Player Rating</mat-label>
          <input matInput type="text" name="maxPlayerRating" [ngModel]="tournamentEvent?.maxPlayerRating" required>
        </mat-form-field>
      </div>
      <div fxLayout.lt-sm="column" fxLayout="row" fxLayoutGap="10px">
        <mat-form-field fxFlex="30%">
          <mat-label>Age Restriction</mat-label>
          <mat-select name="ageRestrictionType" [ngModel]="tournamentEvent?.ageRestrictionType"
                      (selectionChange)="onAgeRestrictionChange($event)">
            <mat-option *ngFor="let ageRestrictionType of ageRestrictionTypes" [value]="ageRestrictionType.value">
              {{ ageRestrictionType.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="20%">
          <mat-label>Minimum Player Age</mat-label>
          <input matInput type="text" name="minPlayerAge" [ngModel]="tournamentEvent?.minPlayerAge">
        </mat-form-field>
        <mat-form-field fxFlex="20%">
          <mat-label>Maximum Player Age</mat-label>
          <input matInput type="text" name="maxPlayerAge" [ngModel]="tournamentEvent?.maxPlayerAge">
        </mat-form-field>
        <mat-form-field fxFlex="30%">
          <mat-label>Born on or Before Date</mat-label>
          <input matInput [matDatepicker]="ageRestrictionDate" placeholder="mm/dd/yyyy" name="ageRestrictionDate"
                 [min]="minAgeRestrictionDate" [max]="maxAgeRestrictionDate" [disabled]="!ageRestrictionDateEnabled"
                 [ngModel]="tournamentEvent?.ageRestrictionDate" [required]="ageRestrictionDateEnabled">
          <mat-datepicker-toggle matSuffix [for]="ageRestrictionDate"></mat-datepicker-toggle>
          <mat-datepicker #ageRestrictionDate [disabled]="!ageRestrictionDateEnabled"></mat-datepicker>
          <mat-error *ngIf="f.form.controls['ageRestrictionDate']?.errors?.required">Date is required</mat-error>
          <mat-error *ngIf="f.form.controls['ageRestrictionDate']?.errors?.matDatepickerMin">Date must be after {{ minAgeRestrictionDate | date}}</mat-error>
          <mat-error *ngIf="f.form.controls['ageRestrictionDate']?.errors?.matDatepickerMax">Date must be before {{ maxAgeRestrictionDate | date}}</mat-error>
        </mat-form-field>
      </div>
      <div fxLayout.lt-sm="column" fxLayout="row" fxLayoutGap="10px">
        <mat-form-field fxFlex="40%">
          <mat-label>Gender Restriction</mat-label>
          <mat-select name="genderRestriction" [ngModel]="tournamentEvent?.genderRestriction">
            <mat-option *ngFor="let genderRestriction of genderRestrictions" [value]="genderRestriction.value">
              {{ genderRestriction.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="30%">
          <mat-label>Fee Adult</mat-label>
          <input matInput type="text" name="feeAdult" [ngModel]="tournamentEvent?.feeAdult" required>
        </mat-form-field>
        <mat-form-field fxFlex="30%">
          <mat-label>Fee Junior</mat-label>
          <input matInput type="text" name="feeJunior" [ngModel]="tournamentEvent?.feeJunior" required>
        </mat-form-field>
      </div>
      <div fxLayout.lt-sm="column" fxLayout="row" fxLayoutGap="10px">
        <mat-form-field fxFlex="25%">
          <mat-label>Draw method</mat-label>
          <mat-select name="drawMethod" [ngModel]="tournamentEvent?.drawMethod">
            <mat-option *ngFor="let method of drawMethods" [value]="method.value">
              {{ method.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="20%">
          <mat-label>Players Per Group</mat-label>
          <input matInput type="text" name="playersPerGroup" [ngModel]="tournamentEvent?.playersPerGroup" required>
        </mat-form-field>
        <mat-form-field fxFlex="20%">
          <mat-label>Players to advance</mat-label>
          <input matInput type="text" name="playersToAdvance" [ngModel]="tournamentEvent?.playersToAdvance" required>
        </mat-form-field>
        <mat-form-field fxFlex="20%">
          <mat-label>Players to seed</mat-label>
          <input matInput type="text" name="playersToSeed" [ngModel]="tournamentEvent?.playersToSeed" required>
        </mat-form-field>
        <mat-form-field fxFlex="20%">
          <mat-label>Number of Tables Per Group</mat-label>
          <input matInput type="text" name="numTablesPerGroup" [ngModel]="tournamentEvent?.numTablesPerGroup" required>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
<!--  <p>ageRestrictionDate errors: {{ f.form.controls['ageRestrictionDate']?.errors | json }} </p>-->
</form>
