<div fxLayout="row" style="height: calc(100vh - 72px); overflow: hidden;">
  <div fxFlex></div>
  <div fxFlex.lt-md="100%" fxFlex="80%" *ngIf="tournamentEvent">
    <form name="form" (ngSubmit)="onSave(f.value)" #f="ngForm" novalidate>
      <mat-toolbar>
        <mat-toolbar-row fxLayout="row">
          <button mat-raised-button type="button" (click)="onCancel()">Cancel</button>
          <span fxFlex></span>
          <button mat-raised-button type="submit" color="primary" [disabled]="!f.form.valid" style="margin-right: 10px">
            Save
          </button>
        </mat-toolbar-row>
      </mat-toolbar>
      <mat-tab-group>
        <mat-tab label="General Information">
          <input type="hidden" [ngModel]="tournamentEvent.id" name="id">
          <input type="hidden" [ngModel]="tournamentEvent.tournamentFk" name="tournamentFk">
          <input type="hidden" [ngModel]="tournamentEvent.ordinalNumber" name="ordinalNumber">
          <div fxLayout.lt-sm="column" fxLayout="row" fxLayoutGap="10px">
            <mat-form-field fxFlex="40%">
              <mat-label>Name</mat-label>
              <input matInput type="text" name="name" [(ngModel)]="tournamentEvent.name" required>
            </mat-form-field>
            <mat-form-field fxFlex="30%">
              <mat-label>Event Day</mat-label>
              <mat-select name="day" [(ngModel)]="tournamentEvent.day">
                <mat-option *ngFor="let day of days" [value]="day.day">
                  {{day.dayText}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="30%">
              <mat-label>Event Time</mat-label>
              <mat-select name="startTime" [(ngModel)]="tournamentEvent.startTime">
                <mat-option *ngFor="let st of startTimes" [value]="st.startTime">
                  {{st.startTimeText}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxLayout.lt-sm="column" fxLayout="row" fxLayoutGap="10px">
            <mat-checkbox fxFlex="40%" name="doubles" [(ngModel)]="tournamentEvent.doubles">Doubles</mat-checkbox>
            <mat-form-field fxFlex="30%">
              <mat-label>Max Entries</mat-label>
              <input matInput type="text" name="maxEntries" [(ngModel)]="tournamentEvent.maxEntries" required
                     pattern="\d{1,3}">
            </mat-form-field>
            <mat-form-field fxFlex="30%">
              <mat-label>Current Entries</mat-label>
              <input matInput type="text" disabled name="numEntries" [(ngModel)]="tournamentEvent.numEntries">
            </mat-form-field>
          </div>
          <div fxLayout.lt-sm="column" fxLayout="row" fxLayoutGap="10px">
            <mat-checkbox fxFlex="40%" name="singleElimination" [(ngModel)]="tournamentEvent.singleElimination">Single
              Elimination
            </mat-checkbox>
            <mat-form-field fxFlex="30%">
              <mat-label>Minimum Player Rating</mat-label>
              <input matInput type="text" name="minPlayerRating" [(ngModel)]="tournamentEvent.minPlayerRating" required>
            </mat-form-field>
            <mat-form-field fxFlex="30%">
              <mat-label>Maximum Player Rating</mat-label>
              <input matInput type="text" name="maxPlayerRating" [(ngModel)]="tournamentEvent.maxPlayerRating" required>
            </mat-form-field>
          </div>
          <div fxLayout.lt-sm="column" fxLayout="row" fxLayoutGap="10px">
            <mat-form-field fxFlex="30%">
              <mat-label>Age Restriction</mat-label>
              <mat-select name="ageRestrictionType" [(ngModel)]="tournamentEvent.ageRestrictionType"
                          (selectionChange)="onAgeRestrictionChange($event)">
                <mat-option *ngFor="let ageRestrictionType of ageRestrictionTypes" [value]="ageRestrictionType.value">
                  {{ ageRestrictionType.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="20%">
              <mat-label>Minimum Player Age</mat-label>
              <input matInput type="text" name="minPlayerAge" [(ngModel)]="tournamentEvent.minPlayerAge">
            </mat-form-field>
            <mat-form-field fxFlex="20%">
              <mat-label>Maximum Player Age</mat-label>
              <input matInput type="text" name="maxPlayerAge" [(ngModel)]="tournamentEvent.maxPlayerAge">
            </mat-form-field>
            <mat-form-field fxFlex="30%">
              <mat-label>Born on or Before Date</mat-label>
              <input matInput [matDatepicker]="ageRestrictionDate" placeholder="mm/dd/yyyy" name="ageRestrictionDate"
                     [min]="minAgeRestrictionDate" [max]="maxAgeRestrictionDate" [disabled]="!ageRestrictionDateEnabled"
                     [(ngModel)]="tournamentEvent.ageRestrictionDate" [required]="ageRestrictionDateEnabled">
              <mat-datepicker-toggle matSuffix [for]="ageRestrictionDate"></mat-datepicker-toggle>
              <mat-datepicker #ageRestrictionDate [disabled]="!ageRestrictionDateEnabled"></mat-datepicker>
              <mat-error *ngIf="f.form.controls['ageRestrictionDate']?.errors?.required">Date is required</mat-error>
              <mat-error *ngIf="f.form.controls['ageRestrictionDate']?.errors?.matDatepickerMin">Date must be
                after {{ minAgeRestrictionDate | date}}</mat-error>
              <mat-error *ngIf="f.form.controls['ageRestrictionDate']?.errors?.matDatepickerMax">Date must be
                before {{ maxAgeRestrictionDate | date}}</mat-error>
            </mat-form-field>
          </div>
          <div fxLayout.lt-sm="column" fxLayout="row" fxLayoutGap="10px">
            <mat-form-field fxFlex="40%">
              <mat-label>Gender Restriction</mat-label>
              <mat-select name="genderRestriction" [(ngModel)]="tournamentEvent.genderRestriction">
                <mat-option *ngFor="let genderRestriction of genderRestrictions" [value]="genderRestriction.value">
                  {{ genderRestriction.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="30%">
              <mat-label>Fee Adult</mat-label>
              <input matInput type="text" name="feeAdult" [(ngModel)]="tournamentEvent.feeAdult" reuired
                     [pattern]="PRICE_REGEX" #feeAdult="ngModel">
              <mat-error *ngIf="feeAdult.control?.hasError('pattern')">Enter price e.g. 50 or 22.50</mat-error>
              <mat-error *ngIf="feeAdult.control?.hasError('required')">This field is required</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="30%">
              <mat-label>Fee Junior</mat-label>
              <input matInput type="text" name="feeJunior" [(ngModel)]="tournamentEvent.feeJunior" required
                     [pattern]="PRICE_REGEX" #feeJunior="ngModel">
              <mat-error *ngIf="feeJunior.control?.hasError('pattern')">Enter price e.g. 50 or 22.50</mat-error>
              <mat-error *ngIf="feeJunior.control?.hasError('required')">This field is required</mat-error>
            </mat-form-field>
          </div>
        </mat-tab>
        <mat-tab label="Draws & Matches">
          <div fxLayout.lt-sm="column" fxLayout="row" fxLayoutGap="10px">
            <mat-form-field fxFlex="25%">
              <mat-label>Draw method</mat-label>
              <mat-select name="drawMethod" [(ngModel)]="tournamentEvent.drawMethod">
                <mat-option *ngFor="let method of drawMethods" [value]="method.value">
                  {{ method.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="25%">
              <mat-label>Players Per Group</mat-label>
              <input matInput type="text" name="playersPerGroup" [(ngModel)]="tournamentEvent.playersPerGroup" required
                     [pattern]="NUMERIC_REGEX">
            </mat-form-field>
            <mat-form-field fxFlex="25%">
              <mat-label>Players to advance</mat-label>
              <input matInput type="text" name="playersToAdvance" [(ngModel)]="tournamentEvent.playersToAdvance"
                     required [pattern]="NUMERIC_WITH_ZERO_REGEX">
            </mat-form-field>
            <mat-form-field fxFlex="25%">
              <mat-label>Players to seed</mat-label>
              <input matInput type="text" name="playersToSeed" [(ngModel)]="tournamentEvent.playersToSeed" required
                     [pattern]="NUMERIC_WITH_ZERO_REGEX">
            </mat-form-field>
          </div>
          <div fxLayout.lt-sm="column" fxLayout="row" fxLayoutGap="10px">
            <mat-form-field fxFlex="25%">
              <mat-label>Number of Tables Per Group</mat-label>
              <input matInput type="text" name="numTablesPerGroup" [(ngModel)]="tournamentEvent.numTablesPerGroup"
                     required [pattern]="NUMERIC_REGEX">
            </mat-form-field>
            <mat-form-field fxFlex="25%">
              <mat-label>Points per Game</mat-label>
              <input matInput type="text" name="pointsPerGame" [(ngModel)]="tournamentEvent.pointsPerGame" required
                     [pattern]="TWO_DIGIT_NUMERIC_REGEX">
            </mat-form-field>
            <div class="mat-checkbox-container" fxFlex="25%">
              <mat-checkbox name="play3rd4thPlace" [(ngModel)]="tournamentEvent.play3rd4thPlace">Play for 3rd & 4th
                place
              </mat-checkbox>
            </div>
            <div class="mat-checkbox-container" fxFlex="25%">
              <mat-checkbox name="advanceUnratedWinner" [(ngModel)]="tournamentEvent.advanceUnratedWinner">Advance
                Unrated Player
              </mat-checkbox>
            </div>
          </div>
          <mat-card-subtitle class="mat-title">Number of Games in Round</mat-card-subtitle>
          <div fxLayout.lt-sm="column" fxLayout="row" fxLayoutGap="10px">
            <mat-form-field fxFlex="20%">
              <mat-label>First Round</mat-label>
              <mat-select name="numberOfGames" [(ngModel)]="tournamentEvent.numberOfGames">
                <mat-option *ngFor="let numberOfGamesChoice of numberOfGamesChoices"
                            [value]="numberOfGamesChoice.value">
                  {{ numberOfGamesChoice.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="20%">
              <mat-label>Second Round</mat-label>
              <mat-select name="numberOfGamesSEPlayoffs" [(ngModel)]="tournamentEvent.numberOfGamesSEPlayoffs">
                <mat-option *ngFor="let numberOfGamesChoice of numberOfGamesChoices"
                            [value]="numberOfGamesChoice.value">
                  {{ numberOfGamesChoice.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="20%">
              <mat-label>Quarter Finals</mat-label>
              <mat-select name="numberOfGamesSEQuarterFinals"
                          [(ngModel)]="tournamentEvent.numberOfGamesSEQuarterFinals">
                <mat-option *ngFor="let numberOfGamesChoice of numberOfGamesChoices"
                            [value]="numberOfGamesChoice.value">
                  {{ numberOfGamesChoice.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="20%">
              <mat-label>Semi Finals</mat-label>
              <mat-select name="numberOfGamesSESemiFinals" [(ngModel)]="tournamentEvent.numberOfGamesSESemiFinals">
                <mat-option *ngFor="let numberOfGamesChoice of numberOfGamesChoices"
                            [value]="numberOfGamesChoice.value">
                  {{ numberOfGamesChoice.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="20%">
              <mat-label>Finals & 3rd/4th Place</mat-label>
              <mat-select name="numberOfGamesSEFinals" [(ngModel)]="tournamentEvent.numberOfGamesSEFinals">
                <mat-option *ngFor="let numberOfGamesChoice of numberOfGamesChoices"
                            [value]="numberOfGamesChoice.value">
                  {{ numberOfGamesChoice.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-tab>
        <mat-tab label="Prizes">
          <mat-toolbar>
            <button mat-raised-button type="button" (click)="onAddPrizesRow()">Add</button>
          </mat-toolbar>
          <div class="prizes-list">
            <mat-table [dataSource]="tournamentEvent.configuration.prizeInfoList" style="width: 100%">
              <ng-container matColumnDef="division">
                <mat-header-cell *matHeaderCellDef>Division</mat-header-cell>
                <mat-cell *matCellDef="let prizeInfo; let rowIndex = index;" (click)="onEdit(rowIndex)">
                  {{prizeInfo.division}}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="awardedForPlace">
                <mat-header-cell *matHeaderCellDef>Place</mat-header-cell>
                <mat-cell *matCellDef="let prizeInfo; let rowIndex = index;" (click)="onEdit(rowIndex)">
                  {{ formatPlace(prizeInfo) }}
                </mat-cell>
              </ng-container>

<!--              <ng-container matColumnDef="awardedForPlaceRangeEnd">-->
<!--                <mat-header-cell *matHeaderCellDef>Through Place</mat-header-cell>-->
<!--                <mat-cell *matCellDef="let prizeInfo; let rowIndex = index;" (click)="onEdit(rowIndex)">-->
<!--                  {{prizeInfo.awardedForPlaceRangeEnd}}-->
<!--                </mat-cell>-->
<!--              </ng-container>-->

              <ng-container matColumnDef="prizeMoneyAmount">
                <mat-header-cell *matHeaderCellDef>Prize Money</mat-header-cell>
                <mat-cell *matCellDef="let prizeInfo; let rowIndex = index;" (click)="onEdit(rowIndex)">
                  {{prizeInfo.prizeMoneyAmount}}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="awardTrophy">
                <mat-header-cell *matHeaderCellDef>Trophy</mat-header-cell>
                <mat-cell *matCellDef="let prizeInfo; let rowIndex = index;" (click)="onEdit(rowIndex)">
                  {{prizeInfo.awardTrophy}}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let prizeInfo; let rowIndex = index;">
                  <button type="button" mat-icon-button (click)="onRemovePrizesRow(rowIndex)">
                    <mat-icon matListIcon>delete</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></mat-header-row>
              <mat-row *matRowDef="let myRowData; columns: columnsToDisplay;"></mat-row>
            </mat-table>
          </div>
        </mat-tab>
      </mat-tab-group>
      <!--  <p>ageRestrictionDate errors: {{ f.form.controls['ageRestrictionDate']?.errors | json }} </p>-->
    </form>
  </div>
  <div fxFlex></div>
</div>
