<div fxLayout="column" fxLayoutAlign="start start" class="page-container">
  <ng-container *ngIf="standaloneScreen">
    <h2 >Waiting List Players</h2>
    <mat-toolbar>
      <button mat-raised-button type="button" [routerLink]="['/ui/tournamentsconfig']" >Back</button>
    </mat-toolbar>
  </ng-container>
  <div style="padding: 0 0 16px 0; width: 100%;" fxLayout="row" fxLayoutAlign="center center">
    <mat-button-toggle-group name="sortBy" aria-label="Sort By" [value]="sortBy">
      <mat-button-toggle value="name" (click)="onSortByName()">Sort by Player Name</mat-button-toggle>
      <mat-button-toggle value="event" (click)="onSortByEvent()">Sort by Event</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="waiting-list-container">
    <div *ngIf="sortBy == 'name'">
      <table class="waiting-list-by-player-table">
        <thead>
        <tr>
          <th class="player-name-column">Player Name/Profile</th>
          <th class="events-column">Entry</th>
          <th class="events-column">Waited Events</th>
          <th class="events-column">Confirmed Events</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let entry of tournamentEntryInfos">
          <td class="player-name-column">
            <a [routerLink]="['/ui/userprofile/edit', entry.profileId]" [state]="{waitingListReturnUrl: returnUrl}">{{entry.lastName}}, {{entry.firstName}}</a>
          </td>
          <td class="player-name-column">
            <a [routerLink]="['/ui/entries/entryview', tournamentId, 'edit', entry.entryId]">Entry</a>
          </td>
          <td class="events-column">{{getPlayerEventList(entry.waitingListEventIds)}}</td>
          <td class="events-column">{{getPlayerEventList(entry.eventIds)}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="sortBy == 'event'">
      <table class="waiting-list-by-event-table">
        <thead>
        <tr>
          <th class="event-name-column">Event</th>
          <th class="players-column">Players </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let eventWithPlayers of eventWithPlayersList">
          <td class="event-name-column">{{eventWithPlayers.eventName}}</td>
          <td class="players-column">{{eventWithPlayers.playersOnWaitingList.join(' | ')}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
