<div fxLayout="row" style="height: calc(100vh - 72px); overflow: hidden;">
  <div fxFlex></div>
  <div fxFlex.lt-md="100%" fxFlex="70%" *ngIf="tournament">
    <form name="form" (ngSubmit)="onSave()" #f="ngForm" novalidate>
      <mat-toolbar>
        <mat-toolbar-row fxLayout="row">
          <button mat-raised-button type="button" (click)="onCancel()">Cancel</button>
          <span fxFlex></span>
          <button mat-raised-button type="submit" color="primary" [disabled]="!f.form.valid" style="margin-right: 10px">Save</button>
        </mat-toolbar-row>
      </mat-toolbar>
      <mat-tab-group>
        <mat-tab label="General Information">
          <mat-card>
            <mat-card-content>
              <input type="hidden" name="id" [(ngModel)]="tournament.id">
              <div fxLayout.lt-sm="column" fxLayout="row" fxLayoutGap="10px">
                <mat-form-field fxFlex="75%">
                  <mat-label>Name</mat-label>
                  <input matInput type="text" name="name" [(ngModel)]="tournament.name" required>
                </mat-form-field>
                <mat-form-field fxFlex="15%">
                  <mat-label>Total Prize Money</mat-label>
                  <input matInput type="text" name="totalPrizeMoney" [(ngModel)]="tournament.totalPrizeMoney" readonly>
                </mat-form-field>
                <mat-form-field fxFlex="10%">
                  <mat-label>Star Level</mat-label>
                  <input matInput name="starLevel" [(ngModel)]="tournament.starLevel"
                         required pattern="[0-5]" #starLevel="ngModel">
                  <mat-error *ngIf="starLevel.control?.hasError('pattern')">Star level must be between 0 - 5</mat-error>
                </mat-form-field>
              </div>
              <div fxLayout="row" fxLayoutGap="10px">
                <mat-form-field fxFlex="50%">
                  <mat-label>Start date</mat-label>
                  <input matInput [matDatepicker]="startDate" [(ngModel)]="tournament.startDate" name="startDate"
                         required>
                  <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                  <mat-datepicker #startDate></mat-datepicker>
                </mat-form-field>
                <mat-form-field fxFlex="50%">
                  <mat-label>End date</mat-label>
                  <input matInput [matDatepicker]="endDate" [(ngModel)]="tournament.endDate" name="endDate" required>
                  <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                  <mat-datepicker #endDate disabled="false"></mat-datepicker>
                </mat-form-field>
              </div>
              <div fxLayout="row" fxLayoutGap="10px">
                <mat-form-field fxFlex="50%">
                  <mat-label>Eligibility Date</mat-label>
                  <input matInput [matDatepicker]="eligibilityDate"
                         [(ngModel)]="tournament.configuration.eligibilityDate"
                         name="eligibilityDate" #egCtrl="ngModel"
                         required appDateBefore="startDate">
                  <mat-datepicker-toggle matSuffix [for]="eligibilityDate"></mat-datepicker-toggle>
                  <mat-datepicker #eligibilityDate disabled="false"></mat-datepicker>
                  <mat-error *ngIf="egCtrl.invalid && (egCtrl.dirty || egCtrl.touched)">Eligibility date must be before
                    tournament start date
                  </mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="50%">
                  <mat-label>Late entry date</mat-label>
                  <input matInput [matDatepicker]="lateEntryDate" #ledCtrl="ngModel"
                         [(ngModel)]="tournament.configuration.lateEntryDate" name="lateEntryDate"
                         required appDateBefore="startDate">
                  <mat-datepicker-toggle matSuffix [for]="lateEntryDate"></mat-datepicker-toggle>
                  <mat-datepicker #lateEntryDate></mat-datepicker>
                  <mat-error *ngIf="ledCtrl.invalid && (ledCtrl.dirty || ledCtrl.touched)">
                    Late entry date must be before tournament start date</mat-error>
                  <mat-hint>Date to start charging late entry fees if any.</mat-hint>
                </mat-form-field>
              </div>
              <div fxLayout="row" fxLayoutGap="10px">
                <mat-form-field fxFlex="50%">
                  <mat-label>Full Refund Date</mat-label>
                  <input matInput [matDatepicker]="refundDate"
                         [(ngModel)]="tournament.configuration.refundDate"
                         name="refundDate" #refCtrl="ngModel"
                         required appDateBefore="startDate">
                  <mat-datepicker-toggle matSuffix [for]="refundDate"></mat-datepicker-toggle>
                  <mat-datepicker #refundDate disabled="false"></mat-datepicker>
                  <mat-error *ngIf="refCtrl.invalid && (refCtrl.dirty || refCtrl.touched)">
                    Full refund date must be before tournament start date
                  </mat-error>
                  <mat-hint>Last day to get a full refund for event/tournament withdrawal</mat-hint>
                </mat-form-field>
                <mat-form-field fxFlex="50%">
                  <mat-label>Entry Cutoff Date</mat-label>
                  <input matInput [matDatepicker]="entryCutoffDate"
                         [(ngModel)]="tournament.configuration.entryCutoffDate"
                         name="entryCutoffDate" #ecdCtrl="ngModel"
                         required appDateBefore="startDate">
                  <mat-datepicker-toggle matSuffix [for]="entryCutoffDate"></mat-datepicker-toggle>
                  <mat-datepicker #entryCutoffDate disabled="false"></mat-datepicker>
                  <mat-error *ngIf="ecdCtrl.invalid && (ecdCtrl.dirty || ecdCtrl.touched)">
                    Event or tournament entry cutoff date must be before tournament start date
                  </mat-error>
                  <mat-hint>Last day to enter/modify your entry into the tournament</mat-hint>
                </mat-form-field>
              </div>

              <mat-card-subtitle class="mat-title">Venue Information</mat-card-subtitle>
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <mat-form-field fxFlex="100%">
                  <mat-label>Venue Name</mat-label>
                  <input matInput type="text" name="venueName"
                         [(ngModel)]="tournament.venueName" required>
                </mat-form-field>
              </div>
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <mat-form-field fxFlex="100%">
                  <mat-label>Street Address</mat-label>
                  <input matInput type="text" name="streetAddress"
                         [(ngModel)]="tournament.streetAddress" required>
                </mat-form-field>
              </div>
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <mat-form-field fxFlex="55%">
                  <mat-label>City</mat-label>
                  <input matInput type="text" name="city" [(ngModel)]="tournament.city" required>
                </mat-form-field>
                <mat-form-field fxFlex="20%">
                  <mat-label>State</mat-label>
                  <mat-select matInput type="text" name="state" [(ngModel)]="tournament.state" required>
                    <mat-option *ngFor="let state of statesList" value="{{state.abbreviation}}">{{state.abbreviation}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="25%">
                  <mat-label>Zip Code</mat-label>
                  <input matInput type="text" name="zipCode"
                         [(ngModel)]="tournament.zipCode"
                         pattern="[0-9]{5}" maxlength="5" #zipCode="ngModel">
                  <mat-error *ngIf="zipCode.control?.hasError('pattern')">Zip code must be 5 digit number</mat-error>
                </mat-form-field>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-tab>
        <mat-tab label="Other Information">
          <mat-card>
            <mat-card-content>
              <mat-card-subtitle class="mat-title">Contact Information</mat-card-subtitle>
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <mat-form-field fxFlex="70%">
                  <mat-label>Contact Name</mat-label>
                  <input matInput type="text" name="contactName" [(ngModel)]="tournament.contactName" required>
                </mat-form-field>
              </div>
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <mat-form-field fxFlex="70%">
                  <mat-label>Email</mat-label>
                  <input matInput type="email" name="email" [(ngModel)]="tournament.email"
                         email>
                  <mat-error>Invalid email address</mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="30%">
                  <mat-label>Phone</mat-label>
                  <input matInput type="tel" name="phone" [(ngModel)]="tournament.phone"
                         required>
                  <mat-error>Invalid phone</mat-error>
                </mat-form-field>
              </div>
              <div fxLayout.lt-sm="column" fxLayout="row" fxLayoutGap="10px">
                <mat-form-field fxFlex="50%">
                  <mat-label>Tournament Type</mat-label>
                  <mat-select name="tournamentType" [(ngModel)]="tournamentType" (valueChange)="onChangeTournamentType($event)">
                    <mat-option *ngFor="let ttOption of tournamentTypes" [value]="ttOption.value">
                      {{ ttOption.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="50%">
                  <mat-label>Check-In Type</mat-label>
                  <mat-select name="checkInType" [(ngModel)]="checkInType">
                    <mat-option *ngFor="let checkInOption of checkInMethods" [value]="checkInOption.value">
                      {{ checkInOption.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxLayout.lt-sm="column" fxLayout="row" fxLayoutGap="10px">
                <mat-form-field fxFlex="50%">
                  <mat-label>Pricing Method</mat-label>
                  <mat-select name="pricingMethod" [(ngModel)]="pricingMethod" (valueChange)="onPricingMethodChange($event)">
                    <mat-option *ngFor="let pmOption of pricingMethods" [value]="pmOption.value">
                      {{ pmOption.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="25%">
                  <mat-label>Registration Fee</mat-label>
                  <input matInput name="registrationFee" [(ngModel)]="tournament.configuration.registrationFee"
                         required pattern="[1-9](\d{1,2})?">
                </mat-form-field>
                <mat-form-field fxFlex="25%">
                  <mat-label>Late Entry Fee</mat-label>
                  <input matInput name="lateEntryFee" [(ngModel)]="tournament.configuration.lateEntryFee"
                         required pattern="[1-9](\d{1,2})?">
                </mat-form-field>
              </div>
              <div fxLayout.lt-sm="column" fxLayout="row" fxLayoutGap="10px">
                <mat-form-field fxFlex="100%">
                  <mat-label>Blank entry form URL</mat-label>
                  <input matInput type="text" name="blankEntryUrl" [(ngModel)]="tournament.configuration.blankEntryUrl">
                </mat-form-field>
              </div>
              <div fxLayout.lt-sm="column" fxLayout="row" fxLayoutGap="10px">
                <mat-form-field fxFlex="40%">
                  <mat-label>Maximum daily events</mat-label>
                  <input matInput name="maxDailyEvents" placeholder="Enter 0 for unlimited" #maxDailyEvents="ngModel"
                         [(ngModel)]="tournament.configuration.maxDailyEvents" required pattern="\d{1}">
                  <mat-error *ngIf="maxDailyEvents.control?.hasError('pattern')">Enter number between 0 - 9</mat-error>
                  <mat-hint>Maximum number of events a player can play per day</mat-hint>
                </mat-form-field>
                <mat-form-field fxFlex="40%">
                  <mat-label>Maximum tournament events</mat-label>
                  <input matInput name="maxTournamentEvents" placeholder="Enter 0 for unlimited" #maxTournamentEvents="ngModel"
                         [(ngModel)]="tournament.configuration.maxTournamentEvents" required pattern="\d{1,2}">
                  <mat-error *ngIf="maxTournamentEvents.control?.hasError('pattern')">Enter number between 0 and 100</mat-error>
                  <mat-hint>Maximum number of events a player can play in the entire tournament</mat-hint>
                </mat-form-field>
                <mat-form-field fxFlex="20%">
                  <mat-label>Number of Tables</mat-label>
                  <input matInput name="numberOfTables" #numberOfTables="ngModel"
                         [(ngModel)]="tournament.configuration.numberOfTables" required pattern="[1-9](\d{1,2})?">
                  <mat-error *ngIf="numberOfTables.control?.hasError('pattern')">Enter number between 1 and 999</mat-error>
                </mat-form-field>
                <!--              <mat-form-field fxFlex="25%">-->
                <!--                <mat-label>Color of Tables</mat-label>-->
                <!--                <input matInput type="text" name="maxTournamentEvents" [(ngModel)]="tournament.configuration.maxTournamentEvents" required>-->
                <!--              </mat-form-field>-->
              </div>
            </mat-card-content>
          </mat-card>
        </mat-tab>
        <mat-tab label="Events">
            <app-tournament-event-config-list-container
              [tournamentId]="tournament?.id"
              [numEventEntries]="tournament?.numEventEntries"
              [maxNumEvenEntries]="tournament?.maxNumEventEntries"
              [startDate]="tournament?.startDate">
              [endDate]="tournament?.endDate">
            </app-tournament-event-config-list-container>
        </mat-tab>
        <mat-tab label="Personnel">
          <mat-toolbar>
            <mat-toolbar-row>
              <button class="personnel-toolbar-button" mat-raised-button type="button" (click)="onAddReferee()">Add Referee</button>
              <button class="personnel-toolbar-button" mat-raised-button type="button" (click)="onAddUmpire()">Add Umpire</button>
              <button class="personnel-toolbar-button" mat-raised-button type="button" (click)="onAddDataEntryClerk()">Add Data Entry Clerk</button>
              <button class="personnel-toolbar-button" mat-raised-button type="button" (click)="onCreateUser()">Create Login</button>
            </mat-toolbar-row>
          </mat-toolbar>
          <mat-card class="personnel-card">
            <mat-card-content fxLayout="column" fxLayoutAlign="start stretch" fxFlexFill>
              <div fxLayout="row" fxFlex>
                <div fxFlex="33%">
                  <mat-card-subtitle class="mat-title">Referees</mat-card-subtitle>
                  <div style="padding-bottom: 10px;" *ngFor="let referee of refereeList; let idx = index">
                    <div fxFlex="row" fxLayoutGap="10px">
                      <input fxFlex="80%" matInput type="text" [ngModel]="referee.name" [name]="'referee_' + idx"/>
                      <button mat-icon-button type="button" (click)="onRemovePersonnel(referee.profileId)">
                        <mat-icon matListIcon>delete</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
                <div fxFlex="33%">
                  <mat-card-subtitle class="mat-title">Umpires</mat-card-subtitle>
                  <div style="padding-bottom: 10px;" *ngFor="let umpire of umpireList; let idx = index">
                    <div fxFlex="row" fxLayoutGap="10px">
                      <input fxFlex="80%" matInput type="text" [ngModel]="umpire.name" [name]="'umpire_' + idx"/>
                      <button mat-icon-button type="button" (click)="onRemovePersonnel(umpire.profileId)">
                        <mat-icon matListIcon>delete</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
                <div fxFlex="33%">
                  <mat-card-subtitle class="mat-title">Data Entry Clerks</mat-card-subtitle>
                  <div style="padding-bottom: 10px;" *ngFor="let dataEntryClerk of dataEntryClerksList; let idx = index">
                    <div fxFlex="row" fxLayoutGap="10px">
                      <input fxFlex matInput type="text" [ngModel]="dataEntryClerk.name" [name]="'dataEntryClerk_' + idx"/>
                      <button  mat-icon-button type="button" (click)="onRemovePersonnel(dataEntryClerk.profileId)">
                        <mat-icon matListIcon>delete</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <mat-card-subtitle class="mat-title">Live Scoring</mat-card-subtitle>
              <div fxLayout="row" fxLayoutGap="10px">
                <mat-form-field fxFlex="40%">
                  <mat-label>User for score monitors</mat-label>
                  <input matInput name="monitorUser" readonly [ngModel]="getMonitorUser()" (click)="onAddMonitor()">
                </mat-form-field>
                <div fxFlex="20%" style="padding-top: 28px;">
                  <button class="personnel-toolbar-button" mat-raised-button type="button" (click)="onAddMonitor()">
                    Choose User
                  </button>
                </div>
                <mat-form-field fxFlex="40%">
                  <mat-label>Tables with Monitors</mat-label>
                  <input matInput name="monitoredTables" #monitoredTables="ngModel"
                         [(ngModel)]="tournament.configuration.monitoredTables"
                         pattern="([1-9](\d{1,2})?)(,[1-9](\d{1,2})?)?">
                  <mat-error *ngIf="monitoredTables.control?.hasError('pattern')">Enter table numbers separated by
                    comma
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxLayout="row" fxLayoutGap="10px">
                <mat-form-field fxFlex="40%">
                  <mat-label>User for digital score boards</mat-label>
                  <input matInput name="digitalScoreBoardUser" readonly [ngModel]="getDigitalScoreBoardUser()"
                         (click)="onAddDigitalScoreBoard()">
                </mat-form-field>
                <div fxFlex="20%" style="padding-top: 28px;">
                  <button class="personnel-toolbar-button" mat-raised-button type="button"
                          (click)="onAddDigitalScoreBoard()">Choose User
                  </button>
                </div>
                <div fxFlex="40%"></div>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-tab>
      </mat-tab-group>
      <!--                <p>Form values: {{ f.value | json }} </p>-->
      <!--          <p>Form status: {{ f.status | json }} </p>-->
      <!--          <p>eligibilityDate ALL errors: {{ f.controls.eligibilityDate?.errors | json }} </p>-->
      <!--<p>Zip code required is: {{ zipCode.control?.errors?.required | json }} </p>-->
      <!--<p>Zip code pattern is: {{ zipCode.control?.errors?.pattern | json }} </p>-->
    </form>
  </div>
  <div fxFlex></div>
</div>

