@use "src/my-theme.scss" as *;

mat-tab-group {
  height: calc(100vh - 100px);
}

.other-information-card {
  height: 100%;
}

.personnel-card {
  height: calc(100vh - 290px);

  div.personnel-list {
    overflow: auto;
    height: 350px;

    div.personnel-row {
      padding-right: 10px;
      margin: 10px 20px 0 0;

      div.delete-personnel-button {
        cursor:pointer;
        color: black;
      }
    }
  }
}

button.personnel-toolbar-button {
  margin-right: 10px;
}

.ready-toggle-container {
  padding-top: 20px;
  margin-left: 5px;
}

.closed-toggle-container {
  padding-top: 20px;
  margin-left: 5px;
}
