@use "src/my-theme.scss" as *;

mat-tab-group {
  height: calc(100vh - 100px);
}

.other-information-card {
  height: calc(100vh - 450px);
}

.personnel-card {
  height: calc(100vh - 290px);
}

button.personnel-toolbar-button {
  margin-right: 10px;
}
