@use "src/my-theme" as *;

div.table-container {
  overflow: auto;
  height: calc(100vh - 220px);
//border: 1px solid greenyellow;
}

.toolbar-spacer-2 {
  margin-right: 16px;
}

.club-affiliation-application-table {
  width: 100%;
}

.mat-mdc-row:hover {
  background-color: lighten($primary-color, 40%);
  cursor: pointer;
}

.mat-column-name {
     flex: 3;
   }

.mat-column-cityState {
  flex: 2;
}

.mat-column-expirationDate {
  flex: 1;
}

.mat-column-status {
  flex: 1;
}

.mat-column-actions {
  flex: 1;
}



