<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title></title>
</head>
<body>
Hello <span th:text="${associationAdminFirstName}"></span>,
<p>
    Tournament reports have been submitted for processing.  Please see attached files.
</p>
<p>
    Please visit <a th:href="${processingRequestUrl}">this link</a> to the reports.
</p>
Thank you,

<div th:text="${clubAdminName}"></div>
<div th:text="${clubAdminEmail}"></div>
</body>
</html>
