<div mat-dialog-title>Import Tournament Entries from Omnipong (R)</div>
<mat-dialog-content>
  <form name="form" #f="ngForm">
    <mat-horizontal-stepper linear (selectionChange)="onStepChange($event)">
      <mat-step label="Select Tournament">
        <mat-form-field fxFlexFill>
          <mat-label>Select tournament to import</mat-label>
          <mat-select name="selectedTournament" [(ngModel)]="selectedTournamentUrl" required (selectionChange)="onTournamentSelected($event)">
            <mat-option *ngFor="let tournament of tournaments" [value]="tournament.playersUrl">
              {{tournament.tournamentName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="end">
          <button mat-raised-button color="primary" matStepperNext type="button">Next</button>
        </div>
      </mat-step>
      <mat-step label="Player Accounts">
        <mat-label>Checking if all players have accounts</mat-label>
        <mat-progress-bar [value]="importProgressInfo?.overallCompleted"
                          style="height: 8px; width: 100%; padding-bottom: 8px">
        </mat-progress-bar>
        <div class="instructions"><p style="font-weight: bold;">{{playerAccountsCheckResults}}</p>
          <p>It is best if accounts are created with real email addresses so the system can communicate with these players.</p>
          <p>Download and edit the file and provide real email addresses to each player on this list.</p>
          <p>Once completed, upload the file using the 'Select File' and 'Upload Player List' buttons.</p>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between start" style="width: 100%;">
        <app-download-file [buttonLabel]="'Download Player List'"
                             [fileUrl]="importProgressInfo?.missingProfileFileRepoUrl"
                             [disabledBtn]="importProgressInfo?.missingProfileFileRepoUrl === null">
          </app-download-file>
          <app-upload-file-component
            [disabledBtn]="importStarted"
            [uploadButtonLabel]="'Upload Player List'"
            (uploadFinished)="onEmailsUploadFinished($event)"
            [storagePath]="getEmailsStoragePath()">
          </app-upload-file-component>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between" style="margin-top: 20px;">
          <button mat-raised-button matStepperPrevious type="button">Back</button>
          <button mat-raised-button color="primary" matStepperNext type="button">Next</button>
        </div>
      </mat-step>
      <mat-step label="Import">
        <mat-label>Overall {{importProgressInfo?.overallCompleted}}% Complete</mat-label>
        <mat-progress-bar [value]="importProgressInfo?.overallCompleted"
                          style="height: 8px; width: 100%; padding-bottom: 8px">
        </mat-progress-bar>
        <div class="phase-name">
          <mat-label>Phase: {{importProgressInfo?.phaseName}}</mat-label>
        </div>
        <mat-label>Phase {{importProgressInfo?.phaseCompleted}}% Complete</mat-label>
        <mat-progress-bar [value]="importProgressInfo?.phaseCompleted"></mat-progress-bar>
        <div fxLayout="row" fxLayoutAlign="space-between" style="margin-top: 20px;">
          <button mat-raised-button matStepperPrevious type="button" [disabled]="importStarted">Back</button>
          <span>&nbsp;&nbsp;{{formatTime(elapsedSeconds)}}</span>
          <button mat-raised-button color="primary" type="button" (click)="startImport()" [disabled]="importStarted">Start Import</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row">
  <button mat-raised-button [mat-dialog-close]="false" (click)="onCancel()">Cancel</button>
  <span fxFlex></span>
  <button mat-raised-button color="primary" [disabled]="!f.valid" (click)="onOk()">Close</button>
</mat-dialog-actions>
