@use "src/my-theme" as *;
@use "sass:color";

div.table-container {
  overflow: auto;
  height: calc(100vh - 185px);
  //border: 1px solid greenyellow;
}

.user-list-table {
  width: 100%;
}

.mat-mdc-row:hover {
  background-color: color.adjust($primary-color, $lightness: 40%);
  cursor: pointer;
}
