<div fxLayout="row">
  <div fxFlex></div>
  <div fxFlex.lt-md="100%" fxFlex="40%" >
    <form name="form" (ngSubmit)="onSave(f.value)" #f="ngForm" novalidate>
      <mat-card style="height: 80%">
        <mat-card-title>Player Profile</mat-card-title>
        <mat-card-content>
          <div fxLayout.lt-sm="column" fxLayout="row" fxLayoutGap="10px">
            <mat-form-field fxFlex="50%">
              <mat-label>First Name</mat-label>
              <input matInput type="text" name="firstName" [ngModel]="profile?.firstName" required>
              <mat-error>This field is required</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="50%">
              <mat-label>Last Name</mat-label>
              <input matInput type="text" name="lastName" [ngModel]="profile?.lastName" required>
              <mat-error>This field is required</mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutGap="20px">
            <mat-form-field fxFlex="50%">
              <mat-label>Birth Date</mat-label>
              <input matInput [matDatepicker]="dateOfBirth" placeholder="mm/dd/yyyy" name="dateOfBirth"
                     [max]="maxDateOfBirth" [ngModel]="profile?.dateOfBirth" required>
              <mat-datepicker-toggle matSuffix [for]="dateOfBirth"></mat-datepicker-toggle>
              <mat-datepicker #dateOfBirth disabled="false"></mat-datepicker>
              <mat-error>This field is required</mat-error>
            </mat-form-field>
            <mat-radio-group [ngModel]="profile?.gender" name="gender">
              <div ngClass.lt-sm="gender-radio-sm" ngClass.sm="gender-radio-sm" ngClass.gt-sm="gender-radio">
                <mat-radio-button style="padding-bottom: 10px" value="Male">Male</mat-radio-button>&nbsp;&nbsp;&nbsp;
                <mat-radio-button value="Female">Female</mat-radio-button>
              </div>
            </mat-radio-group>
          </div>
          <mat-card-subtitle class="mat-title">Mailing Address</mat-card-subtitle>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <mat-form-field fxFlex="100%">
              <mat-label>Street Address</mat-label>
              <input matInput type="text" name="streetAddress" [ngModel]="profile?.streetAddress" required>
              <mat-error>This field is required</mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <mat-form-field fxFlex="55%">
              <mat-label>City</mat-label>
              <input matInput type="text" name="city" [ngModel]="profile?.city" required>
              <mat-error>This field is required</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="20%">
              <mat-label>State</mat-label>
              <mat-select matInput type="text" name="state" [ngModel]="profile?.state" required>
                <mat-option *ngFor="let state of statesList" value="{{state.abbreviation}}">{{state.abbreviation}}
                </mat-option>
              </mat-select>
              <mat-error>This field is required</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="25%">
              <mat-label>Zip Code</mat-label>
              <input matInput type="text" name="zipCode" [ngModel]="profile?.zipCode"
                     [pattern]="zipCodePattern" [maxlength]="zipCodeLength" #zipCode="ngModel"
                     required>
              <mat-error *ngIf="zipCode.control?.hasError('pattern')">Invalid zip code</mat-error>
              <mat-error *ngIf="zipCode.control?.hasError('required')">This field is required</mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <mat-form-field fxFlex="100%">
              <mat-label>Country</mat-label>
              <mat-select [ngModel]="profile?.countryCode" name="countryCode" required (valueChange)="onCountryChange($event)">
                <mat-option *ngFor="let country of countries" [value]="country.code">
                  {{country.name}}
                </mat-option>
              </mat-select>
              <mat-error>This field is required</mat-error>
            </mat-form-field>
          </div>
          <mat-card-subtitle class="mat-title">Contact Information</mat-card-subtitle>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <mat-form-field fxFlex="70%">
              <mat-label>Email</mat-label>
              <input matInput type="email" name="email" [ngModel]="profile?.email" email required>
              <mat-error>Invalid email address</mat-error>
            </mat-form-field>
            <input type="hidden" [ngModel]="profile?.login" name="login">
            <mat-form-field fxFlex="30%">
              <mat-label>Cell Phone</mat-label>
              <input matInput type="tel" placeholder="xxx-xxxx-xxxx" name="mobilePhone" [ngModel]="profile?.mobilePhone" required>
              <mat-error>Invalid phone</mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutGap="10px">
            <mat-form-field fxFlex="30%">
              <mat-label>Usatt Membership Id</mat-label>
              <input matInput type="text" name="membershipId" [ngModel]="profile?.membershipId" readonly>
            </mat-form-field>
            <mat-form-field fxFlex="40%">
              <mat-label>Membership Expires on</mat-label>
              <input matInput name="membershipExpirationDate" [ngModel]="profile?.membershipExpirationDate | date:'MM/dd/yyyy'" readonly>
            </mat-form-field>
            <mat-form-field fxFlex="25%">
              <mat-label>Rating</mat-label>
              <input matInput type="text" name="tournamentRating" [ngModel]="profile?.tournamentRating" readonly>
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div class="profile-button-bar" fxLayout="row">
            <button mat-raised-button type="button" (click)="onCancel()">Cancel</button>
            <span fxFlex></span>
            <button mat-raised-button color="primary" type="submit" [disabled]="!f.form.valid">Save</button>
          </div>
          <!--<p>Form values: {{ f.value | json }} </p>-->
          <!--<p>Form status: {{ f.status | json }} </p>-->
          <!--<p>Zip code ALL errors: {{ zipCode.control?.errors | json }} </p>-->
          <!--<p>Zip code required is: {{ zipCode.control?.errors?.required | json }} </p>-->
          <!--<p>Zip code pattern is: {{ zipCode.control?.errors?.pattern | json }} </p>-->
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
  <div fxFlex></div>
</div>
