<div class="center">
  <h2 class="mat-headline-5" style="text-align: center">Reset Password</h2>
  <mat-card appearance="outlined" fxLayout="column" fxLayoutAlign="center center">
    <mat-card-content>
      <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
        <div fxLayout="column">
          <div style="padding-bottom: 15px">{{passwordCriteria.passwordRequirements}}</div>
          <mat-form-field fxFlex="75%">
            <input type="password" matInput placeholder="Password" name="password" [(ngModel)]="password"
                   required [pattern]="passwordCriteria.passwordPattern"/>
            <mat-error *ngIf="f.form.controls['password']?.errors?.required">Password is required</mat-error>
            <mat-error *ngIf="f.form.controls['password']?.errors?.pattern">Invalid password</mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="75%">
            <input type="password" matInput placeholder="Reenter Password" name="password2" [(ngModel)]="password2"
                   required [pattern]="passwordCriteria.passwordPattern" appValuesMatch="password"
                   [errorStateMatcher]="crossFieldErrorMatcher"/>
            <mat-error *ngIf="f.form.controls['password2']?.errors?.required">Password is required</mat-error>
            <mat-error *ngIf="f.form.controls['password2']?.errors?.pattern">Invalid password</mat-error>
            <mat-error *ngIf="f.form.controls['password2']?.errors?.appValuesMatch && f.form.controls['password2']?.touched">Passwords don't match</mat-error>
          </mat-form-field>
        </div>
<!--        <p>Password  valid: {{ f.form.controls['password']?.valid }} {{ f.form.controls['password']?.errors | json }} {{ f.form.controls['password']?.value }}</p>-->
<!--        <p>Password2 valid: {{ f.form.controls['password2']?.valid }} {{ f.form.controls['password2']?.errors | json }} {{ f.form.controls['password2']?.value }}</p>-->
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [disabled]="!f.form.valid" (click)="resetPassword()">CHANGE</button>
    </mat-card-actions>
  </mat-card>
</div>
