<div class="center">
  <mat-card appearance="outlined" fxLayout="column" fxLayoutAlign="center center">
    <mat-card-header>
      <mat-card-title style="text-align: center">Reset Password</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
        <div fxLayout="column">
          <div style="padding-bottom: 15px">Password must contain upper and lower case letters and digits and be at least 8 characters long</div>
          <mat-form-field fxFlex="75%">
            <input type="password" matInput placeholder="Password" name="password" [(ngModel)]="password"
                   required pattern="[a-zA-Z0-9]{8,}" />
            <mat-error *ngIf="f.form.controls['password']?.errors?.required">Password is required</mat-error>
            <mat-error *ngIf="f.form.controls['password']?.errors?.pattern">Invalid password</mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="75%">
            <input type="password" matInput placeholder="Reenter Password" name="password2" [(ngModel)]="password2"
                   required pattern="{{ password }}" [errorStateMatcher]="crossFieldErrorMatcher" />
            <mat-error *ngIf="f.form.controls['password2']?.errors?.required">Password is required</mat-error>
            <mat-error *ngIf="f.form.controls['password2']?.errors?.pattern">Passwords don't match</mat-error>
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [disabled]="!f.form.valid" (click)="resetPassword()">CHANGE</button>
    </mat-card-actions>
  </mat-card>
</div>
