<app-centered-panel>
  <h2 class="mat-headline-5" style="text-align: center">Reset Password</h2>
  <mat-card fxLayout="column" fxLayoutAlign="start center">
    <mat-card-content>
      <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
        <div #fgPasswords="ngModelGroup" ngModelGroup="passwords" appValuesMatch="password,password2"
             fxLayout="column" class="form-group">
          <p class="password-instructions">{{ passwordCriteria.passwordRequirements }}</p>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <mat-form-field>
              <input [type]="showPassword ? 'text' : 'password'"
                     matInput placeholder="Password" name="password" [(ngModel)]="password"
                     #passwordCtrl="ngModel" required [pattern]="passwordCriteria.passwordPattern"
                     (keydown)="clearServerErrorMessage()"/>
              <mat-icon matSuffix class="material-icons md-dark md-inactive" (click)="toggleShowPassword()">
                {{ showPassword ? 'visibility' : 'visibility_off' }}
              </mat-icon>
              <mat-error *ngIf="passwordCtrl?.errors?.required">Password is required</mat-error>
              <mat-error *ngIf="passwordCtrl?.errors?.pattern">Weak password. See instructions above</mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <mat-form-field>
              <input [type]="showPassword2 ? 'text' : 'password'"
                     matInput placeholder="Reenter Password" name="password2" [(ngModel)]="password2"
                     #password2Ctrl="ngModel"
                     required [pattern]="passwordCriteria.passwordPattern"
                     [errorStateMatcher]="crossFieldErrorMatcher"
                     (keydown)="clearServerErrorMessage()"/>
              <mat-icon matSuffix class="material-icons md-dark md-inactive" (click)="toggleShowPassword2()">
                {{ showPassword2 ? 'visibility' : 'visibility_off' }}
              </mat-icon>
              <mat-error *ngIf="password2Ctrl.errors?.required">Password is required</mat-error>
              <mat-error *ngIf="password2Ctrl.errors?.pattern">Weak password. See instructions above</mat-error>
              <mat-error *ngIf="fgPasswords?.errors?.appValuesMatch && password2Ctrl.touched">Passwords don't match
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </form>
      <div class="server-error" *ngIf="errorMessage != null">{{ errorMessage}} </div>
    </mat-card-content>
    <mat-card-actions style="margin-top: 20px; width: 100%;">
      <button mat-raised-button color="" (click)="startOver()">Start over</button>
      <span fxFlex></span>
      <button mat-raised-button color="primary" [disabled]="!f.form.valid" (click)="resetPassword()">Submit</button>
    </mat-card-actions>
  </mat-card>
</app-centered-panel>
