.center {
  position:absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  width:350px;
  margin: 0 auto;
}

mat-form-field {
  max-width: 230px;
  min-width: 230px;
}

.password-instructions {
  text-align: start;
  max-width: 280px;
  padding-bottom: 15px;
}
