<div fxLayout="row">
  <div fxFlex></div>
  <div fxFlex="70%" fxFlex.lt-lg="90%" fxFlex.lt-md="100%" *ngIf="sanctionRequest != null">
    <form name="form" (ngSubmit)="save(f.value, false)" #f="ngForm" novalidate>
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>Tournament Sanction Request</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <button mat-raised-button type="button" (click)="onCancel()" style="margin-left: 10px">Cancel</button>
          <span fxFlex></span>
          <button mat-raised-button type="button" color="primary" *ngIf="sanctionRequest?.status === 'Completed'" (click)="onCancel()">Close</button>
          <button mat-raised-button type="submit" color="primary" *ngIf="sanctionRequest?.status !== 'Completed'">Save</button>
        </mat-card-actions>
        <mat-card-content class="sanction-form">
          <mat-horizontal-stepper>
            <mat-step label="Tournament" errorMessage="Correct invalid values" [hasError]="hasError(f, 1)">
              <mat-card-subtitle class="mat-headline-6">Tournament Information</mat-card-subtitle>
              <div fxLayout="column">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                  <input type="hidden" name="id" [ngModel]="sanctionRequest.id">
                  <mat-form-field fxFlex="50%">
                    <mat-label>Tournament Name</mat-label>
                    <input matInput type="text" placeholder="Tournament Name" name="tournamentName" [(ngModel)]="sanctionRequest.tournamentName" required>
                    <mat-error>This field is required</mat-error>
                  </mat-form-field>

                  <mat-form-field fxFlex="50%">
                    <mat-label>Tournament website URL</mat-label>
                    <input matInput type="text" placeholder="Tournament website URL" name="webLinkURL" [(ngModel)]="sanctionRequest.webLinkURL">
                  </mat-form-field>
                </div>

                <!-- Dates -->
                <div fxLayout="row" fxLayoutGap="10px">
                  <mat-form-field fxFlex="24%">
                    <mat-label>Start Date</mat-label>
                    <input matInput [matDatepicker]="pickerESD" placeholder="Start Date" name="startDate"
                           [min]="minStartDate" [max]="maxStartDate"
                           [(ngModel)]="sanctionRequest.startDate" required
                           (dateChange)="onEnableEndDate($event.target.value)"
                           (input)="onEnableEndDate($event.target.value)" readonly>
                    <mat-datepicker-toggle matSuffix [for]="pickerESD"></mat-datepicker-toggle>
                    <mat-datepicker #pickerESD disabled="false"></mat-datepicker>
                  </mat-form-field>

                  <mat-form-field fxFlex="24%">
                    <mat-label>End Date</mat-label>
                    <input matInput [matDatepicker]="pickerEED" placeholder="End Date" name="endDate"
                           [min]="minEndDate" [max]="maxEndDate"
                           [(ngModel)]="sanctionRequest.endDate" readonly>
                    <mat-datepicker-toggle matSuffix [for]="pickerEED"></mat-datepicker-toggle>
                    <mat-datepicker #pickerEED [disabled]="!endDateEnabled"></mat-datepicker>
                  </mat-form-field>

                  <mat-form-field fxFlex="24%">
                    <mat-label>Alternate Start Date</mat-label>
                    <input matInput [matDatepicker]="pickerAltSD" placeholder="Alternate Start Date"
                           name="alternateStartDate"
                           [(ngModel)]="sanctionRequest.alternateStartDate"
                           (dateChange)="onEnableAltEndDate($event.target.value)"
                           (input)="onEnableAltEndDate($event.target.value)" readonly>
                    <mat-datepicker-toggle matSuffix [for]="pickerAltSD"></mat-datepicker-toggle>
                    <mat-datepicker #pickerAltSD disabled="false"></mat-datepicker>
                  </mat-form-field>

                  <mat-form-field fxFlex="24%">
                    <mat-label>Alternate End Date</mat-label>
                    <input matInput [matDatepicker]="pickerAltED" placeholder="Alternate End Date"
                           name="alternateEndDate"
                           [(ngModel)]="sanctionRequest.alternateEndDate" readonly>
                    <mat-datepicker-toggle matSuffix [for]="pickerAltED"></mat-datepicker-toggle>
                    <mat-datepicker #pickerAltED [disabled]="!altEndDateEnabled"></mat-datepicker>
                  </mat-form-field>
                </div>

                <mat-card-subtitle class="mat-headline-6">Venue Address</mat-card-subtitle>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                  <mat-form-field fxFlex="50%">
                    <mat-label>Street Address</mat-label>
                    <input matInput type="text" placeholder="Street Address" name="venueStreetAddress" [(ngModel)]="sanctionRequest.venueStreetAddress" required>
                  </mat-form-field>
                  <mat-form-field fxFlex="30%">
                    <mat-label>City</mat-label>
                    <input matInput type="text" placeholder="City" name="venueCity" [(ngModel)]="sanctionRequest.venueCity" required>
                    <mat-error>This field is required</mat-error>
                  </mat-form-field>
                  <mat-form-field fxFlex="10%">
                    <mat-label>State</mat-label>
                    <mat-select matInput type="text" placeholder="State" name="venueState" [(ngModel)]="sanctionRequest.venueState" (selectionChange)="onVenueStateChange($event)">
                      <mat-option *ngFor="let state of statesList" value="{{state.abbreviation}}">{{state.abbreviation}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field fxFlex="10%">
                    <mat-label>Zip Code</mat-label>
                    <input matInput type="text" placeholder="Zip Code" name="venueZipCode" [(ngModel)]="sanctionRequest.venueZipCode" required  pattern="^[1-9][0-9]{4}" maxlength="6">
                    <mat-error>This field is required</mat-error>
                  </mat-form-field>
                </div>

                <!-- Club information -->
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                  <mat-form-field fxFlex="50%">
                    <mat-label>Club Name</mat-label>
                    <input matInput type="text" placeholder="Club Name" name="clubName"
                           #clubNameCtrl="ngModel"
                           [matAutocomplete]="auto" [appClubName]="filteredClubs"
                           [(ngModel)]="sanctionRequest.clubName" required>
                    <button *ngIf="sanctionRequest.clubName" matSuffix mat-icon-button aria-label="Clear" (click)="clearClubName()">
                      <mat-icon>close</mat-icon>
                    </button>
                    <mat-error>This field is required</mat-error>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onClubSuggestionSelected($event)">
                      <mat-option *ngFor="let club of filteredClubs" [value]="club.clubName">
                        {{club.clubName}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>

                  <mat-form-field fxFlex="35%">
                    <mat-label>Club's Affiliation Expiration Date</mat-label>
                    <input matInput [matDatepicker]="pickerAffilationED" appDateAfter="endDate" readonly
                           name="clubAffiliationExpiration" [(ngModel)]="sanctionRequest.clubAffiliationExpiration">
                    <mat-datepicker-toggle matSuffix [for]="pickerAffilationED"></mat-datepicker-toggle>
                    <mat-datepicker #pickerAffilationED disabled="true"></mat-datepicker>
                    <mat-error>Club membership must not be expired on date of tournament</mat-error>
                  </mat-form-field>
                  <mat-form-field fxFlex="15%">
                    <mat-label>Total Prize Money</mat-label>
                    <input matInput type="text" placeholder="Total Prize Money" requried
                           name="totalPrizeMoney" [(ngModel)]="sanctionRequest.totalPrizeMoney"
                           (change)="onTotalPrizeMoneyChanged($event)" pattern="^(0|[1-9][0-9]{0,6})$" maxlength="7"
                    >
                    <mat-error>Enter positive number</mat-error>
                  </mat-form-field>
                </div>
              </div>
<!--              blank entry form upload &download-->
              <mat-card-subtitle class="mat-headline-6">Blank Entry Form</mat-card-subtitle>
              <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px" >
                <app-upload-file-component
                  [disabledBtn]="isUploadDisabled()"
                  [uploadButtonLabel]="'Upload'"
                  (uploadFinished)="onUploadFinished($event)"
                  [storagePath]="getStoragePath()">
                </app-upload-file-component>
                <ng-container *ngIf="sanctionRequest?.blankEntryFormUrl != null; else blankEntryMissing">
<!--                  <app-download-file [buttonLabel]="'Download'"-->
<!--                                     [fileUrl]="sanctionRequest?.blankEntryFormUrl"-->
<!--                                     [disabledBtn]="sanctionRequest?.blankEntryFormUrl === null">-->
<!--                  </app-download-file>-->
                  <a *ngIf="sanctionRequest?.blankEntryFormUrl != null" href=""
                     (click)="onDownloadDFile(sanctionRequest?.blankEntryFormUrl)">Download</a>
                </ng-container>
                <ng-template #blankEntryMissing>
                  <mat-error>Please upload blank entry form</mat-error>
                </ng-template>
              </div>
              <div fxLayout="row" fxLayoutAlign="end" class="stepper-actions">
                <button mat-raised-button matStepperNext type="button">Next</button>
              </div>
            </mat-step>

            <mat-step label="Personnel" errorMessage="Correct invalid values" [hasError]="hasError(f, 2)">
              <mat-card-subtitle class="mat-headline-6">Contact Person</mat-card-subtitle>
              <!-- Contact person -->
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <mat-form-field fxFlex="40%">
                  <mat-label>Name</mat-label>
                  <input matInput type="text" name="contactPersonName"
                         [(ngModel)]="sanctionRequest.contactPersonName" required>
                  <mat-error>This field is required</mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="20%">
                  <mat-label>Phone</mat-label>
                  <input matInput type="tel" name="contactPersonPhone"
                         [(ngModel)]="sanctionRequest.contactPersonPhone" required>
                  <mat-error>This field is required</mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="40%">
                  <mat-label>Email</mat-label>
                  <input matInput type="email" name="contactPersonEmail"
                         [(ngModel)]="sanctionRequest.contactPersonEmail" required>
                  <mat-error>This field is required</mat-error>
                </mat-form-field>
              </div>
              <!-- Contact person address -->
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <mat-form-field fxFlex="50%">
                  <mat-label>Street Address</mat-label>
                  <input matInput type="text" placeholder="Street Address" name="contactPersonStreetAddress"
                         [(ngModel)]="sanctionRequest.contactPersonStreetAddress" required>
                  <mat-error>This field is required</mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="30%">
                  <mat-label>City</mat-label>
                  <input matInput type="text" placeholder="City" name="contactPersonCity"
                         [(ngModel)]="sanctionRequest.contactPersonCity" required>
                  <mat-error>This field is required</mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="10%">
                  <mat-label>State</mat-label>
                  <mat-select matInput type="text" placeholder="State" name="contactPersonState"
                              [(ngModel)]="sanctionRequest.contactPersonState" required>
                    <mat-option *ngFor="let state of statesList" value="{{state.abbreviation}}">{{state.abbreviation}}</mat-option>
                  </mat-select>
                  <mat-error>This field is required</mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="10%">
                  <mat-label>Zip Code</mat-label>
                  <input matInput type="text" placeholder="Zip Code" name="contactPersonZip"
                         [(ngModel)]="sanctionRequest.contactPersonZip"
                         required  pattern="^[1-9][0-9]{4}" maxlength="6">
                  <mat-error>This field is required</mat-error>
                </mat-form-field>
              </div>

              <!-- Tournament Referee and Director -->
              <mat-card-subtitle class="mat-headline-6">Tournament Referee</mat-card-subtitle>
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <mat-form-field fxFlex="50%">
                  <mat-label>Referee Name</mat-label>
                  <input matInput type="text" required name="tournamentRefereeName"
                         [(ngModel)]="sanctionRequest.tournamentRefereeName" required>
                  <button matSuffix type="button" mat-icon-button aria-label="Search" (click)="showRefereeSearchDialog()">
                    <mat-icon>search</mat-icon>
                  </button>
                  <mat-error>This field is required</mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="25%">
                  <mat-label>Referee/Umpire Rank</mat-label>
                  <input matInput readonly name="tournamentRefereeRank"
                         [ngModel]="sanctionRequest.tournamentRefereeRank" required>
                  <mat-error>This field is required</mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="25%">
                  <mat-label>USATT Membership Expires on</mat-label>
                  <input matInput readonly name="tournamentRefereeMembershipExpires"
                         [matDatepicker]="pickerRefereeExpiration"
                         [(ngModel)]="sanctionRequest.tournamentRefereeMembershipExpires"
                         appDateAfter="endDate" required #tournamentRefereeMembershipExpires="ngModel">
                  <mat-datepicker-toggle matSuffix [for]="pickerRefereeExpiration"></mat-datepicker-toggle>
                  <mat-datepicker #pickerRefereeExpiration disabled="true"></mat-datepicker>
                  <mat-error *ngIf="tournamentRefereeMembershipExpires.control?.hasError('appDateAfter')">Referee membership must be valid on date of tournament</mat-error>
                  <mat-error *ngIf="tournamentRefereeMembershipExpires.control?.hasError('required')">This field is required</mat-error>
                </mat-form-field>
                <button matSuffix type="button" mat-icon-button aria-label="Search"
                        (click)="refreshRefereeMembershipExpirationDate()" style="margin-top: 0;"
                        [disabled]="!this.sanctionRequest?.tournamentRefereeName">
                  <mat-icon>refresh</mat-icon>
                </button>
              </div>
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <mat-form-field fxFlex="50%">
                  <mat-label>Tournament Director</mat-label>
                  <input matInput type="text" required name="tournamentDirectorName" [(ngModel)]="sanctionRequest.tournamentDirectorName">
                  <mat-error>This field is required</mat-error>
                </mat-form-field>
              </div>

              <div fxLayout="row" fxLayoutAlign="space-between start"  class="stepper-actions">
                <button mat-raised-button matStepperPrevious type="button">Back</button>
                <button mat-raised-button matStepperNext type="button">Next</button>
              </div>
            </mat-step>
            <mat-step label="Star Rating Criteria">
              <mat-accordion class="example-headers-align">
                <div *ngFor="let category of sanctionRequest.categories; index as catIndex">
                  <mat-expansion-panel [expanded]="isCurrentCategory(catIndex)" (opened)="setCategory(catIndex)" hideToggle="true">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <h4>{{category.title}}</h4>
                      </mat-panel-title>
                      <mat-panel-description>
                        {{ category.getSubTotal() }} points
                      </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div *ngIf="category.selectOne; else multiSelection">
                      <mat-radio-group class="criteria-radio-group" name="{{ category.name }}" [(ngModel)]="category.selectedValue" fxFlex="70%" (change)="onRadioGroupChange($event)">
                        <div fxLayout="row" *ngFor="let criteria of category.criteria; index as i">
                          <div fxFlex="80%">
                            <mat-radio-button class="criteria-radio-button" name="category.name + i"
                                              [value]="criteria.points" [checked]="criteria.selected">{{ criteria.name }}
                            </mat-radio-button>
                          </div>
                          <div fxFlex="20%">{{ criteria.requiredForStarLevel }}</div>
                        </div>
                      </mat-radio-group>
                    </div>
                    <ng-template #multiSelection>
                      <div fxFlex="70%">
                        <div fxLayout="row" *ngFor="let criteria of category.criteria; index as i" class="criteria-checkbox-row">
                          <div fxFlex="80%">
                            <mat-checkbox [(ngModel)]="criteria.selected" name="{{ category.name + i}}"
                                          value="{{ criteria.points }}" (change)="onCheckBoxChange($event)">{{ criteria.name }}
                            </mat-checkbox>
                          </div>
                          <div fxFlex="20%">{{ criteria.requiredForStarLevel }}</div>
                        </div>
                      </div>
                    </ng-template>

                    <mat-action-row>
                      <button mat-button type="button" *ngIf="notFirstCategory(catIndex)" color="primary" (click)="prevCategory()">Previous</button>
                      <button mat-button type="button" *ngIf="notLastCategory(catIndex)" color="primary" (click)="nextCategory()">Next</button>
                    </mat-action-row>
                  </mat-expansion-panel>
                </div>
              </mat-accordion>
              <div>
                <h3>Total Rating Points: <span style="font-weight: bold">{{ totalPoints }}</span> qualify this tournament for <span style="font-weight: bold">{{ qualifiedStarLevel }}</span> star rating </h3>
              </div>
              <div fxLayout="row" fxLayoutAlign="space-between" class="stepper-actions">
                <button mat-raised-button matStepperPrevious type="button">Back</button>
                <button mat-raised-button matStepperNext type="button">Next</button>
              </div>
            </mat-step>
            <mat-step label="Pay and Submit">
              <div fxLayout="column" fxLayoutGap="10px">
                <div fxLayout="row" fxFlex="100%">
                  <div fxFlex="60%">
                    <h3>Total Rating Points: {{ totalPoints }} qualify this tournament for {{ qualifiedStarLevel }} star rating </h3>
                    <mat-form-field>
                      <label for="starLevel">Downgrade star level</label>
                      <input matInput type="number" id="starLevel" name="starLevel" [(ngModel)]="sanctionRequest.starLevel"
                             min="0" [max]="qualifiedStarLevel" maxlength="1" (change)="starLevelChanged($event)">
                      <mat-error>This field is required</mat-error>
                    </mat-form-field>
                    <h4>Based on selected star rating this tournament will be submitted for sanctioning to
                      {{ sanctionRequest.coordinatorFirstName }} {{ sanctionRequest.coordinatorLastName }}.
                      The coordinator will be notified by email about your submission
                    </h4>
                  </div>
                  <div fxFlex="40%">
                    <table class="prizeMoney">
                      <thead>
                      <td>Total Prize Money</td><td>Sanction Fee</td>
                      </thead>
                      <tbody>
                      <tr *ngFor="let feeSchedule of sanctionFeeSchedule">
                        <td>{{'$' + feeSchedule.low }} - {{(feeSchedule.high == null)  ? '' : ('$' + feeSchedule.high)}}</td>
                        <td>{{feeSchedule.sanctionFee == 0 ? 'Waived' : ('$' + feeSchedule.sanctionFee)}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <table class="summary-table">
                  <tbody>
                  <ng-container *ngIf="paymentsRefunds?.length > 0">
                    <tr>
                      <th>Payments & Refunds</th>
                      <th></th>
                    </tr>
                    <tr *ngFor="let paymentRefund of paymentsRefunds; last as last">
                      <td>
                        <div>{{ isPayment(paymentRefund) ? 'Payment' : 'Refund' }}</div>
                        <div class="summary-item-second-line">
                          on {{ paymentRefund.transactionDate | date:'medium'}}</div>
                      </td>
                      <td>
                        <ng-container *ngIf="paymentRefund.paidAmount !== paymentRefund.amount">
                          {{ isPayment(paymentRefund) ? '' : '-' }}{{ (paymentRefund.paidAmount / 100) | currency: paymentRefund.paidCurrency }}
                          =
                        </ng-container>
                        {{ isPayment(paymentRefund) ? '' : '-' }}{{ (paymentRefund.amount / 100) | currency: associationCurrency }}
                      </td>
                    </tr>
                    <tr>
                      <td style="border-top: 1px solid black"><h2>Payments & Refunds Total</h2></td>
                      <td style="border-top: 1px solid black">
                        <h2>{{getPaymentsRefundsTotal() | currency: associationCurrency}}</h2></td>
                    </tr>
                  </ng-container>
                  </tbody>
                </table>
                <mat-form-field fxFlex="100%">
                  <mat-label>Approval/Rejection Notes</mat-label>
                  <textarea rows="5" matInput name="approvalRejectionNotes" maxlength="500"
                            [(ngModel)]="sanctionRequest.approvalRejectionNotes"
                            [disabled]="!isApproveRejectEnabled()">
                    </textarea>
                </mat-form-field>
              </div>
              <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
                <button mat-raised-button color="primary" type="button" (click)="onSubmitApplication(f.value, f.valid)"
                        [disabled]="!isSubmitEnabled()">Submit
                </button>
                <button mat-raised-button color="primary" type="button" (click)="onApproveApplication(f.value)"
                        [disabled]="!isApproveRejectEnabled()">Approve
                </button>
                <button mat-raised-button color="primary" type="button" (click)="onRejectApplication(f.value)"
                        [disabled]="!isApproveRejectEnabled()">Reject
                </button>
                <button mat-raised-button color="primary" type="button" (click)="onPay(f.value)"
                        [disabled]="!isPaymentEnabled()">Pay {{sanctionFee | currency: associationCurrency}}
                </button>
              </div>
              <div fxLayout="row" fxLayoutAlign="start" class="stepper-actions">
                <button mat-raised-button matStepperPrevious type="button">Back</button>
              </div>
            </mat-step>
          </mat-horizontal-stepper>
        </mat-card-content>
      </mat-card>
    </form>
  </div>

  <div fxFlex></div>
</div>
