<h2>Select Event Type</h2>
<mat-dialog-content>
  <form name="form" #f="ngForm" novalidate>
  <mat-form-field fxFlex="100%">
    <mat-label>Choose event</mat-label>
    <mat-select name="selectedEvent" [(ngModel)]="selectedEvent">
      <mat-option *ngFor="let event of eventDefaults; let i = index" [value]="i">
        {{event.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">Cancel</button>
  <button mat-button cdkFocusInitial (click)="onOk(f.value)">OK</button>
</mat-dialog-actions>
