.round-divider {
  width: 100%;
  //border-bottom: 2px solid $primary-color;
  border-bottom: 8px solid blueviolet;
  margin-bottom: 8px;
}

.division-divider {
  width: 100%;
  //border-bottom: 2px solid $primary-color;
  border-bottom: 4px solid blueviolet;
  margin-bottom: 8px;
}
