<div fxLayout="column" fxLayoutAlign="start start">
  <form name="form" #f="ngForm" novalidate fxFlexFill>
    <ng-container *ngIf="searchingByMembershipId; else elseblock">
      <div fxLayout="row" fxFlexAlign="start stretch" style="border: 0px solid red;">
        <div fxFlex="50%">
          <mat-form-field>
            <mat-label>Membership Id</mat-label>
            <input matInput type="text" name="membershipId" [(ngModel)]="membershipId" pattern="\d{1,7}" maxlength="7" [required]="searchingByMembershipId">
            <mat-error>Required field</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="50%" style="border: 0px solid pink;"></div>
      </div>
      <div fxLayout="row" style="border: 0px solid blue;">
        <span fxFlex></span>
        <div>
          <button mat-raised-button type="button" color="primary"
                  (click)="onSearchByMembershipId(f.value)">
            Search
          </button>
        </div>
      </div>
    </ng-container>
    <ng-template #elseblock>
      <div fxFlexFill>
        <div fxLayout="row" fxLayoutGap="10px" fxFlexAlign="start stretch"
             style="border: 0px solid blue">
          <mat-form-field fxFlex="50%">
            <mat-label>First name</mat-label>
            <input matInput type="text" name="firstName" [(ngModel)]="firstName">
          </mat-form-field>
          <mat-form-field fxFlex="50%">
            <mat-label>Last name</mat-label>
            <input matInput type="text" name="lastName" [(ngModel)]="lastName">
          </mat-form-field>
        </div>
        <div fxLayout="row" style="padding-bottom: 16px;">
          <span fxFlex></span>
          <button mat-raised-button color="primary" type="button"
                  (click)="onSearchByNames(f.value)">
            Search
          </button>
        </div>
      </div>
    </ng-template>
  </form>
<!--    <mat-divider style="width: 100%; padding: 8px 0;"></mat-divider>-->
  <div fxFlexFill>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlexFill [fxHide]="searchingByMembershipId"
         style="padding-bottom: 10px; border: 0px solid blue;">
      <button mat-raised-button type="button" (click)="onPreviousPage(f.value)" [disabled]="pageNum === 0">Prev Page
      </button>
      <span fxFlex></span>
      <button mat-raised-button type="button" (click)="onNextPage(f.value)">Next Page</button>
    </div>
    <div style="overflow: auto; height: 230px; border: 0px solid green;">
      <mat-list>
        <mat-list-item *ngFor="let foundPlayer of foundPlayers$ | async"
                       (click)="onSelection(foundPlayer)">
          <h2 matListItemTitle>{{foundPlayer.firstName}} {{foundPlayer.lastName}} ({{foundPlayer.tournamentRating}})</h2>
          <h3 matListItemLine>{{foundPlayer.city}} {{foundPlayer.state}}</h3>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
      <div *ngIf="(foundPlayers$ | async)?.length === 0" style="width: 100%; margin-top: 20px; text-align: center">No players found</div>
    </div>
  </div>
</div>
