<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <mat-list-item *ngIf="(isAuthenticated$ | async)" (click)="closeAndNavigateToRoute('/tournaments')" routerLinkActive="active">
        <a matLine>Tournaments</a>
      </mat-list-item>
      <mat-list-item *ngIf="isLinkVisible('/tournamentsconfig')" (click)="closeAndNavigateToRoute('/tournamentsconfig')" routerLinkActive="active">
        <a matLine>Tournaments Config</a>
      </mat-list-item>
      <mat-list-item *ngIf="isLinkVisible('/matches')" (click)="closeAndNavigateToRoute('/matches')" routerLinkActive="active">
        <a matLine>Match Scores</a>
      </mat-list-item>
      <mat-list-item *ngIf="isLinkVisible('/account')" (click)="closeAndNavigateToRoute('/account')" routerLinkActive="active">
        <a matLine>Account</a>
      </mat-list-item>
      <mat-list-item *ngIf="(isAuthenticated$ | async)" (click)="editProfile()" routerLinkActive="active">
        <a matLine>Profile</a>
      </mat-list-item>
      <mat-list-item *ngIf="(isAuthenticated$ | async) && hasTournamentToday()" (click)="goToToday()" routerLinkActive="active">
        <a matLine>Today</a>
      </mat-list-item>
      <mat-list-item *ngIf="!(isAuthenticated$ | async)" (click)="closeAndNavigateToRoute('/login/signin')" routerLinkActive="active">
        <a matLine>Login</a>
      </mat-list-item>
      <a mat-list-item href="#" *ngIf="isAuthenticated$ | async" (click)="logout()" routerLink="/home">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
<!--          *ngIf="isHandset$ | async">-->
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span class="toolbar-spacer">Aurora TMS</span>
        <!--<button mat-raised-button color="accent" *ngIf="!isAuthenticated"-->
        <!--(click)="login()">Login-->
        <!--</button>-->
      </mat-toolbar-row>
      <mat-toolbar-row style="height: 8px; padding-left: 0; padding-right: 0">
        <app-linear-progress-bar style="width: 100%;"></app-linear-progress-bar>
      </mat-toolbar-row>
    </mat-toolbar>
    <section class="mat-typography" style="height: calc(100% - 72px)">
      <router-outlet></router-outlet>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
