<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <mat-list-item *ngIf="(isAuthenticated$ | async)" (click)="closeAndNavigateToRoute('/ui/home')" routerLinkActive="active">
        <a matListItemTitle>Home</a>
      </mat-list-item>
      <mat-list-item *ngIf="(isAuthenticated$ | async)" (click)="closeAndNavigateToRoute('/ui/tournaments')" routerLinkActive="active">
        <a matListItemTitle>Tournaments</a>
      </mat-list-item>
      <mat-list-item *ngIf="isLinkVisible('/ui/tournamentsconfig')" (click)="closeAndNavigateToRoute('/ui/tournamentsconfig')" routerLinkActive="active">
        <a matListItemTitle>Tournaments Config</a>
      </mat-list-item>
      <mat-list-item *ngIf="isLinkVisible('/ui/matches')" (click)="closeAndNavigateToRoute('/ui/matches')" routerLinkActive="active">
        <a matListItemTitle>Match Scores</a>
      </mat-list-item>
      <mat-list-item *ngIf="isLinkVisible('/ui/tableusage')" (click)="closeAndNavigateToRoute('/ui/tableusage')" routerLinkActive="active">
        <a matListItemTitle>Manage Tables</a>
      </mat-list-item>
      <mat-list-item *ngIf="isLinkVisible('/ui/prizes')" (click)="closeAndNavigateToRoute('/ui/prizes')" routerLinkActive="active">
        <a matListItemTitle>Prizes</a>
      </mat-list-item>
      <mat-list-item *ngIf="isLinkVisible('/ui/monitor')" (click)="closeAndNavigateToRoute('/ui/monitor')" routerLinkActive="active">
        <a matListItemTitle>Live Scores Display</a>
      </mat-list-item>
      <mat-list-item *ngIf="isLinkVisible('/ui/scoreboard')" (click)="closeAndNavigateToRoute('/ui/scoreboard')" routerLinkActive="active">
        <a matListItemTitle>Live Score Entry</a>
      </mat-list-item>
      <mat-list-item *ngIf="isLinkVisible('/ui/account')" (click)="closeAndNavigateToRoute('/ui/account')" routerLinkActive="active">
        <a matListItemTitle>Account</a>
      </mat-list-item>
      <mat-list-item *ngIf="(isAuthenticated$ | async)" (click)="editProfile()" routerLinkActive="active">
        <a matListItemTitle>Profile</a>
      </mat-list-item>
<!--      <mat-list-item *ngIf="isLinkVisible('/ui/tddashboard')" (click)="closeAndNavigateToRoute('/ui/tddashboard')" routerLinkActive="active">-->
<!--        <a matListItemTitle>TD Dashboard</a>-->
<!--      </mat-list-item>-->
      <mat-list-item *ngIf="isLinkVisible('/ui/club')" (click)="closeAndNavigateToRoute('/ui/club/list')" routerLinkActive="active">
        <a matListItemTitle>Clubs</a>
      </mat-list-item>
      <mat-list-item *ngIf="isLinkVisible('/ui/clubaffiliation')" (click)="closeAndNavigateToRoute('/ui/clubaffiliation/list')" routerLinkActive="active">
        <a matListItemTitle>Club Affiliation</a>
      </mat-list-item>
      <mat-list-item *ngIf="isLinkVisible('/ui/insurance')" (click)="closeAndNavigateToRoute('/ui/insurance/list')" routerLinkActive="active">
        <a matListItemTitle>Insurance</a>
      </mat-list-item>
      <mat-list-item *ngIf="isLinkVisible('/ui/sanction')" (click)="closeAndNavigateToRoute('/ui/sanction/list')" routerLinkActive="active">
        <a matListItemTitle>Tournament Sanction</a>
      </mat-list-item>
      <mat-list-item *ngIf="isLinkVisible('/ui/processing')" (click)="closeAndNavigateToRoute('/ui/processing')" routerLinkActive="active">
        <a matListItemTitle>Tournament Processing</a>
      </mat-list-item>
      <mat-list-item *ngIf="isLinkVisible('/ui/admin')" (click)="closeAndNavigateToRoute('/ui/admin')" routerLinkActive="active">
        <a matListItemTitle>Admin</a>
      </mat-list-item>
      <mat-list-item *ngIf="!(isAuthenticated$ | async)" (click)="closeAndNavigateToRoute('/ui/login/signin')" routerLinkActive="active">
        <a matListItemTitle>Login</a>
      </mat-list-item>
      <a mat-list-item href="#" *ngIf="isAuthenticated$ | async" (click)="logout()" routerLink="/ui/home">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
<!--          *ngIf="isHandset$ | async">-->
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span class="toolbar-spacer">Aurora TMS</span>
        <!--<button mat-raised-button color="accent" *ngIf="!isAuthenticated"-->
        <!--(click)="login()">Login-->
        <!--</button>-->
        <span *ngIf="isAuthenticated$ | async">{{getUserFirstName()}}</span>
      </mat-toolbar-row>
      <mat-toolbar-row style="height: 4px; padding-left: 0; padding-right: 0">
        <app-linear-progress-bar style="width: 100%;"></app-linear-progress-bar>
      </mat-toolbar-row>
    </mat-toolbar>
    <section class="mat-typography" style="height: calc(100% - 72px)">
      <router-outlet></router-outlet>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
