<div fxLayout="row">
  <div fxFlex></div>
  <div fxFlex.lt-md="100%" fxFlex="70%">
    <mat-card style="height: 100%">
      <mat-card-title>Tournament View</mat-card-title>
      <mat-card-content>
        <h3 matLine>{{ tournament?.name }}</h3>
        <h3 matLine>{{ tournament?.startDate | date }} - {{tournament?.endDate | date }}</h3>
        <h4 matLine>{{ tournament?.city }}, {{ tournament?.state }} </h4>
      </mat-card-content>
      <mat-card-actions>
        <button *ngIf="entryId === 0" mat-raised-button type="button" (click)="onEnter()">Enter</button>
        <button *ngIf="entryId !== 0" mat-raised-button type="button" (click)="onView()">View/Modify</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex></div>
</div>
