<div fxLayout="row">
  <div fxFlex></div>
  <div fxFlex.lt-md="100%" fxFlex="70%">
    <mat-card>
      <mat-card-title>{{ tournament?.name }}</mat-card-title>
      <div>
        <ng-container *ngFor="let star of starsArray">
          <mat-icon matListIcon color="accent">star</mat-icon>
        </ng-container>
      </div>
      <mat-card-content>
        <div class="mat-caption">{{ [tournament?.startDate, tournament?.endDate] | dateRange }}</div>
        <table style="width: 100%">
          <tbody>
          <tr>
            <!--            <td class="mat-subheading-1"></td>-->
            <td colspan="2" class="mat-subheading-1">Venue</td>
          </tr>
          <tr>
            <td class="icon-column">
              <a [href]="getDirectionsURL()" target="_blank">
                <mat-icon class="button-icon">assistant_direction</mat-icon>
              </a>
            </td>
            <td>
              <div>{{ tournament?.venueName }}</div>
              <div>{{ tournament?.streetAddress }}</div>
              <div>{{ tournament?.city }}, {{ tournament?.state }}</div>
            </td>
          </tr>
          <tr style="padding-top: 20px;">
            <!--            <td class="mat-subheading-1"></td>-->
            <td colspan="2" class="mat-subheading-1">Tournament Director</td>
          </tr>
          <tr>
            <td class="icon-column">
              <a href="tel:{{tournament?.phone}}">
                <mat-icon class="button-icon">call</mat-icon>
              </a>
            </td>
            <td>
              <div>{{tournament?.contactName}}</div>
              <div>{{tournament?.phone}}</div>
              <div>
                <a href="mailto:{{tournament?.email}}">
                  {{tournament?.email}}
                </a>
              </div>
            </td>
          </tr>
          <tr>
            <!--            <td class="mat-subheading-1"></td>-->
            <td colspan="2" class="mat-subheading-1">Players Entered</td>
          </tr>
          <tr>
            <td class="icon-column">
              <a (click)="showPlayers()" routerLink="active">
                <mat-icon class="button-icon">groups</mat-icon>
              </a>
            </td>
            <td class="mat-display-1">
              {{ tournament?.numEntries }} ({{percentFull | percent}} full)
            </td>
          </tr>
          <tr>
            <td colspan="2" class="mat-subheading-1">Key dates</td>
          </tr>
          <tr>
            <td class="icon-column"></td>
            <td>
              <table class="dates-table">
                <tbody>
                <tr>
                  <td class="date-name">Ratings Eligibility</td>
                  <td class="date-value">{{tournament?.configuration.eligibilityDate | date}}</td>
                </tr>
                <tr>
                  <td class="date-name">Full Refund</td>
                  <td class="date-value">{{tournament?.configuration.refundDate | date}}</td>
                </tr>
                <tr *ngIf="tournament?.configuration.lateEntryFee > 0">
                  <td class="date-name">Late Entry</td>
                  <td class="date-value">{{tournament?.configuration.lateEntryDate | date}}</td>
                </tr>
                <tr>
                  <td class="date-name">Entry Cutoff</td>
                  <td class="date-value">{{tournament?.configuration.entryCutoffDate | date}}</td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
      </mat-card-content>
      <mat-card-actions>
        <button *ngIf="entryId !== 0" mat-raised-button type="button" (click)="onWithdraw()">Withdraw</button>
        <span fxFlex></span>
        <button *ngIf="entryId === 0" mat-raised-button type="button" color="primary" (click)="onEnter()">Enter</button>
        <button *ngIf="entryId !== 0" mat-raised-button type="button" color="primary" (click)="onView()">View</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-subtitle>
        <div mat-line fxLayout="row">
          <div fxFlex="60%">Events</div>
          <div fxFlex="40%" style="text-align: right;">Spots (Taken/Max)</div>
        </div>
      </mat-card-subtitle>
      <mat-card-content>
        <mat-divider></mat-divider>
        <mat-list>
          <mat-list-item *ngFor="let tournamentEvent of tournamentEvents; first as isFirst; last as isLast">
            <mat-divider></mat-divider>
            <div mat-line fxLayout="row">
              <div fxFlex="80%">{{tournamentEvent.name}} </div>
              <div fxFlex="20%" style="text-align: right;">({{tournamentEvent.numEntries}}
                /{{tournamentEvent.maxEntries}})
              </div>
            </div>
            <div
              mat-line>{{ tournamentEvent.day | eventDay: tournamentStartDate }} {{ tournamentEvent.startTime | startTime }}</div>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex></div>
</div>
