@import "~src/my-theme.scss";

mat-icon.button-icon {
  //font-size: 32px;
  color: white;
}

mat-icon.non-button-icon {
  font-size: 32px;
  height: 40px;
  width: 40px;
  padding: 12px;
}

table.tournament-info-table {
  width: 100%;
  td.heading {
    border-bottom: 1px solid $primary-color;
    padding-top: 12px;
  }

  td.icon-column {
    align-content: center;
    justify-content: center;
    vertical-align: middle;
    width: 56px;
    padding-top: 8px;
    padding-right: 8px;
  }

  td.text-column {
    vertical-align: top;
    padding-top: 8px;
  }
}


table.dates-table {
  width: 100%;
  margin-top: 8px;
}

td.date-name {
  width: 60%;
}

td.date-value {
  width: 40%;
  text-align: right;
}
