@use "src/my-theme.scss" as *;

mat-icon.button-icon {
  color: white;
  padding-top: 4px;
}

mat-icon.non-button-icon {
  font-size: 32px;
  height: 40px;
  width: 40px;
  padding: 12px;
}

table.tournament-info-table {
  width: 100%;
  tr {
    padding-top: 16px;
  }

  td.heading {
    border-bottom: 1px solid $primary-color;
    padding-top: 8px;
  }

  td.icon-column {
    align-content: center;
    justify-content: center;
    vertical-align: middle;
    width: 56px;
    padding-top: 16px;
    padding-right: 12px;
    //border: 1px solid red;
  }

  td div.fab-button-text {
    padding-top: 4px;
    width: 100%;
    text-align: center;
    //border: 1px solid green;
  }

  td.text-column {
    vertical-align: top;
    padding-top: 8px;
  }
}


table.dates-table {
  width: 100%;
  margin-top: 8px;
}

td.date-name {
  width: 60%;
}

td.date-value {
  width: 40%;
  text-align: right;
}

table.table-events-status {
  width: 100%;
  thead {
    tr th {
      font-weight: bold;
      &.event-name-day-column {
        text-align: left;
      }

      &.event-spots-column {
        text-align: right;
      }
    }
  }

  tbody {
    tr:nth-child(odd) {
      background: rgba(143, 126, 126, 0.18);
    }

    tr {
      td {
        padding: 4px;

        &.event-name-day-column {
          text-align: left;
          width: 70%;
        }

        &.event-spots-column {
          text-align: right;
          width: 30%;
        }
      }
    }
  }
}
