<div class="mobile-bracket-header-container">
  <div class="round-title-display">
    Round: {{ currentRound | roundName: 1 }}
  </div>

  <mat-toolbar class="navigation-toolbar">
    <button type="button" mat-raised-button [disabled]="!hasPreviousRound()" (click)="onPreviousRound()">
      <mat-icon>navigate_before</mat-icon> Prev Round
    </button>

    <span class="toolbar-spacer"></span>

    <button type="button" mat-raised-button [disabled]="!hasNextRound()" (click)="onNextRound()">
      Next Round <mat-icon>navigate_next</mat-icon>
    </button>
  </mat-toolbar>

  <div class="division-title-display" *ngIf="showDivisionName">
    Division: {{ divisionName }}
  </div>
</div>

<div class="se-bracket-container">
  <table>
    <tbody>
    <ng-container *ngFor="let match of currentRoundMatches; let idx = index; let last = last">
      <tr>
        <td class="match-cell" rowspan="2">
          <div *ngIf="(currentRound === 2)" class="placement-label">
            {{ (match.opponentA.groupNum === 1) ? '1st/2nd ' : '3rd/4th ' }}place
          </div>

          <app-sematch
            [match]="match"
            [doublesEvent]="doublesEvent"
            [externalDragPreview]="matchTemplate">
          </app-sematch>
        </td>
        <td class="lines-cell" [ngClass]="(idx % 2 === 0 || currentRound === 2) ? '' : 'vertical-line-cell-up'">&nbsp;</td>
        <td class="lines-cell">&nbsp;</td>
      </tr>
      <tr>
        <td class="lines-cell" [ngClass]="(idx % 2 !== 0 || currentRound === 2) ? '' : 'vertical-line-cell-down'">&nbsp;</td>
        <td class="lines-cell">&nbsp;</td>
      </tr>

      <ng-container *ngIf="!last">
        <tr class="spacer-separator-row">
          <td></td>
          <td [ngClass]="(idx % 2 !== 0 || currentRound === 2) ? '' : 'vertical-line-cell'"></td>
          <td></td>
        </tr>

        <tr class="line-separator-row">
          <td></td>
          <td [ngClass]="(idx % 2 !== 0 || currentRound === 2) ? '' : 'vertical-line-cell'"></td>
          <td [ngClass]="(idx % 2 !== 0 || currentRound === 2) ? '' : 'horizontal-line'"></td>
        </tr>

        <tr class="spacer-separator-row">
          <td></td>
          <td [ngClass]="(idx % 2 !== 0 || currentRound === 2) ? '' : 'vertical-line-cell'"></td>
          <td></td>
        </tr>
      </ng-container>
    </ng-container>
    </tbody>
  </table>
</div>
