@use "src/my-theme" as *;

// panel where groups appear
.rr-draws-panel-inner {
  height: 100%;
  overflow: auto;
  padding: 32px 0 0 32px;
  //border: 1px solid green;
  //padding-left: 32px;
  //border: 1px solid blue;
}

// Groups table
table {
  border-collapse: collapse;
  width: 300px;
  margin-bottom: 32px;

  thead tr th {
    background-color: #d7c8f5;
    padding: 8px 0;
    cursor: default;

    &.group-num-column {
      text-align: start;
    }
  }

  tr:not(:first-child) {
    cursor: grab;
  }

  td {
    border-bottom: 1px solid purple;
    padding-top: 4px;

    div.additional-info {
      font-size: 12px;
    }

    &.additional-info-tooltip {
      font-size: 12px;
      background-color: #FFFFFF;
    }

    &.player-column {
      width: 83%;
    }

    &.rating-column {
      text-align: end;
      vertical-align: top;
      width: 17%;
      padding-right: 8px;
    }

    div {
      &.conflict-indicator {
        width: 6px;
        height: 16px;
        cursor: default;
        border-radius: 3px;
      }

      &.no-conflict {
        background-color: white;
        border: 1px solid white;
      }

      &.scores-entered {
        background-color: lightskyblue;
        border: 1px solid lightskyblue;
      }

      &.lives-nearby {
        background-color: greenyellow;
        border: 1px solid greenyellow;
      }

      &.same-club-first-round {
        background-color: red;
        border: 1px solid red;
      }

      &.same-club-second-round {
        background-color: yellow;
        border: 1px solid yellow;
      }

      &.plays-in-other-event {
        background-color: purple;
        border: 1px solid purple;
      }

    }
  }
}


.cdk-drag-placeholder {
  background-color: #f1c954;
}

.drag-preview {
  width: 300px;
  height: 46px;
  border: 2px solid $primary-color;
  background-color: #d7c8f5;
}

.drag-preview-small {
  width: 300px;
  height: 26px;
  border: 2px solid $primary-color;
  background-color: #d7c8f5;
}
