<div fxLayout="row wrap"
     fxLayoutGap="32px" [style.height]="bracketsHeight"
     fxLayoutAlign="start start" cdkDropListGroup class="rr-draws-panel-inner">
  <div *ngFor="let group of groups; let idx = index;" fxFlex="none">
    <table>
      <thead>
      <tr>
        <th>&nbsp;</th>
        <th class="group-num-column">
          Group: {{group.groupNum}} &nbsp;&nbsp;
          {{getStartTime(group.groupNum) | startTime}} &nbsp;&nbsp; {{ getAssignedTables(group.groupNum)}}
        </th>
        <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody cdkDropList
             [id]="'groupTB' + (idx + 1)"
             (cdkDropListDropped)="onDrawItemDrop($event)"
             [cdkDropListData]="group.drawItems"
             [cdkDropListSortPredicate]="canDropPredicate"
             [cdkDropListEnterPredicate]="canMoveDrawItem">
      <tr *ngFor="let drawItem of group.drawItems;"
          cdkDrag
          cdkDragBoundary=".rr-draws-panel-inner"
          [cdkDragData]="drawItem"
          [cdkDragDisabled]="editMode === false || drawItem.placeInGroup === 1 || checkinStatus === true"
          [class]="(editMode === false || drawItem.placeInGroup === 1 || checkinStatus === true) ? '' : 'draggable' ">
        <ng-container *ngIf="drawItem.rating >= 0; else fakeItem;">
          <td class="rating-column">{{drawItem.rating}}</td>
<!--              [matTooltip]="getTooltipText(drawItem)"-->
<!--          matTooltipClass="additional-info-tooltip"-->
<!--          matTooltipPosition="after">-->
          <td class="player-column">
            <div>{{drawItem.playerName}}</div>
            <div class="additional-info" *ngIf="expandedView">
              {{drawItem.state ? drawItem.state : 'N/A'}}, {{drawItem.clubName ? drawItem.clubName : 'N/A'}}
            </div>
            <!-- element shown when user is dragging dragging preview -->
            <div *cdkDragPreview fxLayout="row" [class]="expandedView ? 'drag-preview' : 'drag-preview-small'">
              <div fxFlex="17%">{{drawItem.rating}}</div>
              <div fxFlex="83%">
                <div>{{drawItem.playerName}}</div>
                <div class="additional-info" *ngIf="expandedView">
                  {{drawItem.state ? drawItem.state : 'N/A'}}, {{drawItem.clubName ? drawItem.clubName : 'N/A'}}
                </div>
              </div>
            </div>
          </td>
          <td *ngIf="!checkinStatus">
            <div class="conflict-indicator" [ngClass]="getConflictClass(drawItem)" [matTooltip]="getConflictTooltipText(drawItem)">&nbsp;</div>
          </td>
          <td *ngIf="checkinStatus" class="player-status-column" >
            <ng-container *ngIf="!selectedEvent.doubles; else doubles">
              <div [matTooltip]="getPlayerStatusReason(drawItem.playerId, 0)">
                <app-player-status-indicator [playerStatus]="getPlayerStatusCode(drawItem.playerId, 0)"></app-player-status-indicator>
              </div>
            </ng-container>
            <ng-template #doubles>
              <div [matTooltip]="getPlayerStatusReason(drawItem.playerId, 0)">
                <app-player-status-indicator [playerStatus]="getPlayerStatusCode(drawItem.playerId, 0)"></app-player-status-indicator>
              </div>
              <div [matTooltip]="getPlayerStatusReason(drawItem.playerId, 1)">
                <app-player-status-indicator [playerStatus]="getPlayerStatusCode(drawItem.playerId, 1)"></app-player-status-indicator>
              </div>
            </ng-template>
          </td>
        </ng-container>
        <!-- element shown when there is no player in this place in the group -->
        <ng-template #fakeItem>
          <td class="rating-column">&nbsp;</td>
          <td class="player-column">
            <div>&nbsp;</div>
            <div class="additional-info" *ngIf="expandedView">&nbsp;</div>
            <!-- element shown when user is dragging dragging preview -->
            <div *cdkDragPreview fxLayout="row" [class]="expandedView ? 'drag-preview' : 'drag-preview-small'">
              <div fxFlex="17%">&nbsp;</div>
              <div fxFlex="83%">
                <div>&nbsp;</div>
                <div class="additional-info" *ngIf="expandedView">&nbsp;</div>
              </div>
            </div>
          </td>
          <td *ngIf="!checkinStatus">
            <div class="conflict-indicator"></div>
          </td>
          <td *ngIf="checkinStatus" class="player-status-column"></td>
        </ng-template>
      </tr>
      </tbody>
    </table>
  </div>
</div>
