<div fxLayout="column"
     class="rr-draws-panel-inner"
     [style.height]="bracketsHeight">

  <div *ngFor="let division of divisions; let divIdx = index"
       [class.division-wrapper]="divisions.length > 1"
       class="division-boundary-container"
       [id]="'division-boundary-' + divIdx"
       fxLayout="column">

    <div *ngIf="divisions.length > 1" class="division-header-top" fxLayout="row" fxLayoutAlign="start center">
      <mat-icon class="division-icon">layers</mat-icon>
      <span class="division-title">{{ division.divisionName }}</span>
    </div>

    <div class="groups-container"
         fxLayout="row wrap"
         fxLayoutGap="32px"
         cdkDropListGroup>

      <div *ngFor="let group of division.groups; let idx = index;"
           class="group-card-wrapper" fxFlex="none">
        <table [class.expanded]="expandedView">
          <thead>
          <tr>
            <th>&nbsp;</th>
            <th class="group-num-column">
              Group: {{ group.groupNum }} &nbsp;&nbsp;
              {{ getStartTime(group.groupNum) | startTime }} &nbsp;&nbsp; {{ getAssignedTables(group.groupNum) }}
            </th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody cdkDropList
                 [id]="'round-' + roundOrdinalNumber + '-group-' + idx"
                 (cdkDropListDropped)="onDrawItemDrop($event, divIdx)"
                 [cdkDropListData]="group.drawItems"
                 [cdkDropListSortPredicate]="canDropPredicate"
                 [cdkDropListEnterPredicate]="canMoveDrawItem"
                 cdkDropListOrientation="vertical"
                 >

          <ng-container *ngFor="let drawItem of group.drawItems; trackBy: trackByPlayerId">
            <tr cdkDrag
                [cdkDragBoundary]="'#division-boundary-' + divIdx"
                [cdkDragData]="drawItem"
                [cdkDragDisabled]="editMode === false || drawItem.placeInGroup === 1 || checkinStatus === true"
                [class]="(editMode === false || drawItem.placeInGroup === 1 || checkinStatus === true) ? '' : 'draggable'"
                [cdkDragPreviewClass]="['rr-drag-preview', expandedView ? 'rr-drag-preview--expanded' : 'rr-drag-preview--collapsed']">

              <td class="rating-column">
                {{ drawItem.rating >= 0 ? drawItem.rating : '' }}
              </td>

              <td class="player-column" [id]="trackByPlayerId">
                <div>{{ drawItem.rating >= 0 ? drawItem.playerName : '&nbsp;' }}</div>

                <div class="additional-info" *ngIf="expandedView">
                  <ng-container *ngIf="drawItem.rating >= 0">
                    {{ drawItem.state ? drawItem.state : 'N/A' }}, {{ drawItem.clubName ? drawItem.clubName : 'N/A' }}
                  </ng-container>
                  <ng-container *ngIf="drawItem.rating < 0">&nbsp;</ng-container>
                </div>
              </td>

              <td *ngIf="!checkinStatus">
                <div *ngIf="drawItem.rating >= 0"
                     class="conflict-indicator"
                     [ngClass]="getConflictClass(drawItem)"
                     [matTooltip]="getConflictTooltipText(drawItem)">&nbsp;
                </div>
              </td>

              <td *ngIf="checkinStatus" class="player-status-column"></td>
            </tr>

            <tr class="rr-row-placeholder" *cdkDragPlaceholder>
              <td class="rating-column">&nbsp;</td>
              <td class="player-column">&nbsp;</td>
              <td *ngIf="!checkinStatus">&nbsp;</td>
              <td *ngIf="checkinStatus" class="player-status-column">&nbsp;</td>
            </tr>
          </ng-container>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
