<div class="mat-headline-6" style="padding-left: 8px; width: 95%;">Umpire Management - {{tournamentName}} &nbsp;&nbsp;&nbsp;&nbsp; Referee - {{ getRefereeNames() }}</div>
<mat-toolbar fxLayout="row" fxLayoutGap="10px">
  <button type="button" mat-raised-button [routerLink]="['/ui/refereedashboard']">Back</button>
  <button type="button" mat-raised-button (click)="onAssignUmpire()">Assign Umpires</button>
</mat-toolbar>
<div fxLayout="column" fxLayoutAlign="start start" class="umpiring-list-container">
  <div fxFlex="50%" class="all-umpires-list">
    <app-umpire-summary-table [tournamentId]="tournamentId"
                              (viewDetailsEvent)="onViewUmpireDetails($event)"></app-umpire-summary-table>
  </div>
  <div fxFlex="50%" class="single-umpire-records">
    <app-umpire-match-list [umpireName]="selectedUmpireName"
                           [umpireMatchInfos]="umpireMatchInfos"
                           [singleTournament]="true">
    </app-umpire-match-list>
  </div>
</div>
