<div fxLayout="column" fxFlexAlign="center center" style="height: calc(100% - 64px)">
  <div fxFlex="30%"></div>
  <div fxFlex="40%" fxLayout="row" fxFlexAlign="center center">
    <div fxFlex>&nbsp;</div>
    <div style="text-align: center">
      <h3>Welcome to "Aurora TMS" {{firstName}}</h3>
      <div *ngIf="activationResult == true">
        <h3>Your account has been successfully activated.</h3>
        <h3>Please <a routerLink="/userprofilestart">login</a> so we can fill your player profile.</h3>
      </div>
      <div *ngIf="activationResult == false">
        <h3>Something went wrong with you email verification.
          Please contact <a href="mailto:swaveklorenc@yahoo.com">system administrator</a>
        </h3>
      </div>
    </div>
    <div fxFlex>&nbsp;</div>
  </div>
  <div fxFlex="30%"></div>
</div>


