<app-centered-panel class="mat-body-1">
  <div>Welcome to "Aurora TMS" {{firstName}}</div>
  <div *ngIf="activationResult == true">
    <div>Your account has been successfully activated.</div>
    <div>Please <a routerLink="/ui/userprofile/start">login</a> so we can fill your player profile.</div>
  </div>
  <div *ngIf="activationResult == false">
    <div>Something went wrong with you email verification. Your link may have expired or was already used once. If this
      is
      the case please try signing up again.
      Please contact <a href="mailto:swaveklorenc@yahoo.com">system administrator</a>
    </div>
  </div>
</app-centered-panel>


