<div class="mat-headline-6" style="padding-left: 8px">Match Officials</div>
<form>
  <mat-toolbar fxLayout="row" fxLayoutGap="10" class="tall-toolbar">
    <button type="button" mat-raised-button color="" (click)="addOfficial()"
            [hidden]="!canManageOfficial()">
      <mat-icon matListItemIcon>add</mat-icon>
      Add Official
    </button>
    <span class="toolbar-spacer-2"></span>
    <span>Filter by: </span>
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput name="filterNameCtrl" type="text" [ngModel]="filterName" #filterNameCtrl="ngModel">
    </mat-form-field>
    <mat-form-field fxFlex="20%">
      <mat-label>State</mat-label>
      <mat-select matInput type="text" name="filterStateCtrl" #filterStateCtrl="ngModel"
                  [ngModel]="filterState">
        <mat-option value="">(None)</mat-option>
        <mat-option *ngFor="let state of statesList" value="{{state.abbreviation}}">{{state.abbreviation}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-toolbar>
</form>
<div class="table-container">
  <mat-table matSort aria-label="Officials">
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
      <mat-cell *matCellDef="let official" [routerLink]="[editUrl, official.id]">{{ official.firstName }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
      <mat-cell *matCellDef="let official" [routerLink]="[editUrl, official.id]">{{ official.lastName }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="state">
      <mat-header-cell *matHeaderCellDef>State</mat-header-cell>
      <mat-cell *matCellDef="let official" [routerLink]="[editUrl, official.id]">{{ official.state }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="umpireRank">
      <mat-header-cell *matHeaderCellDef>Umpire Rank</mat-header-cell>
      <mat-cell *matCellDef="let official"
                [routerLink]="[editUrl, official.id]">{{ official.umpireRank | umpireRank: 'name' }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="refereeRank">
      <mat-header-cell *matHeaderCellDef>Referee Rank</mat-header-cell>
      <mat-cell *matCellDef="let official"
                [routerLink]="[editUrl, official.id]">{{ official.refereeRank | refereeRank: 'name' }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>{{ canManageOfficial() ? 'Actions' : ''}}</mat-header-cell>
      <mat-cell *matCellDef="let official">
        <button mat-icon-button [hidden]="!canManageOfficial()" (click)="onDeleteOfficial(official)"
                matTooltip="Delete" style="margin-right: 20px">
          <mat-icon matListItemIcon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayColumns"></mat-row>
  </mat-table>
    <mat-paginator #paginator
                   [length]="dataSource.total$ | async"
                   [pageIndex]="0"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 20]"
                   [style.display]="((dataSource.total$ | async) === 0) ? 'none' : 'block'"
                   aria-label="Select page">
    </mat-paginator>
  <div *ngIf="(dataSource.total$ | async) === 0" class="no-rows-found">
    <span class="mat-h2">No rows found</span>
  </div>
</div>

