//.mat-expansion-panel-header {
//  margin: 24px 0;
//  //border: 1px solid red;
//}
.doubles-expansion-header {
  margin: 24px 0;
}

.singles-expansion-header {
  margin: 12px 0;
}

table.expansion-header-players {
  tr td {
    &.match-num-column {
      padding-right: 8px;
      vertical-align: middle;
    }
    &.player-code-column {
      padding: 0 8px;
      text-align: center;
      vertical-align: middle;
    }
    &.names-column {
    }
    &.names-column-this-player {
      font-weight: bold;
    }
    &.match-winner {
      background-color: greenyellow;
    }
    &.not-match-winner {
    }
  }
}

div.play-button-container {
  margin-left: 18px;
  border: 1px solid green;
}

table.scores-table {
  margin-left: 18px;

  thead tr th {
    padding: 4px 4px;
    border: 1px solid gray;
    background-color: #F5F5F5;
  }

  tbody tr {
    td {
      border: 1px solid lightgray;
      padding: 4px 4px;
      &.player-code-column {
        vertical-align: middle;
      }
      &.game-score-column {
        min-width: 25px;
        width: 25px;
        text-align: right;
      }
      &.default-column {
        text-align: center;
        //width: 80px;
      }
    }
  }
}

