mat-expansion-panel {
  margin-bottom: 8px;  // space between panels
}

mat-expansion-panel-header {
  padding: 8px 12px;
}

.doubles-expansion-header-lt-sm {
  margin: 30px 24px 30px 0;
}

.doubles-expansion-header {
  margin: 28px 0;
}

.singles-expansion-header-lt-sm {
  margin: 12px 24px 12px 0;
}

.singles-expansion-header {
  margin: 12px 0;
}

table.expansion-header-players {
  width: 100%;
  tr td {
    &.match-num-column {
      vertical-align: middle;
      text-align: center;
      width: 30px;
    }
    &.player-code-column {
      text-align: center;
      vertical-align: middle;
      width: 22px;
    }
    &.names-column {
      padding: 4px 8px;
    }
    &.names-column-this-player {
      padding: 4px 8px;
      font-weight: bold;
    }
    & div.match-winner {
      background-color: greenyellow;
      border-radius: 4px;
      padding: 4px;
      width: 20px;
    }
    & div.not-match-winner {
      padding: 4px;
      width: 20px;
    }
  }
}

table.scores-table {
  margin-left: 18px;
  font-size: 16px;

  thead tr th {
    padding: 4px 4px;
    border: 1px solid gray;
    background-color: #F5F5F5;
  }

  tbody tr {
    td {
      border: 1px solid lightgray;
      padding: 4px 4px;
      &.player-code-column {
        vertical-align: middle;
      }
      &.game-score-cell {
        min-width: 25px;
        width: 25px;
        text-align: right;
      }
      &.default-column {
        text-align: center;
        padding: 8px;
      }
    }
  }
}

