<div mat-dialog-title>Import Tournament from Omnipong &reg;</div>
<mat-dialog-content>
  <form name="form" #f="ngForm">
    <mat-horizontal-stepper linear>
      <mat-step label="Select Tournament">
        <mat-form-field fxFlexFill>
          <mat-label>Filter by State/Region</mat-label>
          <mat-select name="stateFilter" [(ngModel)]="stateFilter" required
                      (selectionChange)="onStateFilterChanged($event)">
            <mat-option *ngFor="let stateOrRegion of statesOrRegions" [value]="stateOrRegion">
              {{ stateOrRegion }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlexFill>
          <mat-label>Select tournament to import</mat-label>
          <mat-select name="selectedTournament" [(ngModel)]="selectedTournamentUrl" required
                      (selectionChange)="onTournamentSelected($event)">
            <mat-option *ngFor="let tournament of filteredTournamentsToImport" [value]="tournament.playersUrl">
              {{ tournament.tournamentName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlexFill>
          <mat-label>Select ttAurora Tournament to Import into</mat-label>
          <mat-select name="selectedTargetTournament" [(ngModel)]="selectedTargetTournamentId" required>
            <mat-option value="0">Create New Tournament</mat-option>
            <mat-option *ngFor="let targetTournament of existingTournaments" [value]="targetTournament.id">
              {{ targetTournament.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="end">
          <button mat-raised-button color="primary" matStepperNext type="button">Next</button>
        </div>
      </mat-step>
      <mat-step label="Blank Entry Form">
        <ng-container *ngIf="selectedSourceTournament?.blankEntryFormPDFUrl != null; else uploadPDF">
          <div style="margin: 8px 0">We found this <a [href]="getOmnipongBEFUrl(selectedSourceTournament?.blankEntryFormPDFUrl)" target="_blank">blank entry form</a>
            and will use it to extract additional tournament and event details.</div>
        </ng-container>
        <ng-template #uploadPDF>
          <div style="margin: 8px 0">
            <p>We can fill additional tournament and event details from a blank entry form PDF.</p>
            <p>Select blank entry form PDF file from local computer and upload it.</p>
          </div>
          <app-upload-file-component
            [disabledBtn]="importStarted"
            [uploadButtonLabel]="'Upload'"
            (uploadFinished)="onBlankEntryFormUploadFinished($event)"
            [storagePath]="getPDFStoragePath()">
          </app-upload-file-component>
        </ng-template>
        <div fxLayout="row" fxLayoutAlign="space-between" style="margin-top: 20px;">
          <button mat-raised-button matStepperPrevious type="button" [disabled]="importStarted">Back</button>
          <span fxFlex></span>
          <button mat-raised-button color="primary" matStepperNext type="button">Next</button>
        </div>
      </mat-step>
      <mat-step label="Import">
        <mat-label>Overall {{ importProgressInfo?.overallCompleted }}% Complete</mat-label>
        <mat-progress-bar [value]="importProgressInfo?.overallCompleted"
                          style="height: 8px; width: 100%; padding-bottom: 8px">
        </mat-progress-bar>
        <div class="phase-name">
          <mat-label>Phase: {{ importProgressInfo?.phaseName }}</mat-label>
        </div>
        <mat-label>Phase {{ importProgressInfo?.phaseCompleted }}% Complete</mat-label>
        <mat-progress-bar [value]="importProgressInfo?.phaseCompleted"></mat-progress-bar>
        <div fxLayout="row" fxLayoutAlign="space-between" style="margin-top: 20px;">
          <button mat-raised-button matStepperPrevious type="button" [disabled]="importStarted">Back</button>
          <span>&nbsp;&nbsp;{{ formatTime(elapsedSeconds) }}</span>
          <button mat-raised-button color="primary" type="button" (click)="startImport()"
                  [disabled]="!f.valid || isStartImportDisabled()">Start Import
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutGap="10px" style="margin: 0 10px 10px 10px;">
  <button mat-raised-button [mat-dialog-close]="false" (click)="onCancel()">Cancel</button>
  <span fxFlex></span>
  <button mat-raised-button color="primary" [disabled]="!f.valid || isViewTournamentDisabled()"
          (click)="onViewTournament()">View Tournament
  </button>
  <!--  <button mat-raised-button color="primary" [disabled]="!f.valid" (click)="onOk()">Close</button>-->
</mat-dialog-actions>
