<mat-toolbar>
  <mat-toolbar-row>
    <button type="button" mat-raised-button (click)="addEvent()">
      <mat-icon matListItemIcon>add</mat-icon>
      Add
    </button>
    <button type="button" mat-raised-button (click)="addManyEvent()">
      <mat-icon matListItemIcon>add</mat-icon>
      Add Events
    </button>
    <span fxFlex></span>
    <span>Taken/Maximum Event Entries: {{ numEventEntries }} / {{ maxNumEvenEntries }}</span>
  </mat-toolbar-row>
</mat-toolbar>
<div style="overflow: auto; height: calc(100vh - 260px);">
  <mat-table [dataSource]="events" style="width: 100%" cdkDropList (cdkDropListDropped)="drop($event)">
    <ng-container matColumnDef="num">
      <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
      <mat-cell *matCellDef="let event">
        <mat-icon class="example-drag-cursor">reorder</mat-icon>
        <span>{{event.ordinalNumber}}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let event">
        <a [routerLink]="getEventEditLink(event.id)">{{event.name}}</a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="day">
      <mat-header-cell *matHeaderCellDef>Day</mat-header-cell>
      <mat-cell *matCellDef="let event">{{getDayOfWeek(event.day)}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="startTime">
      <mat-header-cell *matHeaderCellDef>Start Time</mat-header-cell>
      <mat-cell *matCellDef="let event">{{getStartTime(event.startTime)}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="fee">
      <mat-header-cell *matHeaderCellDef>Fee (Adult/Junior)</mat-header-cell>
      <mat-cell *matCellDef="let event">{{event.feeAdult | currency}} {{(event.feeAdult != event.feeJunior) ? '/ ' + (event.feeJunior | currency) : ''}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="numEntries">
      <mat-header-cell *matHeaderCellDef>Entries (Taken/Max)</mat-header-cell>
      <mat-cell *matCellDef="let event">{{ event.numEntries }} / {{ (event.maxEntries === 0) ? 'No limit' : event.maxEntries }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let event">
        <!--      <button type="button" mat-icon-button (click)="editEvent(event.id)">-->
        <!--        <mat-icon matListItemIcon>edit</mat-icon>-->
        <!--      </button>-->
        <button type="button" mat-icon-button (click)="deleteEvent(event.id)">
          <mat-icon matListItemIcon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let myRowData; columns: columnsToDisplay" cdkDrag cdkDragLockAxis="y">
      <div class="drag-placeholder" *cdkDragPlaceholder></div>
    </mat-row>
  </mat-table>
</div>
