@use "src/my-theme.scss" as *;
@use "sass:color";

div.table-container {
  overflow: auto;
  height: calc(100vh - 220px);
  //border: 1px solid greenyellow;
}

.toolbar-spacer-2 {
  margin-right: 16px;
}

.mat-mdc-row:hover {
  background-color: color.adjust($primary-color, $lightness: 40%);
  cursor: pointer;
}

.mat-column-tournamentName {
  flex: 3;
}

.mat-column-startDate {
  flex: 1;
}

.mat-column-status {
  flex: 1;
}

.mat-column-actions {
  flex: 1;
}
