<div class="mat-title" style="padding-left: 8px; width: 100%;">Tournament Sanction Requests</div>
<mat-toolbar fxLayout="row" fxLayoutGap="10">
  <form>
    <button type="button" mat-raised-button color="" [routerLink]="['/sanction/edit', 0]"
            [disabled]="!canAddSanctionRequest()">
      <mat-icon matListIcon>add</mat-icon>
      New Request
    </button>
    <span class="toolbar-spacer-2"></span>
    <mat-form-field>
      <mat-label>Filter by Name</mat-label>
      <input matInput name="filterClubName" type="text" [ngModel]="filterClubName" #filterClubNameCtrl="ngModel">
    </mat-form-field>
  </form>
</mat-toolbar>

<div class="table-container">
  <mat-table matSort aria-label="Sanction Requests">
    <ng-container matColumnDef="tournamentName">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let sanctionRequest" [routerLink]="['/sanction/edit', sanctionRequest.id]">{{ sanctionRequest.tournamentName }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="startDate">
      <mat-header-cell *matHeaderCellDef>Start Date</mat-header-cell>
      <mat-cell *matCellDef="let sanctionRequest" [routerLink]="['/sanction/edit', sanctionRequest.id]">{{ sanctionRequest.startDate  | date}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
      <mat-cell *matCellDef="let sanctionRequest" [routerLink]="['/sanction/edit', sanctionRequest.id]">{{ sanctionRequest.status }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let sanctionRequest">
        <button mat-icon-button (click)="onDeleteSanctionRequest(sanctionRequest.id, sanctionRequest.eventName)"
                matTooltip="Delete" style="margin-right: 20px">
          <mat-icon matListIcon>delete</mat-icon>
        </button>
        <button mat-icon-button [routerLink]="['/sanction/create', sanctionRequest.id]" matTooltip="Copy"
                style="margin-right: 20px">
          <mat-icon matListIcon>flip_to_front</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayColumns"></mat-row>
  </mat-table>

  <mat-paginator #paginator
      [length]="dataSource?.totalSanctionRequests$ | async"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>
