<table class="summary-table">
  <tbody>
  <ng-container *ngFor="let summaryReportItem of summaryReportItems">
    <tr *ngIf="summaryReportItem.isHeader; else nonHeader;">
      <th>{{summaryReportItem.itemText}}</th>
      <th>{{summaryReportItem.rightColumnText}}</th>
    </tr>
    <ng-template #nonHeader>
      <tr>
        <td>
          <div>{{ summaryReportItem.itemText }}</div>
          <div *ngIf="summaryReportItem.subItemText" class="summary-item-second-line">
            {{ summaryReportItem.subItemText }}
          </div>
        </td>
        <td>{{ summaryReportItem.rightColumnText }}</td>
      </tr>
    </ng-template>
  </ng-container>
  <tr>
    <td style="border-top: 1px solid black"><h1>ENTRY TOTAL</h1></td>
    <td style="border-top: 1px solid black"><h1>{{ entryTotal | currency: tournamentCurrency }}</h1></td>
  </tr>
  </tbody>
</table>
