<div class="grid-container">
  <div class="mat-h2 dashboard-title">Tournament Director Dashboard - {{tournamentName}}</div>
  <mat-toolbar>
    <button mat-raised-button type="button" [routerLink]="['/ui/tournamentsconfig']" >Back</button>
  </mat-toolbar>
  <div class="dashlet-container">
    <mat-grid-list cols="2" rowHeight="370px">
      <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
        <mat-card appearance="outlined" class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{card.title}}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <ng-container [ngSwitch]="card.outletName">
              <ng-container *ngSwitchCase="'ploutlet'">
                <router-outlet name="ploutlet"></router-outlet>
              </ng-container>
              <ng-container *ngSwitchCase="'proutlet'">
                <router-outlet name="proutlet"></router-outlet>
              </ng-container>
              <ng-container *ngSwitchCase="'wloutlet'">
                <router-outlet name="wloutlet"></router-outlet>
              </ng-container>
            </ng-container>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
