@use "src/my-theme.scss" as *;
@use "sass:color";

.full-width-table {
  width: 100%;
}

.mat-mdc-row:hover {
  background-color: color.adjust($primary-color, $lightness: 40%);
  cursor: pointer;
}

.no-data {
  width: 99%;
  //border: 1px solid blue;
  padding: 50px 0;
  text-align: center;
  font-size: 16px;
}

.mat-column-name {
  flex: 3;
}

.mat-column-tournamentName {
  flex: 3;
}

.mat-column-dateSent {
  flex: 2;
}

.mat-column-emailsCount {
  flex: 1;
}

.mat-column-actions {
  flex: 1;
}
