<div class="mat-headline-6" style="padding-left: 8px;">Emails</div>
<form>
  <mat-toolbar fxLayout="row" fxLayoutGap="10px" style="height: 80px;">
    <button mat-raised-button type="button" (click)="back()">Back</button>
    <button type="button" mat-raised-button color="" (click)="onAddEmail()"
    [disabled]="!isServerConfigured()">
      <mat-icon matListItemIcon>add</mat-icon>
      New
    </button>
    <button mat-raised-button type="button" (click)="configureServer()"
            matTooltip="Configures email server for Tournament Director">Email Server
      <mat-icon matListItemIcon>settings</mat-icon>
    </button>

    <span class="toolbar-spacer-2"></span>
    <mat-form-field>
      <mat-label>Filter by Name</mat-label>
      <input matInput name="filterCampaignName" type="text" [(ngModel)]="filterCampaignName"
             #filterCampaignNameCtrl="ngModel">
      <button mat-icon-button matSuffix (click)="clearFilter()">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>
  </mat-toolbar>
</form>
<div class="table-container">
  <mat-table matSort matSortActive="dateSent" matSortDirection="desc" aria-label="Email Campaigns">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Template Name</mat-header-cell>
      <mat-cell *matCellDef="let emailCampaign"
                [routerLink]="['/ui/email/emailcampaign/edit', tournamentId, emailCampaign.id]"
                [state]="{ tournamentName: tournamentName }"
      >{{ emailCampaign.name }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="tournamentName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Sent for Tournament</mat-header-cell>
      <mat-cell *matCellDef="let emailCampaign"
                [routerLink]="['/ui/email/emailcampaign/edit', tournamentId, emailCampaign.id]"
                [state]="{ tournamentName: tournamentName }"
      >{{ emailCampaign.tournamentName }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="dateSent">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Date Sent</mat-header-cell>
      <mat-cell *matCellDef="let emailCampaign"
                [routerLink]="['/ui/email/emailcampaign/edit', tournamentId, emailCampaign.id]"
                [state]="{ tournamentName: tournamentName }"
      >{{ emailCampaign.dateSent | date:'medium' }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="emailsCount">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Emails Sent</mat-header-cell>
      <mat-cell *matCellDef="let emailCampaign"
                [routerLink]="['/ui/email/emailcampaign/edit', tournamentId, emailCampaign.id]"
                [state]="{ tournamentName: tournamentName }"
      >{{ (emailCampaign.dateSent != null) ? emailCampaign.emailsCount : '' }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let emailCampaign">
        <button mat-icon-button (click)="onDelete(emailCampaign.id, emailCampaign.name)"
                matTooltip="Delete" style="margin-right: 20px">
          <mat-icon matListItemIcon>delete</mat-icon>
        </button>
        <button mat-icon-button [routerLink]="['/ui/email/emailcampaign/create', tournamentId, emailCampaign.id]"
                [state]="{ tournamentName: tournamentName }"
                matTooltip="Copy">
          <mat-icon matListItemIcon>flip_to_front</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayColumns"></mat-row>
  </mat-table>
  <div class="no-data" *ngIf="(dataSource?.totalEmailCampaigns$ | async) === 0 || !isServerConfigured()">
    <ng-container *ngIf="!isServerConfigured(); else nodata">
      <p>Your Email Server is not configured</p>
      <p>You will need to enable 3rd party applications in your email provider account (Gmail, Yahoo Mail) and generate a special password.</p>
      <p>Then click on Email Server button to configure and send test email.</p>
    </ng-container>
    <ng-template #nodata>
      <div>No data from query</div>
    </ng-template>
  </div>
  <mat-paginator #paginator
                 [length]="dataSource?.totalEmailCampaigns$ | async"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]"
                 aria-label="Select page">
  </mat-paginator>
</div>
