@use "src/my-theme" as *;

.event-list-container {
  height: calc(100vh - 155px);
  overflow: auto;
  max-width: 300px;
}

.event-list-container-small {
  height: calc(100vh - 155px);
  overflow: auto;
}

.event-list-item {
  //border-bottom: 1px solid gray;
  padding: 0 0 0 8px;
}
