<mat-toolbar>
  <button mat-raised-button color="" type="button" (click)="back()">Back</button>
</mat-toolbar>
<div>
  <mat-nav-list ngClass.lt-sm="event-list-container-small" ngClass.sm="event-list-container-small" ngClass.gt-sm="event-list-container">
    <mat-list-item *ngFor="let tournamentEvent of tournamentEvents; let last = last;" (click)="onSelectEvent(tournamentEvent)" class="event-list-item">
      <div matListItemTitle>{{ tournamentEvent.name }}</div>
      <div matListItemLine>{{ tournamentEvent.day | eventDay: tournamentStartDate }} {{ tournamentEvent.startTime | startTime }}</div>
      <div matListItemMeta style="padding-top: 12px" (click)="onSelectEvent(tournamentEvent)">
        <mat-icon matListItemIcon>navigate_next</mat-icon>
      </div>
    </mat-list-item>
  </mat-nav-list>
</div>
