<app-centered-panel noTopGap="true">
<form name="form" (ngSubmit)="onSave(f.value)" #f="ngForm" novalidate>
  <mat-card style="height: 80%">
    <mat-card-title>Check-In / Communicate</mat-card-title>
    <mat-card-actions>
      <div class="profile-button-bar" fxLayout="row">
        <button mat-raised-button type="button" (click)="onCancel()">Cancel</button>
        <span fxFlex></span>
        <button mat-raised-button color="primary" type="submit" [disabled]="!f.form.valid">Save</button>
      </div>
      <!--<p>Form values: {{ f.value | json }} </p>-->
      <!--<p>Form status: {{ f.status | json }} </p>-->
    </mat-card-actions>
    <mat-card-content>
      <div *ngIf="eventName !== ''">Event: {{eventName}}</div>
      <div *ngIf="eventName === ''">Day: {{tournamentDay}}</div>
      <mat-radio-group fxLayout="column" fxLayoutGap="40" [ngModel]="playerStatus?.eventStatusCode"
                       name="eventStatusCode" (change)="onStatusChange($event)" required="true">
        <mat-radio-button value="WILL_PLAY">I will play today</mat-radio-button>
        <mat-radio-button value="WILL_PLAY_BUT_IS_LATE">I will play but I will be late</mat-radio-button>
        <mat-form-field>
            <mat-label>Estimated Time of Arrival</mat-label>
            <input matInput type="text" name="estimatedArrivalTime"
                   [ngModel]="playerStatus?.estimatedArrivalTime"
                   [disabled]="etaControlDisabled">
        </mat-form-field>
        <mat-radio-button value="WILL_NOT_PLAY">I will not play</mat-radio-button>
        <!--        <mat-radio-group>-->
        <!--          <mat-radio-button value="travelproblems">I can't get to venue</mat-radio-button>-->
        <!--          <mat-radio-button value="changedplans">My plans changed</mat-radio-button>-->
        <!--        </mat-radio-group>-->
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
</form>
</app-centered-panel>
