<form name="form" (ngSubmit)="onSave(f.value)" #f="ngForm" novalidate>
  <mat-card appearance="outlined" style="height: 80%">
    <mat-card-header>
      <mat-card-title>Check-In / Communicate</mat-card-title>
      <mat-card-subtitle *ngIf="playerName != null">{{playerName}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
<!--      <div class="profile-button-bar" fxLayout="row">-->
        <button mat-raised-button type="button" (click)="onCancel()">Cancel</button>
        <span fxFlex></span>
        <button mat-raised-button color="primary" type="submit" [disabled]="!f.form.valid">Save</button>
<!--      </div>-->
      <!--<p>Form values: {{ f.value | json }} </p>-->
      <!--<p>Form status: {{ f.status | json }} </p>-->
    </mat-card-actions>
    <mat-card-content>
      <div *ngIf="eventName !== ''">Event: {{eventName}}</div>
      <div *ngIf="eventName === ''">Tournament Day: {{tournamentDay}}</div>
      <mat-radio-group fxLayout="column" fxLayoutAlign="start start" [ngModel]="playerStatus?.eventStatusCode"
                       name="eventStatusCode" (change)="onStatusChange($event)" required="true">
        <mat-radio-button value="WILL_PLAY">I will play</mat-radio-button>
        <mat-radio-button value="WILL_NOT_PLAY">I will not play</mat-radio-button>
        <mat-form-field style="width: 100%">
          <mat-label>Reason</mat-label>
          <mat-select name="reason" [ngModel]="playerStatus?.reason" [disabled]="reasonControlDisabled">
            <mat-option *ngFor="let reasonOption of reasonOptions" [value]="reasonOption.value">
              {{ reasonOption.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-radio-button value="WILL_PLAY_BUT_IS_LATE">I will play but I will be late</mat-radio-button>
        <mat-form-field style="width: 100%">
          <mat-label>Estimated Time of Arrival</mat-label>
          <input matInput type="text" name="estimatedArrivalTime"
                 [ngModel]="playerStatus?.estimatedArrivalTime"
                 [disabled]="etaControlDisabled">
        </mat-form-field>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
</form>
