th {
  &.header {
    text-align: left;
    min-width: 180px;  // to keep it from jumping
  }
  &.header-line2 {
    text-align: right;
    min-width: 100px;
  }

  &.player-events-header {
    text-align: center;
    min-width: calc(100% - 385px);
  }

  &.event-header {
    text-align: left;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }

  &.club-header {
    text-align: left;
    border-bottom: 2px solid black;
    background: rgba(143, 126, 126, 0.18);
  }

  div {
    &.event-name {
      font-size: 24px!important;
      padding-top: 4px;
    }
    &.event-time {
      font-weight: lighter;
      font-size: 16px;
    }
  }

  &.event-footer {
    text-align: left;
    border-top: 1px solid black;
    padding-bottom: 16px;
  }

  &.entries-count-footer {
    text-align: left;
    border-top: 1px solid black;
    font-size: 18px;
    padding-top: 10px;
  }
}

table:not(#by-events-table):not(#by-club-table):not(#teams-table) tbody {
  tr:nth-child(odd) {
    background: rgba(143, 126, 126, 0.18);
  }
}

tr td {
  &.player-name {
    text-align: left;
  }

  &.player-rating {
    text-align: right;
  }

  &.player-events {
    padding-left: 16px;
    min-width: calc(100% - 385px);
  }
}

mat-radio-button.teams-sort-criteria {
  font-size: 30px;
}

table.teams-table {

  thead tr th {
      &.team-player-title {
        text-align: left;
      }
  }

  tbody tr {

    &.team-name-row {
      border-top:    2px solid black;
      border-bottom: 2px solid black;
      background: rgba(143, 126, 126, 0.18);
    }

    th {
      &.team-name-column {
        text-align: left;
        padding-top: 4px;
      }
    }

    td {
      padding: 0 2px;
      &.team-member-name {
        text-align: left;
        min-width: 200px;
      }

      &.team-member-rating {
        text-align: right;
      }

      &.team-member-status {
        text-align: left;
      }
    }
  }
}
