<div class="mat-headline-6" style="padding-left: 8px; width: 100%;">Prizes Information</div>
<div fxLayout="row">
  <div fxFlex></div>
  <div fxFlex.lt-md="100%" fxFlex="50%">
    <mat-accordion *ngIf="events">
      <ng-container *ngFor="let tournamentEvent of events">

        <ng-container *ngIf="!isGiantRREvent(tournamentEvent); else elseblockGiantRR">
          <mat-expansion-panel (opened)="onSelectEvent(tournamentEvent)">
            <!--    expansion panel header -->
            <mat-expansion-panel-header>
              <span [class]="isCompletedEvent(tournamentEvent) ? 'completedEvent' : ''">{{tournamentEvent.name}}</span>
            </mat-expansion-panel-header>

            <!--    Expansion panel body -->
            <ng-container *ngIf="isCompletedEvent(tournamentEvent); else elseblock2">
              <mat-table [dataSource]="prizeDataList">
                <ng-container matColumnDef="place">
                  <mat-header-cell *matHeaderCellDef></mat-header-cell>
                  <mat-cell *matCellDef="let prizeData"> {{prizeData.place }} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="playerFullName">
                  <mat-header-cell *matHeaderCellDef>Name (L, F)</mat-header-cell>
                  <mat-cell *matCellDef="let prizeData"> {{prizeData.playerFullName}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="awards">
                  <mat-header-cell *matHeaderCellDef>Prize</mat-header-cell>
                  <mat-cell *matCellDef="let prizeData">
                    <span
                      *ngIf="prizeData.prizeMoneyAmount > 0">{{prizeData.prizeMoneyAmount | currency : tournamentCurrency : 'symbol' : '1.0-0'}}</span>
                    <span *ngIf="prizeData.prizeMoneyAmount > 0 && prizeData.awardTrophy">&nbsp;+&nbsp;</span>
                    <span *ngIf="prizeData.awardTrophy">{{prizeData.awardTrophy ? 'T' : '' }}</span>
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
            </ng-container>

            <ng-template #elseblock2>
              Final results not available yet...
            </ng-template>
          </mat-expansion-panel>
        </ng-container>

        <!--        Giant Round robin event with divisions -->
        <ng-template #elseblockGiantRR>
          <ng-container *ngFor="let division of getRRDivisions(tournamentEvent)">
            <!--    Expansion panel body -->
            <ng-container *ngIf="isCompletedRRDivision(tournamentEvent, division); else elseblock3">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <span class="completedEvent">{{tournamentEvent.name}} / Division {{division}}</span>
                </mat-expansion-panel-header>
<!--                body of panel -->
                <mat-table [dataSource]="getRRDivisionPrizeData(tournamentEvent, division)">
                  <ng-container matColumnDef="place">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let prizeData"> {{prizeData.place }} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="playerFullName">
                    <mat-header-cell *matHeaderCellDef>Name (L, F)</mat-header-cell>
                    <mat-cell *matCellDef="let prizeData"> {{prizeData.playerFullName}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="awards">
                    <mat-header-cell *matHeaderCellDef>Prize</mat-header-cell>
                    <mat-cell *matCellDef="let prizeData">
                    <span
                      *ngIf="prizeData.prizeMoneyAmount > 0">{{prizeData.prizeMoneyAmount | currency : tournamentCurrency : 'symbol' : '1.0-0'}}</span>
                      <span *ngIf="prizeData.prizeMoneyAmount > 0 && prizeData.awardTrophy">&nbsp;+&nbsp;</span>
                      <span *ngIf="prizeData.awardTrophy">{{prizeData.awardTrophy ? 'T' : '' }}</span>
                    </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
              </mat-expansion-panel>
            </ng-container>
            <ng-template #elseblock3>
              <mat-expansion-panel>
                <!--                   not completed -->
                <mat-expansion-panel-header>
                  <span>{{tournamentEvent.name}} / Division {{division}}</span>
                </mat-expansion-panel-header>
                Final results not available yet...
              </mat-expansion-panel>
            </ng-template>
          </ng-container>
        </ng-template>
      </ng-container>
    </mat-accordion>
  </div>
  <div fxFlex></div>
</div>
