@use "src/my-theme.scss" as *;

.prizes-list-container {
  height: calc(100vh - 75px);
  overflow: hidden;
}

.event-list-title {
  padding-left: 8px;
}

.completedEvent {
  font-weight: bold;
}

.event-list {
  width: 200px;
  height: calc(100vh - 125px);
  overflow-y: auto;
}

.not-selected {
  background-color: white;
}

.selected {
  background-color: $accent-color;
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
mat-list-item:hover {
  background-color: #7A73FF;
}

.mat-column-place {
  flex: 1;
}

.mat-column-playerFullName {
  flex: 6;
}

.mat-column-awards {
  flex: 3;
  justify-content: right;
}
