<div class="mat-title" style="padding-left: 8px; width: 100%;">Prizes Information</div>
<div fxLayout="row">
  <div fxFlex></div>
  <div fxFlex.lt-md="100%" fxFlex="50%">
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel *ngFor="let tournamentEvent of events" (opened)="onSelectEvent(tournamentEvent)">
        <!--    expansion panel header -->
        <mat-expansion-panel-header>
          <ng-container *ngIf="isCompletedEvent(tournamentEvent); else elseblock">
            <span style="font-weight: bold">{{tournamentEvent.name}}</span>
          </ng-container>
          <ng-template #elseblock>
            {{tournamentEvent.name}}
          </ng-template>
        </mat-expansion-panel-header>

        <!--    Expansion panel body -->
        <ng-container *ngIf="isCompletedEvent(tournamentEvent); else elseblock2">
          <mat-table [dataSource]="prizeDataList">
            <ng-container matColumnDef="place">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let prizeData"> {{prizeData.place }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="playerFullName">
              <mat-header-cell *matHeaderCellDef>Name (L, F)</mat-header-cell>
              <mat-cell *matCellDef="let prizeData"> {{prizeData.playerFullName}} </mat-cell>
            </ng-container>

            <!--          <ng-container matColumnDef="prizeMoneyAmount">-->
            <!--            <mat-header-cell *matHeaderCellDef>Prize</mat-header-cell>-->
            <!--            <mat-cell *matCellDef="let prizeData"> {{prizeData.prizeMoneyAmount | currency : tournamentCurrency : 'symbol' : '1.0-0'}} </mat-cell>-->
            <!--          </ng-container>-->

            <!--          <ng-container matColumnDef="awardTrophy">-->
            <!--            <mat-header-cell *matHeaderCellDef>Trophy</mat-header-cell>-->
            <!--            <mat-cell *matCellDef="let prizeData"> {{prizeData.awardTrophy ? 'Yes' : '' }} </mat-cell>-->
            <!--          </ng-container>-->

            <ng-container matColumnDef="awards">
              <mat-header-cell *matHeaderCellDef>Prize</mat-header-cell>
              <mat-cell
                *matCellDef="let prizeData"> {{prizeData.prizeMoneyAmount | currency : tournamentCurrency : 'symbol' : '1.0-0'}}
                / {{prizeData.awardTrophy ? 'T' : '' }} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </ng-container>

        <ng-template #elseblock2>
          Final results not available yet...
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div fxFlex></div>
</div>
