<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
</head>
<body>
Hello <span th:text="${playerFirstName}"></span>,
<p>A spot opened up in the <span th:text="${eventName}"></span> event on <span th:text="${eventDateAndTime}"></span>
 in the <span th:text="${tournamentName}"></span>. You were on the waiting list so you were automatically
 placed in this event.
</p>
<p>
However, your event entry is not confirmed until we receive a payment, which for this event is
    <span th:text="${#numbers.formatDecimal(eventPrice, 1, 2)}">10.00</span> <span th:text="${currency}">USD</span>.
We understand that you might be busy at the moment, so you have about 12 hours from the moment this email was sent to complete the payment.  If you fail to pay
the spot will be given to the next person on the waiting list.  If you are no longer interested in playing in this event, please remove yourself so other players can enter.
</p>
<p>
To claim your spot please visit this <a th:href="${eventEntryUrl}">link</a> and simply pay for it.
Once on this screen you will see the event in a 'Pending confirmation' state, which means that it is pending payment.
To continue, just press 'Next' button to advance to the payment screen and pay for it.
</p>

<div th:if="${enteredEvents.size > 0}">
    <span>Below are the other events that you have already confirmed:</span>
    <table>
        <thead>
        <tr>
            <th>Event</th>
            <th>Day & Time</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="event: ${enteredEvents}">
            <td th:text="${event.eventName}">*</td>
            <td th:text="${event.eventDayAndTime}">Fri 6:30 PM</td>
        </tr>
        </tbody>
    </table>
</div>

<br>
<br>
Sincerely,<br>
TTAurora Admin
</body>
</html>
