<ng-container *ngIf="umpireMatchInfos?.length > 0; else nomatches">
  <table>
    <thead>
    <tr *ngIf="umpireName != null">
      <th [colSpan]="singleTournament ? 6 : 7" class="title">Matches umpired by {{umpireName}}</th>
    </tr>
    <tr>
      <th>Event</th>
      <th>Round</th>
      <th>Player A</th>
      <th>Player B</th>
      <th>Score</th>
      <th>Assistant</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let umpireMatchInfo of umpireMatchInfos">
      <td class="event-name-column">{{ umpireMatchInfo.eventName }}</td>
      <td class="round-column">{{ umpireMatchInfo.roundName }}</td>
      <td class="player-name-column">{{ umpireMatchInfo.playerAName }}</td>
      <td class="player-name-column">{{ umpireMatchInfo.playerBName }}</td>
      <td class="score-column">{{ umpireMatchInfo.matchScore }}</td>
      <td class="assistant-column">{{ umpireMatchInfo.assistantUmpire === true ? 'Yes' : '' }}</td>
    </tr>
    </tbody>
  </table>
</ng-container>
<ng-template #nomatches>
  <app-centered-panel>No matches for this umpire</app-centered-panel>
</ng-template>
