.insurance-form {
  padding-left: 10px;
  overflow: auto;
  height: calc(100vh - 210px);
}

div.long-text {
  margin-top: 16px;
  margin-bottom: 16px;
}

.insurance-form-radio-button {
  margin-right: 20px;
}


