<div fxLayout="row">
  <div fxFlex></div>
  <div class="insurance-form">
    <form name="form" (ngSubmit)="save(f.value)" #f="ngForm" novalidate>
      <div mat-subheader>Certificate of Insurance Request</div>
      <button mat-raised-button type="submit">Save</button>
      <button mat-raised-button (click)="onCancel()">Cancel</button>
      <div fxLayout="column">
        <div fxLayout="row" fxLayoutGap="10px">
          <div fxFlex="50%" fxLayout="column">
            <div class="mat-title">Insured Organization</div>

            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
              <mat-form-field fxFlex="100%">
                <mat-label>Name</mat-label>
                <input matInput type="text" placeholder="Name" name="orgName" [(ngModel)]="insuranceRequest.orgName"
                       required>
                <mat-error>This field is required</mat-error>
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
              <mat-form-field fxFlex="20%">
                <mat-label>Date of Request</mat-label>
                <input matInput [matDatepicker]="pickerRequestDate" placeholder="mm/dd/yyyy"
                       name="requestDate" [min]="minStartDate"
                       [(ngModel)]="insuranceRequest.requestDate" disabled>
                <mat-datepicker-toggle matSuffix [for]="pickerRequestDate"></mat-datepicker-toggle>
                <mat-datepicker #pickerRequestDate></mat-datepicker>
              </mat-form-field>

              <mat-form-field fxFlex="20%">
                <input matInput type="text" placeholder="Status" name="status" [(ngModel)]="insuranceRequest.status"
                       readonly>
              </mat-form-field>
            </div>

            <mat-card-subtitle class="mat-title">Organization Mailing Address</mat-card-subtitle>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
              <mat-form-field fxFlex="100%">
                <mat-label>Street Address</mat-label>
                <input matInput type="text" placeholder="Street Address" name="orgStreetAddress"
                       [(ngModel)]="insuranceRequest.orgStreetAddress" required>
                <mat-error>This field is required</mat-error>
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
              <mat-form-field fxFlex="60%">
                <mat-label>City</mat-label>
                <input matInput type="text" placeholder="City" name="orgCity" [(ngModel)]="insuranceRequest.orgCity"
                       required>
                <mat-error>This field is required</mat-error>
              </mat-form-field>
              <mat-form-field fxFlex="20%">
                <mat-label>State</mat-label>
                <mat-select matInput type="text" placeholder="State" name="orgState"
                            [(ngModel)]="insuranceRequest.orgState" required>
                  <mat-option *ngFor="let state of statesList"
                              value="{{state.abbreviation}}">{{state.abbreviation}}</mat-option>
                </mat-select>
                <mat-error>This field is required</mat-error>
              </mat-form-field>
              <mat-form-field fxFlex="20%">
                <mat-label>Zip Code</mat-label>
                <input matInput type="text" placeholder="Zip Code" name="orgZip" [(ngModel)]="insuranceRequest.orgZip"
                       #orgZip="ngModel" required pattern="^[1-9][0-9]{4}" maxlength="5">
                <mat-error *ngIf="orgZip.control?.hasError('required')">This field is required</mat-error>
                <mat-error *ngIf="orgZip.control?.hasError('pattern')">Zip code requires numbers</mat-error>
              </mat-form-field>
            </div>
            <mat-card-subtitle class="mat-title">Person Completing This Form</mat-card-subtitle>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
              <mat-form-field fxFlex="40%">
                <mat-label>Name</mat-label>
                <input matInput type="text" placeholder="Contact Name" name="contactName"
                       [(ngModel)]="insuranceRequest.contactName">
              </mat-form-field>
              <mat-form-field fxFlex="20%">
                <mat-label>Phone</mat-label>
                <input matInput type="tel" placeholder="Contact Phone" name="contactPhoneNumber"
                       [(ngModel)]="insuranceRequest.contactPhoneNumber">
              </mat-form-field>
              <mat-form-field fxFlex="40%">
                <mat-label>Email</mat-label>
                <input matInput type="email" name="contactEmail" [(ngModel)]="insuranceRequest.contactEmail"
                       #contactEmail="ngModel" email>
                <mat-error *ngIf="contactEmail.control?.hasError('email')">Please provide valid email address
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <!-- Certificate holder information block -->
          <div fxFlex="50%" fxLayout="column">
            <mat-card-subtitle class="mat-title">Certificate Holder</mat-card-subtitle>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
              <mat-form-field fxFlex="100%">
                <mat-label>Facility Name</mat-label>
                <input matInput type="text" placeholder="Facility Name" name="certFacilityName"
                       [(ngModel)]="insuranceRequest.certFacilityName" required>
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
              <mat-form-field fxFlex="100%">
                <mat-label>Facility Name</mat-label>
                <input matInput type="text" placeholder="Street Address" name="certStreetAddress"
                       [(ngModel)]="insuranceRequest.certStreetAddress" required>
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
              <mat-form-field fxFlex="60%">
                <input matInput type="text" placeholder="City" name="certCity" [(ngModel)]="insuranceRequest.certCity"
                       required>
                <mat-error>This field is required</mat-error>
              </mat-form-field>
              <mat-form-field fxFlex="20%">
                <mat-select matInput type="text" placeholder="State" name="certState"
                            [(ngModel)]="insuranceRequest.certState">
                  <mat-option *ngFor="let state of statesList"
                              value="{{state.abbreviation}}">{{state.abbreviation}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field fxFlex="20%">
                <input matInput type="text" placeholder="Zip Code" name="certZip" [(ngModel)]="insuranceRequest.certZip"
                       #certZip="ngModel" required pattern="^[1-9][0-9]{4}" maxlength="5">
                <mat-error *ngIf="certZip.control?.hasError('required')">This field is required</mat-error>
                <mat-error *ngIf="certZip.control?.hasError('pattern')">Zip code requires numbers</mat-error>
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
              <mat-form-field fxFlex="40%">
                <input matInput type="text" placeholder="Contact Person Name" name="certPersonName"
                       [(ngModel)]="insuranceRequest.certPersonName" required>
              </mat-form-field>
              <mat-form-field fxFlex="20%">
                <input matInput type="tel" placeholder="Contact Person Phone" name="certPersonPhoneNumber"
                       [(ngModel)]="insuranceRequest.certPersonPhoneNumber"
                       #certPersonPhoneNumber="ngModel" pattern="\d{3}[\-]\d{3}[\-]\d{4}" minlength="12">
                <mat-error *ngIf="certPersonPhoneNumber.control?.hasError('pattern')">Please provide valid phone
                  number
                </mat-error>
                <mat-error *ngIf="certPersonPhoneNumber.control?.hasError('minlength')">Phone number can not be less
                  than 10 digits
                </mat-error>
              </mat-form-field>
              <mat-form-field fxFlex="40%">
                <input matInput type="email" placeholder="Contact Person Email" name="certPersonEmail"
                       [(ngModel)]="insuranceRequest.certPersonEmail" #certPersonEmail="ngModel" email>
                <mat-error *ngIf="certPersonEmail.control?.hasError('email')">Please provide valid email address
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div fxLayout="row" fxLayoutGap="10px">
          <div fxLayout="column" fxFlex="50%">
            <mat-card-subtitle class="mat-title">Event Information</mat-card-subtitle>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
              <mat-form-field fxFlex="60%">
                <input matInput type="text" placeholder="Name of Event" name="eventName"
                       [(ngModel)]="insuranceRequest.eventName">
              </mat-form-field>

              <mat-form-field fxFlex="20%">
                <input matInput [matDatepicker]="pickerESD" placeholder="mm/dd/yyyy"
                       name="eventStartDate" [min]="minStartDate" [max]="maxStartDate"
                       [(ngModel)]="insuranceRequest.eventStartDate" required
                       (dateChange)="onEnableEndDate($event)"
                       (input)="onEnableEndDate($event)" disabled>
                <mat-datepicker-toggle matSuffix [for]="pickerESD"></mat-datepicker-toggle>
                <mat-datepicker #pickerESD disabled="false"></mat-datepicker>
              </mat-form-field>

              <mat-form-field fxFlex="20%">
                <input matInput [matDatepicker]="pickerEED" placeholder="mm/dd/yyyy"
                       name="eventEndDate" [min]="minEndDate" [max]="maxEndDate"
                       [(ngModel)]="insuranceRequest.eventEndDate" disabled>
                <mat-datepicker-toggle matSuffix [for]="pickerEED"></mat-datepicker-toggle>
                <mat-datepicker #pickerEED [disabled]="!endDateEnabled"></mat-datepicker>
              </mat-form-field>
            </div>

          </div>

          <div fxLayout="column" fxFlex="50%">
            <div>
              <P class=mat-caption>Have you entered into any agreement, contract or permit that contains assumption of
                liability, indemnification, or hold harmless language? If
                "yes" please forward a copy of the document with this certificate request form.
              </P>
              <mat-radio-group [(ngModel)]="insuranceRequest.isAdditionalInsured" name="isAdditionalInsured">
                <mat-radio-button [value]="true">Yes</mat-radio-button>&nbsp;&nbsp;
                <mat-radio-button [value]="false">No</mat-radio-button>
              </mat-radio-group>
            </div>

            <div fxLayout="row">
              <mat-form-field fxFlex="100%">
                <input matInput type="text" placeholder="Additional Insured"
                       [(ngModel)]="insuranceRequest.additionalInsuredName" name="additionalInsuredName">
              </mat-form-field>
            </div>
            <div fxLayout="row">
              <p class=mat-caption>If requesting additional insured status, please indicate the role of the additional
                insured : </p>
              <mat-radio-group [(ngModel)]="insuranceRequest.additionalInsuredRole" name="additionalInsuredRole">
                <mat-radio-button value="OwnerOfPremises">Owner Of Premises</mat-radio-button>&nbsp;
                <mat-radio-button value="Sponsor">Sponsor</mat-radio-button>&nbsp;
                <mat-radio-button value="Other">Other</mat-radio-button>&nbsp;
              </mat-radio-group>
              <mat-form-field fxFlexFill>
                <input matInput type="text" placeholder="Please Specify"
                       [(ngModel)]="insuranceRequest.otherRoleDescription" name="otherRoleDescription">
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!--<p>Form values: {{f.value | json}}</p>-->
  </div>
  <div fxFlex></div>
</div>
