<div class="full-width-table">
  <mat-table matSort matSortActive="umpireName" matSortDirection="asc" aria-label="Umpiring Summary List">
    <ng-container matColumnDef="umpireName">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let umpireSummaryRecord" (click)="onViewUmpireDetails(umpireSummaryRecord.profileId)">{{ umpireSummaryRecord.umpireName }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="numUmpiredMatches">
      <mat-header-cell *matHeaderCellDef mat-sort-header="numUmpiredMatches">Umpired Matches</mat-header-cell>
      <mat-cell *matCellDef="let umpireSummaryRecord" (click)="onViewUmpireDetails(umpireSummaryRecord.profileId)">{{ umpireSummaryRecord.numUmpiredMatches}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="numAssistantUmpiredMatches">
      <mat-header-cell *matHeaderCellDef>Assistant Umpire Matches</mat-header-cell>
      <mat-cell *matCellDef="let umpireSummaryRecord" (click)="onViewUmpireDetails(umpireSummaryRecord.profileId)">{{ umpireSummaryRecord.numAssistantUmpiredMatches }}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>
