@use "src/my-theme" as *;

mat-grid-tile {
  background: lightblue;
}

div.tournament-list-container mat-card {
  margin-bottom: 8px;
}

mat-card-actions button {
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.toolbar-spacer-2 {
  margin-right: 16px;
}

