<div fxLayout="row">
  <div fxFlex></div>
  <div fxFlex.lt-md="100%" fxFlex="75%">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Tournament List</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-toolbar>
          <mat-toolbar-row>
            <button type="button" mat-raised-button (click)="addTournament()">
              <mat-icon matListItemIcon>add</mat-icon>Add Tournament
            </button>
            <span class="toolbar-spacer-2"></span>
            <button type="button" mat-raised-button (click)="onImportFromOmnipong()">
              <mat-icon>download</mat-icon>Import Tournament
            </button>
            <span class="toolbar-spacer-2"></span>
            <button type="button" mat-raised-button (click)="onImportFromBlankEntryFormPDF()">
              <mat-icon>upload</mat-icon>Import Blank Entry Form
            </button>
          </mat-toolbar-row>
        </mat-toolbar>
        <div fxLayout="column" fxLayoutAlign="start stretch" class="tournament-list-container">
          <ng-container *ngFor="let tournament of tournaments">
            <mat-card appearance="outlined" style="padding: 8px;">
              <mat-card-header>
                <mat-card-title>
                  <h3>{{tournament.name}}</h3>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <h3>{{[tournament.startDate, tournament.endDate] | dateRange }}</h3>
                <h4>{{ tournament.city }}, {{tournament.state}} </h4>
              </mat-card-content>
              <mat-card-actions>
                <div fxLayout="row wrap" fxLayoutAlign="start start">
                  <button mat-raised-button type="button" color="primary"
                          [routerLink]="['./tournament/edit', tournament.id]"
                          matTooltip="Edit tournament properties">
                    <mat-icon matListItemIcon>settings</mat-icon>
                    Configure
                  </button>
                  <button mat-raised-button type="button"
                          [routerLink]="['/ui/tournaments/playerlistbig', tournament.id]"
                          [state]="{ tournamentName: tournament.name, tournamentReady: tournament.ready }"
                          matTooltip="Players list">
                    <mat-icon matListItemIcon>edit_note</mat-icon>
                    Entries
                  </button>
                  <button mat-raised-button type="button"
                          [routerLink]="['/ui/today/checkincommunicatelist', tournament.id]"
                          [state]="{ tournamentName: tournament.name,
                          tournamentStartDate: tournament.startDate,
                          tournamentEndDate: tournament.endDate,
                          checkInType: tournament?.configuration?.checkInType ?? 'DAILY'}"
                          matTooltip="Player Check in">
                    <mat-icon matListItemIcon>task_alt</mat-icon>
                    Check in
                  </button>
                  <button mat-raised-button type="button" [routerLink]="['/ui/entries/doublesteams', tournament.id]"
                          matTooltip="Make or break doubles teams" >
                    <mat-icon matListItemIcon>group</mat-icon>Doubles
                  </button>
                  <button mat-raised-button type="button" [routerLink]="['./tournamentwaitinglist', tournament.id]"
                          matTooltip="Players Waiting List" >
                    <mat-icon matListItemIcon>playlist_add</mat-icon>Waiting List
                  </button>
                  <button mat-raised-button type="button" [routerLink]="['/ui/draws', tournament.id]"
                          matTooltip="Generate Draws">
                    <mat-icon matListItemIcon>grid_view</mat-icon>
                    Draws
                  </button>
                  <button mat-raised-button type="button" [routerLink]="['/ui/scheduling', tournament.id]"
                          matTooltip="Table Assignment & Time Scheduling">
                    <mat-icon matListItemIcon>schedule</mat-icon>
                    Schedule
                  </button>
                  <button mat-raised-button type="button"
                          [routerLink]="['/ui/tddashboard', tournament.id, {
                    outlets: {
                      'ploutlet': ['playerlist', tournament.id],
                      'proutlet': ['paymentsrefunds'],
                      'wloutlet': ['waitinglist', tournament.id]
                    }
                    }]"  matTooltip="Tournament Director's dashboard">
                    <mat-icon>dashboard</mat-icon>
                    TD Dashboard
                  </button>
                  <button mat-raised-button type="button"
                          [routerLink]="['/ui/processing/detail/submit', tournament.id, tournament.name]"
                          matTooltip="Submit results to USATT">
                    <mat-icon matListItemIcon>publish</mat-icon>
                    Submit Results
                  </button>
                  <button mat-raised-button type="button"
                          [routerLink]="['/ui/email/emailcampaign/list', tournament.id, tournament.name]"
                          matTooltip="Send emails to tournament players">
                    <mat-icon matListItemIcon>email</mat-icon>
                    Emails
                  </button>
                  <button mat-raised-button type="button" [routerLink]="['./tournament/create']"
                          [queryParams]="{from: tournament.id}"
                          matTooltip="Make a copy of tournament">
                    <mat-icon>flip_to_front</mat-icon>
                    Copy
                  </button>
                  <button mat-raised-button type="button" (click)="deleteTournament(tournament)"
                          matTooltip="Delete tournament">
                    <mat-icon>delete</mat-icon>
                    Delete
                  </button>
                </div>
              </mat-card-actions>
            </mat-card>
          </ng-container>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex></div>
</div>
