<app-centered-panel>
  <div fxLayout="column">
    <button class="vertical-button" type="button" mat-button (click)="directionsToVenue()">
      <mat-icon matListIcon>assistant_direction</mat-icon>Directions to Venue
    </button>
    <button class="vertical-button" type="button" mat-button color="primary" (click)="checkInCommunicate()">
      <mat-icon matListIcon>how_to_reg</mat-icon>Check-in/Communicate
    </button>
    <button class="vertical-button" type="button" mat-button color="primary" (click)="todaysSchedule()">
      <mat-icon matListIcon>schedule</mat-icon>Today's Schedule
    </button>
  </div>
</app-centered-panel>
