<app-centered-panel [hidden]="loading$ | async">
  <ng-container *ngIf="!((accountStatus$ | async)?.isActivated);else showAccountStatus">
    <div [hidden]="((accountStatus$ | async)?.accountExists)">
      <div fxLayout="row" fxLayoutAlign="start stretch">
        <div fxFlex="30%"></div>
        <div fxFlex="40%">
          <mat-card appearance="outlined">
            <mat-card-content style="text-align: left">
              <h3>This website uses <a href="https://stripe.com" target="_blank">Stripe</a> service to securely process
                payments and refunds.
              </h3>
              <h3>Before you can open up tournaments for registration, you must first configure so
                called Stripe connected account to which payments and refunds will flow. If you have an existing Stripe account you can connect
                this account to this website's account.</h3>
              <h3>Click Start to begin the Stripe account on boarding process.</h3>
            </mat-card-content>
            <mat-card-actions>
              <div fxLayout="row">
                <span fxFlex></span>
                <button mat-raised-button routerLink="/account/onboardstart" color="primary">Start</button>
              </div>
            </mat-card-actions>
          </mat-card>
        </div>
        <div fxFlex="30%"></div>
      </div>
    </div>
    <div [hidden]="!((accountStatus$ | async)?.accountExists)">
      <div fxLayout="row" fxLayoutAlign="start stretch">
        <div fxFlex="15%"></div>
        <div fxFlex="70%">
          <mat-card appearance="outlined">
            <mat-card-content style="text-align: left">
              <h3>Looks like your account is not fully configured.</h3>
              <h3>Click Resume and you will be redirected to the Stripe website to continue account on-boarding
                process.</h3>
            </mat-card-content>
            <mat-card-actions>
              <div fxLayout="row">
                <span fxFlex></span>
                <button mat-raised-button color="primary" (click)="onResumeAccount()">Resume</button>
              </div>
            </mat-card-actions>
          </mat-card>
        </div>
        <div fxFlex="15%"></div>
      </div>
    </div>
  </ng-container>
  <ng-template #showAccountStatus>
    <h3>Your account is connected and ready to accept payments.</h3>
  </ng-template>
</app-centered-panel>

