<div fxLayout="column" fxFlexAlign="center center" style="height: calc(100% - 64px)">
  <div fxFlex="30%"></div>
  <div fxFlex="40%" fxLayout="row" fxFlexAlign="center center">
    <div fxFlex>&nbsp;</div>
    <div style="text-align: center">
      <h3>Welcome back {{ playerName }}</h3>
      <h2>Rating: {{ playerRating }}</h2>
      <h4>Membership {{ isMembershipExpired() ? 'expired' : 'expires' }} on</h4>
      <h4 [style.color]="isMembershipExpired() ? 'red' : 'green'">{{ membershipExpires | date }}</h4>
    </div>
    <div fxFlex>&nbsp;</div>
  </div>
  <div fxFlex="30%"></div>
</div>
