<app-centered-panel>
  <h2>Hi,</h2>
  <h1 class="mat-display-3">{{ playerFirstName }}</h1>
  <div *ngIf="ratedPlayer">
    <p class="mat-subheading-2">Your rating is</p>
    <p class="mat-headline">{{ playerRating }}</p>
    <p class="mat-subheading-2" >USATT Membership {{ membershipExpired ? 'expired' : 'expires' }} on</p>
    <p [style.color]="membershipExpired ? 'red' : 'green'">{{ membershipExpirationDate | date }}</p>
  </div>
  <div *ngIf="tournamentDay">
    <button type="button" mat-button color="primary" [routerLink]="todayService.todayUrl">
      <mat-icon matListIcon>how_to_reg</mat-icon>Today
    </button>
  </div>
</app-centered-panel>
