<app-centered-panel>
  <div class="mat-headline-4 salutation">Hi,</div>
  <div class="mat-headline-4 salutation">{{ playerFirstName }}</div>
  <div *ngIf="!isProfileComplete(); else completedProfile" class="mat-body-1">
    <p>Your on-boarding process was not completed.</p>
    <p style="margin-bottom: 20px">You must fill out your profile before you will be allowed to proceed further.</p>
    <button mat-raised-button color="primary" (click)="goToProfileStart()">Complete On-boarding</button>
  </div>
  <ng-template #completedProfile>
    <div *ngIf="!hasTournamentToday">
      <p class="mat-subtitle-1">Your rating is</p>
      <p class="mat-headline-5">{{ playerRating }}</p>
      <p class="mat-subtitle-1">Your USATT membership {{ membershipExpired ? 'expired' : 'expires' }} on</p>
      <p [style.color]="membershipExpired ? 'red' : 'green'">{{ membershipExpirationDate | date }}</p>
    </div>
    <div fxHide.sm="true" fxHide.gt-sm="true" *ngIf="!screenVisited" class="hint mat-subtitle-1">
      Press <mat-icon aria-label="3 bars menu">menu</mat-icon> button to access menu
    </div>
    <div *ngIf="hasTournamentToday" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
      <h2>Today you are playing in </h2>
      <div class="mat-headline-5">{{tournamentName}}</div>
      <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="40px" style="padding-top: 20px;">
        <div fxLayout="column" fxLayoutAlign="start center">
          <button type="button" mat-fab color="" (click)="directionsToVenue()">
            <mat-icon>assistant_direction</mat-icon>
          </button>
          <div class="button-subscript">Directions</div>
          <div class="button-subscript-line2">to the venue</div>
        </div>
        <div *ngIf="tournamentInfo?.checkInType === 'DAILY'" fxLayout="column" fxLayoutAlign="start center">
          <button type="button" mat-fab color="" (click)="checkInCommunicate()">
            <mat-icon>how_to_reg</mat-icon>
          </button>
          <div class="button-subscript">Check-In &</div>
          <div class="button-subscript-line2">Communicate</div>
        </div>
        <div fxLayout="column" fxLayoutAlign="start center">
          <button type="button" mat-fab color="" (click)="todaysSchedule()">
            <mat-icon>schedule</mat-icon>
          </button>
          <div class="button-subscript">Schedule &</div>
          <div class="button-subscript-line2">Score Entry</div>
        </div>
        <div fxLayout="column" fxLayoutAlign="start center">
          <button type="button" mat-fab color="" (click)="tournamentDraws()">
            <mat-icon>grid_view</mat-icon>
          </button>
          <div class="button-subscript">Draws</div>
          <div class="button-subscript-line2">&nbsp;</div>
        </div>
        <div fxLayout="column" fxLayoutAlign="start center">
          <button type="button" color="" mat-fab (click)="showMyResults()">
            <mat-icon>grading</mat-icon>
          </button>
          <div class="button-subscript">My Results</div>
          <div class="button-subscript-line2">&nbsp;</div>
        </div>
      </div>
    </div>
  </ng-template>
</app-centered-panel>
