//@use "src/my-theme.scss" as *;

div.button-subscript {
  margin-top: 15px;
}

div.button-subscript-line2 {
  margin-bottom: 15px;
}

mat-icon {
  font-size: 28px;
  height: 28px;
  width: 28px;
}


.salutation {
  margin-bottom: 24px !important;
}

div.hint {
  margin-top: 20px;
}
