@use "src/my-theme.scss" as *;

button.icon-button {
  width: 80px;
  height: 80px;
  text-align: center;
  vertical-align: middle;

  mat-icon {
    font-size: 38px;
    height: 38px;
    width: 38px;
  }
}
