@import "~src/my-theme.scss";

h2 {
  padding-left: 16px;
  padding-top: 16px;
}

.toolbar-spacer-2 {
  margin-right: 16px;
}

.event-list {
  width: 220px;
  height: calc(100vh - 140px);
  overflow-y: auto;
}

.not-selected {
  background-color: white;
}

.selected {
  background-color: $accent-color;
}

mat-list-item:hover {
  background-color: #7A73FF;
}

// panel where groups appear
.draws-panel {
  height: calc(100vh - 136px);
  overflow-y: auto;
}

// Groups table
table {
  border-collapse: collapse;
  width: 300px;

  thead tr th {
    background-color: #d7c8f5;
    padding: 8px 0;

    &.group-num-column {
      text-align: start;
    }
  }

  td {
    border-bottom: 1px solid purple;
    padding-top: 4px;
    div.additional-info {
      font-size: 12px;
    }

    &.player-column {
      width: 83%;
    }

    &.rating-column {
      text-align: start;
      vertical-align: top;
      width: 17%;
    }
  }
}

