<div fxLayout="row">
  <div>
    <h2>Events</h2>
    <mat-list dense class="event-list">
      <mat-list-item *ngFor="let tournamentEvent of tournamentEvents" (click)="onSelectEvent(tournamentEvent)"
      [ngClass]="isSelected (tournamentEvent) ? 'selected' : 'not-selected'">
        {{tournamentEvent.name}}
      </mat-list-item>
    </mat-list>
  </div>
  <form name="form" #f="ngForm" novalidate>
    <div fxFlex>
    <mat-toolbar>
      <mat-toolbar-row>
        <button type="button" color="primary" mat-raised-button (click)="generateDraw()" [disabled]="selectedEvent == null">
          <mat-icon matListIcon>assignment</mat-icon>Generate
        </button>
        <span class="toolbar-spacer-2"></span>
        <button type="button" mat-raised-button  (click)="clearDraw()" [disabled]="selectedEvent == null">
          <mat-icon matListIcon>clear</mat-icon>Clear Draw
        </button>
        <span class="toolbar-spacer-2"></span>
        <button type="button" mat-raised-button  (click)="switchDraw()" [disabled]="selectedEvent == null">
          <mat-icon matListIcon>line_style</mat-icon>{{ showPlayoffDraw ? 'Main Draw' : 'Playoff Draw' }}
        </button>
        <span class="toolbar-spacer-2"></span>
        <button type="button" mat-raised-button  (click)="undoMove()" [disabled]="undoStack?.length === 0">
          <mat-icon matListIcon>undo</mat-icon>Undo Move
        </button>
        <span class="toolbar-spacer-2"></span>
        <mat-slide-toggle name="expandedView" [(ngModel)]="expandedView">Expanded View</mat-slide-toggle>
        <span fxFlex></span>
        <span *ngIf="selectedEvent" class="mat-h2" style="padding-top: 12px;">Draws for: {{selectedEvent?.name}}</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="draws-panel" *ngIf="!showPlayoffDraw">
      <div fxLayout="row wrap"
           fxLayoutGap="32px"
           fxLayoutAlign="flex-start" cdkDropListGroup>
        <div *ngFor="let group of groups; let idx = index;">
          <table>
            <thead>
            <tr>
              <th>&nbsp;</th>
              <th class="group-num-column">
                Group: {{group.groupNum}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <!--                </th>-->
                <!--                <th>-->
                {{selectedEvent.startTime | startTime}}
              </th>
            </tr>
            </thead>
            <tbody cdkDropList
                   [id]="'groupTB' + (idx + 1)"
                   (cdkDropListDropped)="onDrawItemDrop($event)"
                   [cdkDropListData]="group.drawItems"
                   [cdkDropListSortPredicate]="canDropPredicate"
                   [cdkDropListEnterPredicate]="canMoveDrawItem">
            <tr *ngFor="let drawItem of group.drawItems;"
                cdkDrag
                cdkDragBoundary=".draws-panel"
                [cdkDragData]="drawItem"
                [cdkDragDisabled]="drawItem.placeInGroup === 1">
              <ng-container *ngIf="drawItem.rating >= 0; else fakeItem;">
                <td class="rating-column">{{drawItem.rating}}</td>
                <td class="player-column"
                    [matTooltip]="getTooltipText(drawItem)"
                    matTooltipClass="additional-info-tooltip"
                    matTooltipPosition="after">
                  <div>{{drawItem.playerName}}</div>
                  <div class="additional-info" *ngIf="expandedView">
                    {{drawItem.state ? drawItem.state : 'N/A'}}, {{drawItem.clubName ? drawItem.clubName : 'N/A'}}
                  </div>
                  <!-- element shown when user is dragging dragging preview -->
                  <div *cdkDragPreview fxLayout="row" [class]="expandedView ? 'drag-preview' : 'drag-preview-small'">
                    <div fxFlex="17%">{{drawItem.rating}}</div>
                    <div fxFlex="83%">
                      <div>{{drawItem.playerName}}</div>
                      <div class="additional-info" *ngIf="expandedView">
                        {{drawItem.state ? drawItem.state : 'N/A'}}, {{drawItem.clubName ? drawItem.clubName : 'N/A'}}
                      </div>
                    </div>
                  </div>
                </td>
              </ng-container>
              <!-- element shown when there is no player in this place in the group -->
              <ng-template #fakeItem>
                <td class="rating-column">&nbsp;</td>
                <td class="player-column">
                  <div>&nbsp;</div>
                  <div class="additional-info" *ngIf="expandedView">&nbsp;</div>
                  <!-- element shown when user is dragging dragging preview -->
                  <div *cdkDragPreview fxLayout="row" [class]="expandedView ? 'drag-preview' : 'drag-preview-small'">
                    <div fxFlex="17%">&nbsp;</div>
                    <div fxFlex="83%">
                      <div>&nbsp;</div>
                      <div class="additional-info" *ngIf="expandedView">&nbsp;</div>
                    </div>
                  </div>
                </td>
              </ng-template>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <app-single-elimination-bracket *ngIf="showPlayoffDraw"></app-single-elimination-bracket>
  </div>
  </form>
</div>
