mat-grid-tile {
  background: lightblue;
}
.truncated-list-item {
  max-width: calc(100vw - 1px);
}

.results-container {
  height: calc(100vh - 72px);
}

.list-container {
  overflow: auto;
  height: calc(100vh - 160px);
}

