<div fxLayout="row" class="content-container">
  <div fxFlex></div>
  <div fxFlex.lt-md="100%" fxFlex.md="100%" fxFlex="80%">
    <div>
      <div fxLayout="row" fxLayoutAlign="space-between start" style="padding: 8px 16px 0 16px;">
        <div class="mat-headline-6">Tournaments</div>
        <mat-icon [matMenuTriggerFor]="beforeMenu">filter_list</mat-icon>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
          <button mat-menu-item *ngFor="let region of regions" (click)="onRegionChangeViaMenu(region.name)">
            {{region.name}}
          </button>
        </mat-menu>
      </div>
      <div class="mat-subtitle" style="padding: 0 8px 8px 16px;">
        {{selectedRegion}}
      </div>
      <div class="list-container">
        <mat-divider></mat-divider>
        <ng-container *ngIf="tournaments?.length > 0; else noTournaments">
        <div fxLayout.lt-md="row" fxLayout.gt-md="column">
<!--          For small devices-->
          <div style="width: 100%; margin: 8px;" fxShow.gt-md="false" fxShow.md="false" fxShow.lt-md="true">
            <mat-card appearance="outlined" *ngFor="let tournament of tournaments; first as first"
                      fxLayout="column" fxLayoutGap="8px"
                      style="margin-bottom: 8px;" [routerLink]="['view', tournament.id]">
              <mat-card-content>
                <div fxLayout="row" fxLayoutAlign="start center">
                  <div fxFlex="64px"><img [src]="tournament.logo" alt=""/></div>
                  <div fxFlex fxLayout="column" fxLayoutAlign="start start">
                    <div class="mat-caption">{{tournament.name}}</div>
                    <div fxLayout="row" fxLayoutAlign="space-between start">
                        <app-star-level [numStars]="tournament.starLevel" [compact]="true"></app-star-level>
                      <div *ngIf="tournament.totalPrizeMoney > 0" style="margin-left: 16px;">{{ tournament.totalPrizeMoney | currency : 'USD' : 'symbol' : '1.0-0'}}</div>
                    </div>
                    <div class="mat-body">{{ [tournament.startDate, tournament.endDate] | dateRange }}</div>
                    <div class="mat-body">{{ tournament.city }}, {{tournament.state}}</div>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
<!--          for larger devices -->
          <div fxShow.gt-md="true" fxShow.md="true" fxHide.lt-md="true">
              <mat-divider></mat-divider>
            <mat-list>
              <mat-list-item>
                <div matListItemTitle style="margin-left: 56px;">
                  <div fxFlex="45%">Name / Star Level / Prize Money</div>
                  <div fxFlex="25%">Dates</div>
                  <div fxFlex="25%">Location</div>
                  <div fxFlex="5%">Info</div>
                  <mat-divider></mat-divider>
                </div>
              </mat-list-item>
              <mat-list-item *ngFor="let tournament of tournaments; first as first" [routerLink]="['view', tournament.id]">
                <img matListItemAvatar [src]="tournament.logo" alt=""/>
                <div matListItemTitle fxLayout="row">
                  <div fxFlex="45%" fxLayout="column">
                    <div>{{tournament.name}}</div>
                    <div fxLayout="row">
                      <app-star-level [numStars]="tournament.starLevel" [compact]="true"></app-star-level>
                      <div *ngIf="tournament.totalPrizeMoney > 0" style="margin-left: 16px;">{{ tournament.totalPrizeMoney | currency : 'USD' : 'symbol' : '1.0-0'}}</div>
                    </div>
                  </div>
                  <div fxFlex="25%">{{ [tournament.startDate, tournament.endDate] | dateRange }}</div>
                  <div fxFlex="25%">{{ tournament.city }}, {{tournament.state}}</div>
                  <div fxFlex="5%" fxLayout="row" fxFlexAlign="start start">
                    <button fxShow.gt-md="true" fxShow.md="true" fxHide.lt-md="true" mat-icon-button [routerLink]="['view', tournament.id]">
                      <mat-icon matListItemIcon>info</mat-icon>
                    </button>
                  </div>
                  <mat-divider></mat-divider>
                </div>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
      </ng-container>
      <ng-template #noTournaments>
        <app-centered-panel>
          <div *ngIf="tournaments?.length === 0" style="width: 100%; text-align: center">
            No tournaments found in {{selectedRegion}} region.  Please choose a different region.
          </div>
        </app-centered-panel>
      </ng-template>
      </div>
    </div>
  </div>
  <div fxFlex></div>
</div>

