@use "src/my-theme.scss" as *;
@use "sass:color";

mat-grid-tile {
  background: lightblue;
}
.truncated-list-item {
  max-width: calc(100vw - 1px);
}

.results-container {
  height: calc(100vh - 72px);
}

.list-container {
  overflow: auto;
  height: calc(100vh - 160px);
}

div.tournament-info-header {
  font-size: 18px;
  margin-bottom: 8px;
  text-overflow: ellipsis;
}

div.tournament-info-details {
  font-size: 16px;
}

//mat-list-item:hover {
//}

.tournament-row:hover {
  background-color: color.adjust($primary-color, $lightness: 40%);
  cursor: pointer;
}

