<div fxLayout="row">
  <div fxFlex></div>
  <div fxFlex.lt-md="100%" fxFlex.md="100%" fxFlex="80%">
    <mat-card>
      <mat-card-title-group>
        <mat-card-title>Tournaments</mat-card-title>
        <mat-card-subtitle>
          {{selectedRegion}}
        </mat-card-subtitle>
        <div>
          <mat-icon [matMenuTriggerFor]="beforeMenu">filter_list</mat-icon>
          <mat-menu #beforeMenu="matMenu" xPosition="before">
            <button mat-menu-item *ngFor="let region of regions" (click)="onRegionChangeViaMenu(region.name)">
              {{region.name}}
            </button>
          </mat-menu>
        </div>
      </mat-card-title-group>
      <mat-card-content>
        <ng-container *ngIf="tournaments?.length > 0; else noTournaments">
        <div fxLayout.lt-md="row" fxLayout.gt-md="column">
<!--          For small devices-->
          <div style="margin-left: -16px" fxShow.gt-md="false" fxShow.md="false" fxShow.lt-md="true">
            <mat-list>
              <mat-divider></mat-divider>
              <mat-list-item *ngFor="let tournament of tournaments; first as first" [routerLink]="['view', tournament.id]">
                <img matListAvatar [src]="tournament.logo" alt=""/>
                <div matLine [ngClass.lt-md]="'truncated-list-item'">
                  {{tournament.name}}
                  <div>
                    <app-star-level [numStars]="tournament.starLevel" [compact]="true"></app-star-level>
                  </div>
                </div>
                <div matLine>{{ [tournament.startDate, tournament.endDate] | dateRange }}</div>
                <div matLine>{{ tournament.city }}, {{tournament.state}}</div>
                <button mat-icon-button [routerLink]="['view', tournament.id]">
                  <mat-icon matListIcon>info</mat-icon>
                </button>
                <mat-divider></mat-divider>
              </mat-list-item>
            </mat-list>
          </div>
<!--          for larger devices -->
          <div fxShow.gt-md="true" fxShow.md="true" fxHide.lt-md="true">
              <div mat-line fxLayout="row" style="margin-left: 72px; margin-right: 16px; margin-bottom: 8px;">
                <div fxFlex="30%">Tournament Name</div>
                <div fxFlex="10%">Star Level/Prize Money</div>
                <div fxFlex="15%">Dates</div>
                <div fxFlex="15%">Location</div>
                <div fxFlex="20%">Contact</div>
              </div>
              <mat-divider></mat-divider>
              <mat-list-item *ngFor="let tournament of tournaments; first as first" [routerLink]="['view', tournament.id]">
                <img matListAvatar [src]="tournament.logo" alt=""/>
                <div mat-line fxLayout="row">
                  <div fxFlex="30%">{{tournament.name}}</div>
                  <div fxFlex="10%" fxLayout="column">
                    <app-star-level [numStars]="tournament.starLevel" [compact]="true"></app-star-level>
                    <div>{{ tournament.totalPrizeMoney | currency : 'USD' : 'symbol' : '1.0-0'}}</div>
                  </div>
                  <div fxFlex="15%">{{ [tournament.startDate, tournament.endDate] | dateRange }}</div>
                  <div fxFlex="15%">{{ tournament.city }}, {{tournament.state}}</div>
                  <div fxFlex="20%" fxLayout="column">
                    <div>{{ tournament.tournamentDirectorName }}</div>
                    <div>{{tournament.tournamentDirectorPhone}}</div>
                  </div>
                  <button fxShow.gt-md="true" fxShow.md="true" fxHide.lt-md="true" mat-icon-button [routerLink]="['view', tournament.id]">
                    <mat-icon matListIcon>info</mat-icon>
                  </button>
                  <mat-divider></mat-divider>
                </div>
              </mat-list-item>
          </div>
        </div>
      </ng-container>
      <ng-template #noTournaments>
        <div *ngIf="tournaments?.length === 0" style="width: 100%; text-align: center">
          No tournaments found in {{selectedRegion}} region.  Please choose a different region.
        </div>
      </ng-template>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex></div>
</div>

