<div class="list-container">
  <h2>Tournament Players - {{ tournamentName }} - {{ entryInfos != null ? (entryInfos.length + ' entries') : '' }}</h2>
  <mat-toolbar>
    <button type="button" mat-raised-button (click)="onRegisterPlayer()">
      <mat-icon>add</mat-icon>Register Player
    </button>
  </mat-toolbar>
  <div *ngIf="alphabeticalEntryInfos != null" class="inner-list-container" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="20px">
    <ng-container *ngFor="let letterEntries of alphabeticalEntryInfos | keyvalue">
      <h2 class="letter-divider">{{ letterEntries.key }}</h2>
      <mat-card *ngFor="let entryInfo of letterEntries.value">
        <mat-card-content (click)="onViewEntry(entryInfo)">
          <div class="name-line" [matTooltip]="entryInfo.lastName + ', ' + entryInfo.firstName">{{ entryInfo.lastName }}, {{ entryInfo.firstName }}</div>
          <div>({{ (entryInfo.seedRating > 0) ? entryInfo.seedRating : 'N/R'}})</div>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>
</div>
