<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title></title>
</head>
<body>
Hello <span th:text="${contactName}"></span>,
<p>
    Your tournament sanction request for '<span th:text="${tournamentName}"></span>' has been approved.
</p>
<p th:if="${approvalRejectionNotes != null}">
    The following comments were added: <span th:text="${approvalRejectionNotes}"></span>
</p>
<p>
    Please visit <a th:href="${sanctionRequestUrl}">this link</a> to make a payment and complete the request.
</p>
Thank you,

<div th:text="${sanctionCoordinatorName}"></div>
<div th:text="${sanctionCoordinatorEmail}"></div>
</body>
</html>
