<div fxShow.gt-md="true" fxShow.md="true" fxHide.lt-md="true" >
  <div class="round-header-container">
    <div fxLayout="row" class="round-header">
      <div *ngFor="let round of roundNumbers">
        {{ round | roundName: 1}}
      </div>
    </div>
  </div>
  <div class="se-bracket-panel" [style.height]="bracketsHeight" *ngIf="tournament" fxLayout="row">
    <div>
      <ngtt-single-elimination-tree
        [tournament]="tournament"
        [matchTemplate]="myMatchTemplate">
      </ngtt-single-elimination-tree>

      <ng-template #myMatchTemplate let-match>
        <app-sematch [match]="match" [doublesEvent]="doublesEvent"></app-sematch>
      </ng-template>

    </div>
  </div>
</div>
<div fxHide.gt-md="true" fxHide.md="true" fxShow.lt-md="true" >
  <app-single-elimination-bracket-small
    [rounds]="roundNumbers"
    [tournament]="tournament"
    [matchTemplate]="mySmallMatchTemplate"
    [doublesEvent]="doublesEvent">

    <ng-template #mySmallMatchTemplate let-match="match">
      <app-sematch [match]="match" [doublesEvent]="doublesEvent"></app-sematch>
    </ng-template>
  </app-single-elimination-bracket-small>
</div>

