@import "~src/my-theme.scss";

.table-usage {
  //border: 1px solid green;
  height: calc(100vh - 136px);
}

.matches-list {
  width: 150px;
  //border: 1px solid red;
  overflow: scroll;
}

.not-selected {
  background-color: white;
}

.selected {
  background-color: $accent-color;
}

mat-list-item:hover {
  background-color: #7A73FF;
}


.tables-grid {
  //border: 1px solid blue;
  overflow-y: scroll;
  overflow-x: hidden;
}

$table-width: 75px;
$table-height: 67px;
$table-color: #87CEFAFF;
$margin-thickness: 5px;
$border-thickness: 1px;
$border-color: black;

.table-free {
  background-color: #87CEFAFF;
}

.table-in-use {
  background-color: $accent-color;
}

.table-top {
  width: $table-width;
  height: $table-height;
  margin: $margin-thickness $margin-thickness 0 $margin-thickness;
  border-width: $border-thickness $border-thickness 0 $border-thickness;
  border-color: $border-color;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  text-overflow: clip;
}

.table-net {
  border: 1px solid black;
  width: $table-width + 10px;
  height: 1px;
}

.table-bottom {
  width: $table-width;
  height: $table-height;
  margin: 0 $margin-thickness $margin-thickness $margin-thickness;
  border-width: 0 $border-thickness $border-thickness $border-thickness;
  border-color: $border-color;
  border-style: solid;
}

.table-container {
  padding: 20px;
  text-align: center;
}

.toolbar-spacer-2 {
  margin-right: 16px;
}
