@use "src/my-theme.scss" as *;
@use "sass:color";

.table-usage {
  height: calc(100vh - 136px);
}

.matches-list {
  width: 150px;
  overflow: scroll;
}

.match-info-line2 {
  font-size: 16px !important;
}

.not-selected {
  background-color: white;
}

.selected {
  background-color: $accent-color;
}

/*TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version.*/
mat-list-item:hover {
  background-color: color.adjust($primary-color, $lightness: 40%);
}

.match-status-ready {
  color: green;
}

.match-status-waiting {
  color: $accent-color;
}

.match-status-late {
  color: $warn-color;
}

.tables-grid {
  overflow-y: scroll;
  overflow-x: hidden;
}

$table-width: 75px;
$table-height: 67px;
$table-color: #87CEFAFF;
$margin-thickness: 5px;
$border-thickness: 1px;
$border-color: black;
$font-size: 14px;
$line-height: 97%;

.table-free {
  background-color: $table-color;
}

.table-in-use {
  background-color: color.adjust($primary-color, $lightness: 30%);
}

.table-top {
  width: $table-width;
  height: $table-height;
  margin: $margin-thickness 0 0 0;
  border-width: $border-thickness $border-thickness 0 $border-thickness;
  border-color: $border-color;
  border-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: $font-size;
  line-height: $line-height;
  text-overflow: clip;
}

.table-net {
  border: 1px solid black;
  width: $table-width + 10px;
  height: 1px;
  position: absolute;
  top: $table-height + $margin-thickness + $border-thickness + 10;
  left: -$margin-thickness;
}

.table-bottom {
  width: $table-width;
  height: $table-height;
  margin: 0 0 $margin-thickness 0;
  border-width: 0 $border-thickness $border-thickness $border-thickness;
  border-color: $border-color;
  border-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: $font-size;
  //line-height: $line-height;
  text-overflow: clip;
}

.table-time-exceeded {
  color: $warn-color;
  font-weight: bold;
}

.match-identifier-tooltip {
  font-size: 14px;
  background-color: color.adjust($primary-color, $lightness: 40%);
}

.table-container {
  padding: 10px 0;
  text-align: center;
  position: relative;
}

.selected-table-container {
  padding: 10px 0;
  text-align: center;
  position: relative;
}

.selected-table-number {
  background-color: $accent-color;
}

$link-width: 24px;
$link-height: 30px;

.table-link {
  height: $link-height;
  width: $link-width;
  flex-direction: column;
  align-self: flex-end;
  margin-bottom: 30px;
}

.table-no-link {
  height: $link-height;
  width: $link-width;
}

.toolbar-spacer-2 {
  margin-right: 16px;
}
