@import "~src/my-theme.scss";

.match-container {
  height: calc(100vh - 75px);
  //border: 1px solid green;
  overflow: hidden;
}

.event-list {
  width: 220px;
  height: calc(100vh - 100px);
  overflow-y: auto;
  //border: 1px solid blue;
}

.match-card-list {
  width: 240px;
  height: calc(100vh - 100px);
  overflow-y: auto;
  //border: 1px solid magenta;
}

.not-selected {
  background-color: white;
}

.selected {
  background-color: $accent-color;
}

mat-list-item:hover {
  background-color: #7A73FF;
}

table.match-display {
  border: 1px solid red;
  tr {
    margin-bottom: 16px;
    th {
      border: 1px solid green;
      padding: 8px;
      &.name-column {
        min-width: 250px;
      }
    }
    td {
      border: 1px solid purple;
      padding: 8px;

      &.match-number {
        text-align: center;
        vertical-align: middle;
        padding: 8px;
      }

      &.defaulted {
        text-align: center;
      }

      &.match-winner {
        background-color: greenyellow;
      }

      &.not-match-winner {
        background-color: white;
      }
    }
  }
}
