<div fxLayout="row" class="match-container">
  <div>
    <h2>Events</h2>
    <mat-list dense class="event-list">
      <mat-list-item *ngFor="let tournamentEvent of tournamentEvents" (click)="onSelectEvent(tournamentEvent)"
                     [ngClass]="isSelected (tournamentEvent) ? 'selected' : 'not-selected'">
        {{tournamentEvent.name}}
      </mat-list-item>
    </mat-list>
  </div>
  <div>
    <h2>Match Cards</h2>
    <mat-list dense class="match-card-list">
      <mat-list-item *ngFor="let matchCard of matchCards" (click)="onSelectMatchCard(matchCard)"
                     [ngClass]="isSelectedMatchCard (matchCard) ? 'selected' : 'not-selected'">
        <ng-container *ngIf="matchCard.drawType === 'ROUND_ROBIN'; else elseblock">
          RR Group {{matchCard.groupNum}}
        </ng-container>
        <ng-template #elseblock>
          SE {{matchCard.groupNum}}
        </ng-template>
      </mat-list-item>
    </mat-list>
  </div>
  <div fxFlex style="padding: 16px;" *ngIf="selectedMatchCard != null">
    <div>{{selectedEvent?.name}}
    <ng-container *ngIf="selectedMatchCard?.drawType === 'ROUND_ROBIN'; else elseblock">
      Round: Round Robin  Group: {{selectedMatchCard?.groupNum}}
    </ng-container>
    <ng-template #elseblock>
      Single Elimination Round Of: {{selectedMatchCard?.groupNum}}
    </ng-template>
    </div>
    <table class="match-display">
      <thead>
      <tr>
        <th>Match</th>
        <th>Enter</th>
        <th class="name-column">Player Name</th>
        <th [colSpan]="selectedMatchCard?.numberOfGames === 0 ? 5 : selectedMatchCard?.numberOfGames">Games</th>
      </tr>
      <tr>
        <th>#</th>
        <th>Score</th>
        <th>&nbsp;</th>
        <th *ngFor="let game of games; let idx = index;">{{idx + 1}}</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let match of selectedMatchCard?.matches; let matchIndex = index">
        <tr>
          <td [rowSpan]="2" class="match-number">{{ match.matchNum }}</td>
          <td [rowSpan]="2" class="match-number">
            <button mat-raised-button (click)="onMatchScoreEntry(match, matchIndex)">Enter</button>
          </td>
          <td>{{selectedMatchCard.profileIdToNameMap[match.playerAProfileId]}}</td>
          <td *ngFor="let game of games; let idx = index;">
            <ng-container  [ngSwitch]="idx">
              <ng-container *ngSwitchCase="0">{{match.game1ScoreSideA}}</ng-container>
              <ng-container *ngSwitchCase="1">{{match.game2ScoreSideA}}</ng-container>
              <ng-container *ngSwitchCase="2">{{match.game3ScoreSideA}}</ng-container>
              <ng-container *ngSwitchCase="3">{{match.game4ScoreSideA}}</ng-container>
              <ng-container *ngSwitchCase="4">{{match.game5ScoreSideA}}</ng-container>
              <ng-container *ngSwitchCase="5">{{match.game6ScoreSideA}}</ng-container>
              <ng-container *ngSwitchCase="6">{{match.game7ScoreSideA}}</ng-container>
            </ng-container>
          </td>
        </tr>
        <tr>
          <td>{{selectedMatchCard.profileIdToNameMap[match.playerBProfileId]}}</td>
          <td *ngFor="let game of games; let idx = index;">
            <ng-container  [ngSwitch]="idx">
              <ng-container *ngSwitchCase="0">{{match.game1ScoreSideB}}</ng-container>
              <ng-container *ngSwitchCase="1">{{match.game2ScoreSideB}}</ng-container>
              <ng-container *ngSwitchCase="2">{{match.game3ScoreSideB}}</ng-container>
              <ng-container *ngSwitchCase="3">{{match.game4ScoreSideB}}</ng-container>
              <ng-container *ngSwitchCase="4">{{match.game5ScoreSideB}}</ng-container>
              <ng-container *ngSwitchCase="5">{{match.game6ScoreSideB}}</ng-container>
              <ng-container *ngSwitchCase="6">{{match.game7ScoreSideB}}</ng-container>
            </ng-container>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>
