@use "src/my-theme.scss" as *;
@use "sass:color";

.page-title {
  padding: 0 0 0 8px;
  //width: 100%;
}

.registrations-list-container {
  height: calc(100vh - 120px);
  //border: 1px solid blue;

  div.separation-header {
    padding: 8px 16px;
    background-color: color.adjust($primary-color, $lightness: 40%);
  }

  div.empty-list-panel {
    margin-top: 80px;
  }
}
