<div class="mat-headline-6 page-title">My Registrations</div>
<div fxLayout="row">
  <div fxFlex></div>
  <div class="registrations-list-container" fxFlex.lt-md="100%" fxFlex="30%">
    <ng-container *ngIf="registrations?.length > 0">
      <mat-nav-list>
        <div mat-subheader class="separation-header" *ngIf="upcomingRegistrations?.length > 0">Upcoming</div>
        <ng-container *ngFor="let registration of upcomingRegistrations">
          <mat-list-item (click)="onView(registration)">
            <div matListItemIcon style="padding-top: 8px">
              <mat-icon *ngIf="registration.registrationEventType === 'TOURNAMENT'">emoji_events</mat-icon>
              <mat-icon *ngIf="registration.registrationEventType === 'CLINIC'">health_and_safety</mat-icon>
            </div>
            <div matListItemTitle>{{ registration.name }}</div>
            <div matListItemLine>{{ [registration.startDate, registration.endDate] | dateRange }}</div>
            <div matListItemLine>Cost: {{ (registration.cost / 100) | currency }}</div>
            <div matListItemMeta style="padding-top: 12px">
              <mat-icon>chevron_right</mat-icon>
            </div>
          </mat-list-item>
        </ng-container>
        <div mat-subheader class="separation-header" *ngIf="pastRegistrations?.length > 0">Past</div>
        <ng-container *ngFor="let registration of pastRegistrations">
          <mat-list-item (click)="onView(registration)">
            <div matListItemIcon style="padding-top: 8px">
              <mat-icon *ngIf="registration.registrationEventType === 'TOURNAMENT'">emoji_events</mat-icon>
              <mat-icon *ngIf="registration.registrationEventType === 'CLINIC'">health_and_safety</mat-icon>
            </div>
            <div matListItemTitle>{{ registration.name }}</div>
            <div matListItemLine>{{ [registration.startDate, registration.endDate] | dateRange }}</div>
            <div matListItemLine>Cost: {{ (registration.cost / 100) | currency }}</div>
            <div matListItemMeta style="padding-top: 12px">
              <mat-icon>chevron_right</mat-icon>
            </div>
          </mat-list-item>
        </ng-container>
      </mat-nav-list>
    </ng-container>
    <ng-container *ngIf="registrations != null && registrations.length === 0">
      <app-centered-panel>
        <div class="empty-list-panel">
          You don't have any registrations.
        </div>
      </app-centered-panel>

    </ng-container>
  </div>
  <div fxFlex></div>
</div>
